<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="top-h3">
                Adhoc Dashboard
            </div>
        </div>
    </div>
</div>
<!-- <div class="card animated fadeIn"  style="margin-top: 0px !important">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="callout callout-info" routerLink="/item">Total Applicants<br>
                    <strong class="h4">{{applicantsSummary[0].TotalApplicant}}</strong>
                </div>
            </div>
            <div class="col-md-4">
                <div class="callout callout-danger" routerLink="/item/issued-products">
                    Total Applications
                    <br><strong class="h4">{{applicantsSummary[0].Total_Application}}</strong>
                </div>
            </div>
            <div class="md-4">
                <div class="callout callout-warning" routerLink="/item/issued-products">
                    Total Preferences<br>
                    <strong class="h4">{{applicantsSummary[0].Total_Preference}}</strong>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- 
<div class="row row-panel">
    <div class="col-md-12">
        <div class="content-heading">Applications</div>
        <div class="grid-wrapper">
            <kendo-grid [data]="applicationsDesig">
                <kendo-grid-column [width]="10" field="asd" title="No." [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        {{(rowIndex + 1)}}.
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column [width]="70" field="Designation" title="Designation"
                    [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="employee-info">
                            <p class="m-0">{{dataItem.Designation ? dataItem.Designation : ''}}</p>
                        </div>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column="column">
                        <p class="p-strong" style="padding: 10px">Total
                        </p>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [width]="30" field="TotalApplications" title="Total"
                    [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="employee-info">
                            <p class="m-0 p-strong">{{dataItem.TotalApplications}}</p>
                        </div>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column="column">
                        <p class="p-strong" style="padding: 10px">{{total["TotalApplications"].sum | number}}
                        </p>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [width]="30" field="New" title="New" [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="employee-info">
                            <p class="m-0">{{dataItem.New ? dataItem.New : 0 }}</p>
                        </div>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column="column">
                        <p class="p-strong" style="padding: 10px">{{total["New"].sum | number}}
                        </p>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [width]="30" field="Submitted" title="Completed" [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="employee-info">
                            <p class="m-0">{{dataItem.Submitted ? dataItem.Submitted : 0}} </p>
                        </div>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column="column">
                        <p class="p-strong" style="padding: 10px">{{total["Submitted"].sum | number}}
                        </p>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column [width]="30" field="Approved" title="Approved" [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="employee-info">
                            <p class="m-0">{{dataItem.Approved ? dataItem.Approved : 0}} </p>
                        </div>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column="column">
                        <p class="p-strong" style="padding: 10px">{{total["Approved"].sum | number}}
                        </p>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [width]="30" field="Rejected" title="Rejected" [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="employee-info">
                            <p class="m-0">{{dataItem.Rejected ? dataItem.Rejected : 0}} </p>
                        </div>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column="column">
                        <p class="p-strong" style="padding: 10px">{{total["Rejected"].sum | number}}
                        </p>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
        </div>
    </div>
</div>
<hr> -->

<!-- <div class="row row-panel animated fadeIn">
    <div class="col-md-12">
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p class="content-heading cursor-p" (click)="toggle = !toggle">
                    {{adhocScrutinyCommittee && !adhocScrutinyCommittee.Id ? 'Please Register Scrutiny Committee Online' : 'Adhoc Scrutiny Committee'}}
                    <i class="fa fa-caret-left section-slider-arrow pull-right mt-2"
                        [ngClass]="toggle ? 'down' : 'left'"></i></p>
            </div>
        </div>
        <hr *ngIf="adhocScrutinyCommittee && !adhocScrutinyCommittee.Id">
        <div class="row section-slider" [ngClass]="toggle ? 'animated fadeIn' : 'closed'">
            <div class="col-md-3">
                <label class="k-form-field">
                    <span class="p-strong">Committee Notification Number</span>
                    <input kendoTextBox type="text" [(ngModel)]="adhocScrutinyCommittee.NotificationNumber">
                </label>

            </div>
            <div class="col-md-3">
                <label class="k-form-field">
                    <span class="p-strong">Notification Date</span>
                    <kendo-datepicker placeholder="Notification Date" [format]="'dd/MM/yyyy'"
                        [(ngModel)]="adhocScrutinyCommittee.NotificationDated"></kendo-datepicker>
                </label>

            </div>
            <div class="col-md-3">
                <label class="k-form-field">
                    <span class="p-strong">Meeting Held On</span>
                    <kendo-datepicker placeholder="Scrutiny Meeting Date" [format]="'dd/MM/yyyy'"
                        [(ngModel)]="adhocScrutinyCommittee.MeetingDate"></kendo-datepicker>
                </label>

            </div>
            <div class="col-md-3">
                <label class="k-form-field">
                    <span class="p-strong">Upload Notification</span>
                    <input type="file"
                        [ngClass]="adhocScrutinyCommittee.error ? 'text-danger p-strong' : adhocScrutinyCommittee.attached ? 'text-success p-strong' : ''"
                        (change)="readUrl($event, adhocScrutinyCommittee)" style="width: 100%;"
                        [name]="adhocScrutinyCommittee.Name">

                </label>
            </div>
            <div class="col-md-4">
                <label class="k-form-field">
                    <span class="p-strong">Name of Medical Superintendent</span>
                    <input kendoTextBox type="text" [(ngModel)]="adhocScrutinyCommittee.MSName">
                </label>
                <label class="k-form-field">
                    <span class="p-strong">Health Facility Name of Medical Superintendent</span>
                    <input kendoTextBox type="text" [(ngModel)]="adhocScrutinyCommittee.MSHFName">
                </label>
                <label class="k-form-field">
                    <span class="p-strong">Role of Medical Superintendent</span>
                    <input kendoTextBox type="text" [(ngModel)]="adhocScrutinyCommittee.MSRole">
                </label>
            </div>
            <div class="col-md-4">
                <label class="k-form-field">
                    <span class="p-strong">Name of Focal Person</span>
                    <input kendoTextBox type="text" [(ngModel)]="adhocScrutinyCommittee.FPName">
                </label>
                <label class="k-form-field">
                    <span class="p-strong">Health Facility Name of Focal Person</span>
                    <input kendoTextBox type="text" [(ngModel)]="adhocScrutinyCommittee.FPHFName">
                </label>
                <label class="k-form-field">
                    <span class="p-strong">Role of Focal Person</span>
                    <input kendoTextBox type="text" [(ngModel)]="adhocScrutinyCommittee.FPRole">
                </label>
            </div>
            <div class="col-md-4">
                <label class="k-form-field">
                    <span class="p-strong">Name of District Health Officer</span>
                    <input kendoTextBox type="text" [(ngModel)]="adhocScrutinyCommittee.DHOName">
                </label>
                <label class="k-form-field">
                    <span class="p-strong">Health Facility Name of District Health Officer</span>
                    <input kendoTextBox type="text" [(ngModel)]="adhocScrutinyCommittee.DHOHFName">
                </label>
                <label class="k-form-field">
                    <span class="p-strong">Role of District Health Officer</span>
                    <input kendoTextBox type="text" [(ngModel)]="adhocScrutinyCommittee.DHORole">
                </label>
            </div>
            <div class="col-md-4 offset-md-8 mt-2">
                <button kendoButton primary="true" class="btn-lg" [disabled]="!adhocScrutinyCommittee.MSName
                || !adhocScrutinyCommittee.MSHFName
                || !adhocScrutinyCommittee.MSRole
                || !adhocScrutinyCommittee.FPName
                || !adhocScrutinyCommittee.FPHFName
                || !adhocScrutinyCommittee.FPRole
                || !adhocScrutinyCommittee.NotificationDated 
                || !adhocScrutinyCommittee.DHOName
                || !adhocScrutinyCommittee.NotificationNumber
                || !adhocScrutinyCommittee.DHOHFName 
                || !adhocScrutinyCommittee.MeetingDate 
                || !adhocScrutinyCommittee.DHORole" [ladda]="saving" data-style="zoom-in"
                    (click)="saveAdhocScrutinyCommittee()">Submit</button>
            </div>
        </div>
    </div>
</div>
<hr *ngIf="adhocScrutinyCommittee && adhocScrutinyCommittee.Id > 0"> -->
<div class="row animated fadeIn" *ngIf="adhocScrutinyCommittee && adhocScrutinyCommittee.Id > 0">
    <div class="col-md-12 animatd fadeIn">
        <div class="grid-wrapper">
            <kendo-grid [data]="applicationsDesig">
                <kendo-grid-column [width]="10" field="asd" title="No." [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        {{(rowIndex + 1)}}.
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column [width]="70" field="Designation" title="Designation"
                    [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <p (click)="openInNewTab('adhoc-applications/scrutiny/' + dataItem.Designation_Id + '/0')"
                            class="m-0 cursor-p hover-success">
                            {{dataItem.Designation ? dataItem.Designation : ''}}</p>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column="column">
                        <p class="p-strong" style="padding: 5px">Total
                        </p>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column [width]="30" field="Total" title="Total Applications"
                    [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <p class="m-0 p-strong cursor-p hover-success"
                            (click)="openInNewTab('adhoc-applications/scrutiny/' + dataItem.Designation_Id + '/0')">
                            {{(dataItem.Submitted ? dataItem.Submitted : 0) + (dataItem.Approved ? dataItem.Approved : 0) + (dataItem.Rejected ? dataItem.Rejected : 0)}}
                        </p>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column="column">
                        <!--  <p class="p-strong" style="padding: 5px">
                            {{((total["Submitted"] ? (+total["Submitted"].sum | number) : 0) + 
                            (total["Approved"] ? (+total["Approved"].sum | number) : 0) + 
                            (total["Rejected"] ? (+total["Rejected"].sum | number) : 0)) | number}}
                        </p> -->
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [width]="30" field="Approved" title="Approved" [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <p class="m-0 p-strong cursor-p hover-success"
                            (click)="openInNewTab('adhoc-applications/scrutiny/' + dataItem.Designation_Id + '/2')">
                            {{dataItem.Approved ? dataItem.Approved : 0}} </p>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column="column">
                        <p class="p-strong" style="padding: 5px">
                            {{total["Approved"] ? (total["Approved"].sum | number) : 0}}
                        </p>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [width]="30" field="Rejected" title="Rejected" [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <p class="m-0 p-strong cursor-p hover-success"
                            (click)="openInNewTab('adhoc-applications/scrutiny/' + dataItem.Designation_Id + '/3')">
                            {{dataItem.Rejected ? dataItem.Rejected : 0}} </p>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column="column">
                        <p class="p-strong" style="padding: 5px">
                            {{total["Rejected"] ? (total["Rejected"].sum | number) : 0}}
                        </p>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [width]="30" field="Submitted" title="Pending" [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
                        <p (click)="openInNewTab('adhoc-applications/scrutiny/' + dataItem.Designation_Id + '/4')"
                            class="m-0 p-strong cursor-p hover-success" style="padding: 5px">
                            {{dataItem.Submitted ? dataItem.Submitted : 0}}
                        </p>
                        <!--    [headerClass]="'grid-header-custom'"
                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <p class="m-0">{{dataItem.Submitted ? dataItem.Submitted : 0}} </p> -->
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column="column">
                        <p class="p-strong" style="padding: 5px">
                            {{total["Submitted"] ? (total["Submitted"].sum | number) : 0}}
                        </p>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [width]="30" field="Rejected" title="View / Action"
                    [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <button class="animated fadeIn" [look]="'outline'" class="btn btn-sm" kendoButton primary="true"
                            (click)="openInNewTab('adhoc-applications/job-detail/' + dataItem.Designation_Id)"><i
                                class="fa fa-table"></i>
                            Detail</button>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column="column">
                        <p class="p-strong" style="padding: 5px">
                        </p>
                    </ng-template>
                </kendo-grid-column>
                <!--   <kendo-grid-column [width]="30" field="Rejected" title="Grievance Minutes"
                    [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <button class="animated fadeIn" [disabled]="2 + 2 == 4" class="btn btn-sm" kendoButton
                            primary="true"><i class="fa fa-search"></i>
                            View Minutes</button>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column="column">
                        <p class="p-strong" style="padding: 5px">
                        </p>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [width]="30" field="Rejected" title="Merit List" [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <button class="animated fadeIn" [disabled]="2 + 2 == 4" class="btn btn-sm" kendoButton
                            primary="true"><i class="fa fa-search"></i>
                            View Merit List</button>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column="column">
                        <p class="p-strong" style="padding: 5px">
                        </p>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [width]="30" field="Rejected" title="Schedule Interview"
                    [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <button class="animated fadeIn" [disabled]="2 + 2 == 4" class="btn btn-sm" kendoButton
                            primary="true"><i class="fa fa-clock-o"></i>
                            Schedule Interview</button>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column="column">
                        <p class="p-strong" style="padding: 5px">
                        </p>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [width]="30" field="Rejected" title="Attendance" [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <button class="animated fadeIn" [disabled]="2 + 2 == 4" class="btn btn-sm" kendoButton
                            primary="true"><i class="fa fa-graduation-cap"></i>
                            View Merit List</button>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column="column">
                        <p class="p-strong" style="padding: 5px">
                        </p>
                    </ng-template>
                </kendo-grid-column> -->
            </kendo-grid>
        </div>
    </div>
</div>

<div class="page preview-order p-4" id="phfmchr" hidden>
    <div class="page preview-order p-4">
        <div>
            <table class="doc" style="border:none !important;">
                <tbody>
                    <tr>
                        <td style="border-color:transparent !important; text-align:left;">
                            <img alt="Punjab Government Log"
                                src="https://hrmis.pshealthpunjab.gov.pk/assets/img/brand/govlogoUpdated.png"
                                style="display:inline-block; width:134px" />
                        </td>
                        <td style="border-color:transparent !important; text-align:center;font-size: 16px !important;">
                            <div style="display:inline-block;text-align:center;">
                                <p style="font-size: 18px;margin-right: 165px !important;"><strong>DISTRICT HEALTH
                                        AUTHORITY<br />PRIMARY
                                        &amp; SECONDARY HEALTHCARE DEPARTMENT<br />PUNJAB </strong></p>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <p>
            <span style="margin-left: 65px;">The Meeting of Scrutiny Committee constituted through the Notification No.
                {{adhocScrutinyCommittee.NotificationNumber}} dated
                {{adhocScrutinyCommittee.NotificationDated | date : 'dd/MM/yyyy'}} held
                on {{adhocScrutinyCommittee.MeetingDate | date : 'dd/MM/yyyy'}} to scrutinize the applications
                received against the recruitment on adhoc basis for {{report.Designation}} in
                district {{adhocScrutinyCommittee.District}}</span>
        </p>
        <br>
    </div>
    <table class="doc">
        <tr>
            <th colspan="3" style="font-size: 14px !important;">
                <p>{{report.Designation}}</p>
            </th>
        </tr>
        <tr>
            <th>
                <p style="font-size: 14px !important;">Total No. of Applications</p>
            </th>
            <th>
                <p style="font-size: 14px !important;">Eligible For Interview</p>
            </th>
            <th>
                <p style="font-size: 14px !important;">Not Eligible For Interview</p>
            </th>
        </tr>
        <tr>
            <td>
                <p style="font-size: 14px !important;">{{report.Total?.Total ? report.Total?.Total : 0}}</p>
            </td>
            <td>
                <p style="font-size: 14px !important;">{{report.Approved?.Total ? report.Approved?.Total : 0}}</p>
            </td>
            <td>
                <p style="font-size: 14px !important;">{{report.Rejected?.Total ? report.Rejected?.Total : 0}}</p>
            </td>
        </tr>
    </table>
    <br>
    <p>
        The detail is as under:-
    </p>
    <br>

    <table class="doc">
        <thead>
            <tr>
                <th>
                    <p style="margin-top: 30px !important">Sr.</p>
                </th>
                <th>
                    <p style="margin-top: 30px !important">Name</p>
                </th>

                <th>
                    <p style="margin-top: 30px !important">CNIC</p>
                </th>
                <th>
                    <p style="margin-top: 30px !important">Contact Number</p>
                </th>
                <th>
                    <p style="margin-top: 30px !important">Status</p>
                </th>
            </tr>
        </thead>
        <tfoot>

            <tr style="border:none !important;">
                <td colspan="2" style="border:none !important;">
                    <p class="m-0" style="margin-top: 30px !important;">
                        ({{adhocScrutinyCommittee.MSName}})</p>
                    <p class="m-0">Medical Superintendent</p>
                    <p class="m-0">{{adhocScrutinyCommittee.MSHFName}}</p>
                    <p class="m-0" style="margin-bottom: 30px !important;">{{adhocScrutinyCommittee.MSRole}}</p>
                </td>
                <td colspan="2" style="border:none !important;">
                    <p class="m-0" style="margin-top: 30px !important;">
                        ({{adhocScrutinyCommittee.FPName}})</p>
                    <p class="m-0">District Focal Person</p>
                    <p class="m-0" style="margin-bottom: 30px !important;">{{adhocScrutinyCommittee.FPRole}}</p>
                </td>
                <td style="border:none !important;">
                    <p class="m-0" style="margin-top: 30px !important;">
                        ({{adhocScrutinyCommittee.DHOName}})</p>
                    <p class="m-0">District Health Officer</p>
                    <p class="m-0">{{adhocScrutinyCommittee.DHOHFName}}</p>
                    <p class="m-0" style="margin-bottom: 30px !important;">{{adhocScrutinyCommittee.DHORole}}</p>
                </td>
            </tr>
        </tfoot>

        <tr *ngFor="let doc of documents;let i = index;">
            <td>
                <p>{{(i + 1)}}</p>
            </td>
            <td style="text-align: left;">
                <p>{{doc.Name}}</p>
            </td>

            <td>
                <p>{{dashifyCNIC(doc.CNIC)}}</p>
            </td>
            <td>
                <p>{{phonifyNumber(doc.MobileNumber)}}</p>
            </td>
            <td>
                <p>
                    {{doc.Status_Id == 2 ? 'Shortlisted For Interview' : doc.Status_Id == 3 ? 'Not Shortlisted For Interview' : ''}}
                </p>
                <p><small>by Scrutiny Committee of District {{doc.StatusChangedByDistrict}}</small></p>
                <p style="font-size: 8px;" *ngFor="let sr of doc.adhocScrutinies"><span
                        class="p-strong">{{sr.DocName}}:&nbsp;</span>{{sr.ReasonDetail}}</p>
            </td>
        </tr>
    </table>
    <p>
        <!--   <br><br>
        <table class="doc" style="border:none !important;">

        </table> -->
        <!--  <div class="row">
            <div class="col-md-6">
                <p>
                    <span style="margin-left:100px; font-weight: bold">Chief Executive Officer</span><br />
                    <span style="margin-left:90px; font-weight: bold">District Health Authority</span><br />
                    <span style="margin-left:100px; font-weight: bold">Khushab (Member)</span><br />
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <span style="margin-left:100px; font-weight: bold">Additional Deputy Commissioner (F &
                        P),</span><br />
                    <span style="margin-left:200px; font-weight: bold">Khushab (Member)</span><br />
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <p>
                    <span style="margin-left:100px; font-weight: bold">District Health Officer (MIS&HRM)</span><br />
                    <span style="margin-left:100px; font-weight: bold">District Health Authority Khushab/</span><br />
                    <span style="margin-left:80px; font-weight: bold">Rep. of Govt. of Punjab, P&SHC Deptt.</span><br />
                    <span style="margin-left:150px; font-weight: bold">Lahore (Member)</span><br />
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <span style="margin-left:200px; font-weight: bold">Principle</span><br />
                    <span style="margin-left:100px; font-weight: bold">General Nusring School Khushab</span><br />
                    <span style="margin-left:150px; font-weight: bold">(Female Officer Member)</span><br />
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <p>
                    <span class="offset-4" style="font-weight: bold">Deputy Commisioner /</span><br />
                    <span style="margin-left:450px; font-weight: bold">Administrator District Health
                        Authority</span><br />
                    <span class="offset-4" style="font-weight: bold">Khushab (Chairman)</span><br />
                </p>
            </div>
        </div> -->
</div>


<!-- <div class="row row-panel">
    <div class="col-md-12">
        <div class="grid-top-header-custom animated fadeIn" *ngIf="kGrid.totalRecords > 0">
            <div class="pager-rows-number">
                <span>
                    {{(kGrid.skip + 1) + ' - ' + (kGrid.pageSize <= kGrid.totalRecords ? (kGrid.pageSize + kGrid.skip) :
                    kGrid.totalRecords) + ' of ' + kGrid.numberWithCommas(kGrid.totalRecords) + ' items ' }} </span>
                <span class="ml-4"><span *ngFor="let sum of summary" class="ml-4"><strong class="p-strong">
                            {{sum.Name}}:
                        </strong> <u>{{sum.Count | number}}</u></span> </span>
                <span class="pull-right">
                    Show &nbsp; <select #select (change)="changePagesize(select.value)">
                        <option *ngIf="kGrid.showInitialPageSize" [value]="kGrid.pageSize">{{kGrid.pageSize}}
                        </option>
                        <option *ngFor="let page of kGrid.pageSizes" [value]="page"
                            [selected]="page === kGrid.pageSize ? true : undefined">
                            {{page}}
                        </option>
                    </select>
                    &nbsp; items per page
                </span>
            </div>
        </div>
        <div class="grid-wrapper">
            <kendo-grid [data]="kGrid.gridView" [sortable]="{
                  allowUnsort: kGrid.allowUnsort,
                  mode: kGrid.multiple ? 'multiple' : 'single'
                  }" [scrollable]="false" [sort]="kGrid.sort" (sortChange)="sortChange($event)"
                [(pageSize)]="kGrid.pageSize" [skip]="kGrid.skip" [pageable]="true" (pageChange)="pageChange($event)">
                <kendo-grid-column [width]="6" field="asd" title="No." [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        {{(rowIndex + 1)}}.
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [width]="32" field="EmployeeName" title="Candidate"
                    [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="employee-info">
                            <p class="m-0"><strong class="p-strong"> Name: </strong>
                                {{dataItem.Name ? dataItem.Name : ''}}</p>
                            <p class="m-0"><strong class="p-strong"> Father Name: </strong>
                                {{dataItem.FatherName ? dataItem.FatherName : ''}}</p>
                            <p class="m-0"><strong class="p-strong"> CNIC: </strong> {{dashifyCNIC(dataItem.CNIC)}}
                            </p>
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [width]="31" field="TrackingNumber" title="Application Info"
                    [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="application-info">
                            <p class="m-0"><strong class="p-strong"> Merit # </strong> {{dataItem.MeritNumber}}
                            </p>
                            <p class="m-0"><strong class="p-strong"> Application # </strong>
                                {{dataItem.ApplicationNumber}}
                            </p>
                            <p class="m-0"><strong class="p-strong"> PMDC # </strong> {{dataItem.PMDCNumber}}</p>
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [width]="31" field="asd" title="Action" [headerClass]="'grid-header-custom'"
                    [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="application-info">
                            <p class="m-0"><strong class="p-strong">Status: </strong>{{dataItem.Status}}</p>
                            <p class="m-0">{{dataItem.DesignationName}}</p>
                            <button kendoButton [primary]="true"
                                [look]="'outline'" class="btn-sm mr-2"
                                [routerLink]="['/ppsc/profile-entry/' + dataItem.Id]">Edit</button>
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <div class="pager-rows-number">
                        <select #select (change)="changePagesize(select.value)">
                            <option *ngIf="kGrid.showInitialPageSize" [value]="kGrid.pageSize">{{kGrid.pageSize}}
                            </option>
                            <option *ngFor="let page of kGrid.pageSizes" [value]="page"
                                [selected]="page === kGrid.pageSize ? true : undefined">
                                {{page}}
                            </option>
                        </select> &nbsp; items per page
                    </div>
                    <kendo-pager-info></kendo-pager-info>
                </ng-template>
            </kendo-grid>
            <div *ngIf="kGrid.loading" class="k-i-loading"></div>
        </div>
    </div>
</div> -->