<div class="animated fadeIn" *ngIf="healthFacility">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="top-h3" [ngClass]="healthFacility ? '' : 'shine'">
        {{healthFacility?.FullName}}
      </div>
    </div>
    <div class="col-md-4 col-xs-12" *ngIf="currentUser.RoleName != 'HRView'">
      <div class="top-controls" *ngIf="!currentUser.UserName.toLowerCase().startsWith('ceo.')">
        <!--  <button kendoButton [primary]="true" routerLink="/health-facility/list">Back To List</button>
        <div *ngIf="currentUser.RoleName != 'Deputy Secretary' && currentUser.RoleName != 'HRView'">
          <button type="button" kendoButton [primary]="true" [look]="'outline'"
            [routerLink]="'/health-facility/' + healthFacility.HFMISCode + '/edit'"
            class="pull-right mr-2 ml-2">Edit</button>
          <button kendoButton [primary]="true" [routerLink]="['/vacancy-position/' + healthFacility.HFMISCode +'/new']"
            [look]="'outline'">Add Vacancy</button> -->
      </div>
    </div>
    <div class="top-controls" *ngIf="currentUser.UserName.toLowerCase().startsWith('ceo.')">
      <!--   <button kendoButton [primary]="true" routerLink="/health-facility/list">Back To List</button>
        <button type="button" kendoButton
          *ngIf="healthFacility.HFTypeCode != '011' && healthFacility.HFTypeCode != '012'" [primary]="true"
          [look]="'outline'" [routerLink]="'/health-facility/' + healthFacility.HFMISCode + '/edit'"
          class="pull-right mr-2 ml-2">Edit</button>
        <button kendoButton [primary]="true"
          *ngIf="healthFacility.HFTypeCode != '011' && healthFacility.HFTypeCode != '012'"
          [routerLink]="['/vacancy-position/' + healthFacility.HFMISCode +'/new']" [look]="'outline'" class="pull-right"
          [ngClass]="healthFacility.HFTypeCode == '011' || healthFacility.HFTypeCode == '012' ? 'mr-2' : ''">Add
          Vacancy</button> -->
    </div>
  </div>
  <tabset>
    <tab heading="General Information" (selectTab)="onTabSelect($event)">
      <app-basic-info-place *ngIf="selectedTab == 'General Information'" [healthFacility]="healthFacility"
        [heads]="healthFacility.Heads" [dashboardView]="dashboardView" [hfPhoto]="hfPhoto.src"
        [hfPhotoLoaded]="hfPhotoLoaded"></app-basic-info-place>
    </tab>
    <!-- <tab heading="Staff Statement" (selectTab)="onTabSelect($event)">
      <app-staff-statement-place *ngIf="selectedTab == 'Staff Statement'" [hfmisCode]="healthFacility.HFMISCode"
        [headOfDepartment]="healthFacility.HeadOfDepartment">
      </app-staff-statement-place>
    </tab> -->
  </tabset>
</div>

<div class="animated fadeIn" *ngIf="!healthFacility">
  <div class="row">
    <div class="col-md-7 col-xs-12">
      <div class="shine shim-controls top-h3"></div>
    </div>
    <div class="col-md-2 col-xs-12 control-col-st">
      <div class="top-controls">
        <div class="shine shim-controls"></div>
      </div>
    </div>
    <div class="col-md-1 col-xs-12 control-col">
      <div class="top-controls">
        <div class="shine shim-controls"></div>
      </div>
    </div>
    <div class="col-md-2 col-xs-12 control-col-end">
      <div class="top-controls">
        <div class="shine shim-controls"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 control-col-st">
      <div class="shine shim-controls btn-align-v"></div>
    </div>
    <div class="col-md-2 control-col">
      <div class="shine shim-controls btn-align-v"></div>
    </div>
    <div class="col-md-2 control-col">
      <div class="shine shim-controls btn-align-v"></div>
    </div>
    <div class="col-md-2 control-col">
      <div class="shine shim-controls btn-align-v"></div>
    </div>
    <div class="col-md-2 control-col">
      <div class="shine shim-controls btn-align-v"></div>
    </div>
    <div class="col-md-1 control-col">
      <div class="shine shim-controls btn-align-v"></div>
    </div>
    <div class="col-md-1 control-col-end">
      <div class="shine shim-controls btn-align-v"></div>
    </div>
  </div>
</div>
<div class="animated fadeIn" *ngIf="!healthFacility">
  <div class="row row-panel">
    <div class="col-md-7 control-col-st">
      <div class="shine shim-thumb-lg"></div>
    </div>
    <div class="col-md-5 control-col-end">
      <div class="shine shim-thumb"></div>
      <div class="shine shim-thumb mt-4"></div>
    </div>
  </div>
</div>
