<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card mx-4 animated fadeIn"
                        style="background-color: transparent;border: none !important; margin-top: 0px !important;padding: 0px !important;">
                        <div class="card-body" style="padding: 0px !important;">
                            <!--  <div class="authentication-form-header">
                <h3 class="mobile-brand-custom" style="font-family: 'Roboto-Light'">
                  Sign in to HRMIS
                </h3>
              </div> -->
                            <div class="d-flex text-center">
                                <div class="dept-name" style="width: 100%;padding: 40px 0px 0px 0px;">
                                    <div class="dept-second">
                                        HRMIS - Preferences Portal
                                    </div>
                                    <hr>
                                    <div class="dept-first">
                                        <small> <span class="pull-left">Active Post: <strong class="p-strong">Dental Surgeon
                                                    (BS-17)</strong></span>
                                           <!--  <span class="pull-right hidden-mobile">End Date: <strong
                                                    class="p-strong">12-12-2019</strong></span> -->
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>