
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/assets/Cards/css/card-style.css" rel="stylesheet" />
</head>
<body>
    <div class="card-case">
        <div class="card-pic"><img src="~/assets/Cards/images/zubair-.jpg" /></div>
        <div class="employee-details">
            <div class="name">Muhammad Zubair Safdar</div>
            <div class="designation">(Software Developer)</div>
            <div class="cnic">35202-2546204-1</div>
        </div>
    </div>
</body>
</html>
