<div *ngIf="!profile" class="k-i-loading"></div>
<div class="animated fadeIn" *ngIf="profile">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="top-h3">
        {{profile.EmployeeName ? profile.EmployeeName : 'Employee Profile'}}
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn" *ngIf="profile && leaveOrders.length > 0">
  <div class="row">
    <div class="col-md-12">
      <kendo-grid [data]="leaveOrders" [resizable]="true">
        <kendo-grid-column field="DateTime" [title]="'Date'" width="15" [headerClass]="'grid-header-text-center'"
          [style]="{'padding': '8px 12px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
          <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
            <p class="m-0 text-center">{{ dataItem.DateTime | date:'dd/MM/yyyy' }}</p>
          </ng-template>
        </kendo-grid-column>
        <!--   <kendo-grid-column field="DateTime" [title]="'Time'" width="10" [headerClass]="'grid-header-text-center'"
    [style]="{'padding': '8px 12px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
    <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
      <p class="m-0 text-center">{{ dataItem.Created_Date | date:'h:mm a' }}</p>
    </ng-template>
  </kendo-grid-column> -->
        <kendo-grid-column field="ActionName" [title]="'Leave Type'" width="25" [headerClass]="'grid-header-text'"
          [style]="{'padding': '8px 12px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
          <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
            <div class="d-flex flex-column width-full" style="font-weight: 100 !important;">
              {{dataItem.LeaveTypeName}}
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="ToStatus" width="40" title="Duration" [headerClass]="'grid-header-text'"
          [style]="{'padding': '8px 12px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
          <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
            <div><strong style="font-family: Roboto-Bold !important;"
                class="no-underline text-bold wb-break-all d-inline-block"
                href="">{{ dataItem.FromDate | date:'dd/MM/yyyy' }}</strong> - <strong
                style="font-family: Roboto-Bold !important;" class="no-underline text-bold wb-break-all d-inline-block"
                href="">{{ dataItem.ToDate | date:'dd/MM/yyyy' }}</strong> - <u>{{dataItem.TotalDays}} days</u></div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="ToStatus" width="20" title="Order" [headerClass]="'grid-header-text'"
          [style]="{'padding': '8px 12px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
          <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
            <p class="m-0 cursor-p" (click)="viewOrder(dataItem)"><u>view order</u>
            </p>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</div>

<kendo-dialog [title]="selectedOrder.EmployeeName" *ngIf="selectedOrder && viewOrderWindow" [minWidth]="'450'"
  [height]="'585'" [width]="'830'" (close)="closeViewOrderWindow()">
  <div class="order-view-div" [innerHTML]="transform(selectedOrder.OrderHTML)"></div>
</kendo-dialog>
