<div class="animated fadeIn">
  <div>
    <form name="profileform" #f="ngForm" novalidate>
      <div>
        <div class="card card-accent-success animated fadeIn" *ngIf="step == 1">
          <div class="card-header animated fadeIn">
            <h5 class="m-0">PERSONAL INFORMATION
            </h5>
          </div>
          <div class="card-body animated fadeIn">
            <div class="row print-not" id="applicantInfo">
              <div class="col-md-3 col-sm-4 col-xs-12 mt-2 control-col-st">
                <label class="k-form-field">
                  <span>CNIC</span>&nbsp;<span class="text-danger">*</span>
                  <kendo-maskedtextbox [mask]="cnicMask" disabled name="CNIC" [value]="applicant.CNIC" required>
                  </kendo-maskedtextbox>
                </label>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12 mt-2 control-col">
                <label class="k-form-field">
                  <span>Name <span class="text-danger">*</span>&nbsp;<span class="text-muted">(as on CNIC)</span></span>
                  <input kendoTextBox type="text" name="EmployeeName" [disabled]="id == 1"
                    [(ngModel)]="applicant.EmployeeName" #EmployeeName="ngModel" required />
                </label>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12 mt-2 control-col">
                <label class="k-form-field">
                  <span>S/D/W of</span>&nbsp;<span class="text-danger">*&nbsp;<span class="text-muted">(as on
                      CNIC)</span></span>
                  <input kendoTextBox type="text" [disabled]="id == 1" name="FatherName"
                    [(ngModel)]="applicant.FatherName" #FatherName="ngModel" required />
                </label>
              </div>

              <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col-end">
                <label class="k-form-field">
                  <span>Gender</span>&nbsp;<span class="text-danger">*</span>
                  <kendo-dropdownlist [data]="dropDowns.genders" [valuePrimitive]="true" name="Gender"
                    [disabled]="id == 1" [(ngModel)]="applicant.Gender" #Gender="ngModel" [value]="'Select...'"
                    [defaultItem]="'Select...'" required>
                  </kendo-dropdownlist>
                </label>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mt-2 control-col-st">
                <label class="k-form-field">
                  <span>Date of Birth</span>&nbsp;<span class="text-danger">*</span>
                  <kendo-datepicker name="DateOfBirth" [max]="birthDateMax" [disabled]="id == 1" [min]="birthDateMin"
                    [format]="'dd/MM/yyyy'" placeholder="Select Date" [(ngModel)]="applicant.DateOfBirth"
                    #DateOfBirth="ngModel" required>
                  </kendo-datepicker>
                </label>
              </div>
              <div class="col-md-1 col-sm-6 col-xs-12 mt-2 control-col" *ngIf="applicant.Age">
                <label class="k-form-field">
                  <span>Age</span>&nbsp;<span class="text-danger">*</span>
                  <input kendoTextBox disabled name="Age" [(ngModel)]="applicant.Age" #Age="ngModel" required />
                </label>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col">
                <label class="k-form-field">
                  <span>Domicile</span>&nbsp;<span class="text-danger">*</span>
                  <kendo-dropdownlist [data]="dropDowns.domicile" [disabled]="id == 1" [textField]="'DistrictName'"
                    [valueField]="'Id'" (valueChange)="dropdownValueChanged($event, 'domicile')"
                    [value]="dropDowns.selectedFiltersModel.domicile"
                    [defaultItem]="dropDowns.defultFiltersModel.domicile" required>
                  </kendo-dropdownlist>
                </label>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mt-2 control-col-end">
                <label class="k-form-field">
                  <span>Marital Status</span>&nbsp;<span class="text-danger">*</span>
                  <kendo-dropdownlist name="MaritalStatus" [disabled]="id == 1" [data]="dropDowns.maritalStatusItems"
                    [(ngModel)]="applicant.MaritalStatus" #MaritalStatus="ngModel"
                    [defaultItem]="dropDowns.defultFiltersModel.maritalStatus" [textField]="'text'"
                    [valueField]="'value'" [valuePrimitive]="true" required>
                  </kendo-dropdownlist>
                </label>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mt-2 control-col-st">
                <label class="k-form-field">
                  <span>Mobile</span>&nbsp;<span class="text-danger">*</span>&nbsp;<span class="text-muted">(SMS alerts
                    will
                    be sent on mobile number)</span>
                  <kendo-maskedtextbox name="MobileNo" [disabled]="id == 1" [mask]="mobileMask"
                    [(ngModel)]="applicant.MobileNo" #MobileNo="ngModel" required>
                  </kendo-maskedtextbox>
                </label>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col">
                <label class="k-form-field">
                  <span>Email</span>&nbsp;<span class="text-danger">*</span>
                  <input kendoTextBox type="email" name="Email" [disabled]="id == 1" [(ngModel)]="applicant.EMaiL"
                    #EMaiL="ngModel"
                    pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                    [ngClass]="{ 'is-invalid': EMaiL.invalid }">
                </label>
              </div>
              <div class="col-md-5 col-sm-6 col-xs-12 mt-2 control-col-end">
                <label class="k-form-field">
                  <span>Address</span>&nbsp;<span class="text-danger">*</span>&nbsp;<span class="text-muted">(House No.
                    ,
                    Street No. , Colony/Block, Tehsil, District)</span>
                  <input kendoTextBox type="text" [disabled]="id == 1" name="PermanentAddress"
                    [(ngModel)]="applicant.PermanentAddress" #PermanentAddress="ngModel">
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-accent-success animated fadeIn" *ngIf="step == 1">
          <div class="card-header animated fadeIn">
            <h5 class="m-0">POSTING DETAIL
            </h5>
          </div>
          <div class="card-body animated fadeIn">
            <div class="row print-not" id="applicantInfo">
              <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col-st">
                <label class="k-form-field">
                  <span>Current Status</span>&nbsp;<span class="text-danger">*</span>
                  <kendo-dropdownlist [data]="[{ Id:2	, Name: 'Active'},
                    { Id:14	, Name: 'On Leave'},
                    { Id:15	, Name: 'On Deputation'},
                    { Id:27	, Name: 'Suspended'},
                    { Id:41	, Name: 'Awaiting Posting'}]" [disabled]="id == 1" [textField]="'Name'" [valueField]="'Id'"
                    (valueChange)="dropdownValueChanged($event, 'status')"
                    [value]="dropDowns.selectedFiltersModel.currentStatus"
                    [defaultItem]="dropDowns.defultFiltersModel.currentStatus">
                  </kendo-dropdownlist>
                </label>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 mt-2 control-col">
                <label class="k-form-field">
                  <span>Department</span>&nbsp;<span class="text-danger">*</span>
                  <kendo-dropdownlist
                    [data]="[{Id: 25, Name:'Primary & Secondary Healthcare Department'}, {Id: 28, Name:'Specialized Healthcare & Medical Education Department'}]"
                    [textField]="'Name'" [valueField]="'Id'" [disabled]="id == 1"
                    (valueChange)="dropdownValueChanged($event, 'department')"
                    [value]="dropDowns.selectedFiltersModel.department"
                    [defaultItem]="dropDowns.defultFiltersModel.department">
                  </kendo-dropdownlist>
                </label>
              </div>
            </div>
            <div class="row print-not" id="applicantInfo">
              <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col-st">
                <label class="k-form-field">
                  <span>District</span>&nbsp;<span class="text-danger">*</span>
                  <kendo-dropdownlist [data]="dropDowns.districts" [disabled]="id == 1" [textField]="'Name'"
                    [valueField]="'Code'" (valueChange)="dropdownValueChanged($event, 'district')"
                    [value]="dropDowns.selectedFiltersModel.district"
                    [defaultItem]="dropDowns.defultFiltersModel.district">
                  </kendo-dropdownlist>
                </label>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 mt-2 control-col">
                <label class="k-form-field">
                  <span>Health Facility</span>&nbsp;<span class="text-danger">*</span>
                  <kendo-dropdownlist [data]="dropDowns.healthFacilities" [disabled]="id == 1" [textField]="'Name'"
                    [valueField]="'Id'" (valueChange)="dropdownValueChanged($event, 'healthfacility')"
                    [value]="dropDowns.selectedFiltersModel.healthFacility"
                    [defaultItem]="dropDowns.defultFiltersModel.healthFacility">
                  </kendo-dropdownlist>
                </label>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col-end">
                <label class="k-form-field">
                  <span>Designation</span>&nbsp;<span class="text-danger">*</span>
                  <kendo-dropdownlist [data]="dropDowns.designations" [disabled]="id == 1" [textField]="'Name'"
                    [valueField]="'Id'" (valueChange)="dropdownValueChanged($event, 'designation')"
                    [value]="dropDowns.selectedFiltersModel.designation"
                    [defaultItem]="dropDowns.defultFiltersModel.designation">
                  </kendo-dropdownlist>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row animated fadeIn" *ngIf="step == 1">
          <div class="col-md-3">
            <button kendoButton primary="true" (click)="step = 2" [disabled]="!applicant.CNIC  
            || !applicant.EmployeeName   
            || !applicant.FatherName 
            || !applicant.Gender 
            || !applicant.DateOfBirth 
            || !applicant.Domicile_Id 
            || applicant.Domicile_Id == 0 
            || !applicant.MobileNo 
            || !applicant.MaritalStatus 
            || !applicant.PermanentAddress 
            || !applicant.Status_Id 
            || applicant.Status_Id == 0 
            || !applicant.Department_Id 
            || applicant.Department_Id == 0
            || applicant.HealthFacility_Id  == 0
            || !applicant.HealthFacility_Id 
            || !applicant.Designation_Id 
            ||  !applicant.EMaiL" class="btn-block btn-lg">Proceed</button>
          </div>
          <div class="col-md-3">
            <button kendoButton primary="true" routerLink="/promotion-apply/seniority-list" look="outline"
              class="btn-block btn-lg">Back To
              Seniority List</button>
          </div>
        </div>
        <div class="card card-accent-success animated fadeIn" *ngIf="step == 2">
          <div class="card-header animated fadeIn">
            <h5 class="m-0">MODE OF APPOINTMENT
            </h5>
          </div>
          <div class="card-body animated fadeIn">
            <div class="row p-1">
              <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col-end">
                <label class="k-form-field">
                  <span>CNIC Photo&nbsp;<span class="text-danger">*</span><span class="clearfix"></span></span>
                  <div style="width:100%;" *ngIf="applicant.CNIC_FilePath == null || applicant.CNIC_FileName == null">
                    <input #photoRefHifz type="file" accept="image/jpg, image/jpeg, application/pdf"
                      (change)="appendFilesToList($event.target.files, 1)">
                  </div>
                  <div style="width:100%;" *ngIf="applicant.CNIC_FilePath != null && applicant.CNIC_FileName != null">
                    <img (click)="openInNewTab(applicant.CNIC_FilePath)" [src]="'/' + applicant.CNIC_FilePath"
                      [alt]="applicant.CNIC_FileName"
                      style="height: 30px; width: 100px; display: inline-block;">&nbsp;&nbsp;&nbsp;
                  </div>
                </label>
              </div>
            </div>
            <hr>
            <div class="row p-1">
              <div class="col-md-12">
                <label class="k-form-field"><span class="p-strong">Entry in Service</span></label>
                <div class="row">
                  <div class="col-md-4"> <input type="radio" id="Directly" (change)="applicant.ModeId = null"
                      [(ngModel)]="applicant.entry" name="Directly" [value]="101">&nbsp;<label for="Directly">Directly
                      Inducted as
                      Consultant</label>
                  </div>
                  <div class="col-md-4"> <input type="radio" id="Promotion" (change)="applicant.entry = null"
                      [(ngModel)]="applicant.ModeId" name="Promotion" [value]="1">&nbsp;<label for="Promotion">By
                      Promotion</label>
                  </div>
                  <div class="col-md-4"> <input type="radio" id="Transfer" (change)="applicant.entry = null"
                      [(ngModel)]="applicant.ModeId" name="Transfer" [value]="5">&nbsp;<label for="Transfer">Appointment
                      by Transfer</label>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row p-1 animated fadeIn"
              *ngIf="applicant.entry == 101 && applicant.ModeId != 1 && applicant.ModeId != 5">
              <div class="col-md-12">
                <label class="k-form-field"><span class="p-strong">Entry in Service</span></label>
                <div class="row">
                  <div class="col-md-4"> <input type="radio" id="PPSC" [(ngModel)]="applicant.ModeId" name="PPSC"
                      [value]="2">&nbsp;<label for="PPSC">PPSC</label>
                  </div>
                  <div class="col-md-4"> <input type="radio" id="contract" [(ngModel)]="applicant.ModeId"
                      name="contract" [value]="3">&nbsp;<label for="contract">Initially on Contract but
                      Regularized</label></div>
                </div>
              </div>
            </div>
            <hr *ngIf="applicant.entry == 101">
            <div class="row" *ngIf="applicant.ModeId == 1">
              <div class="col-md-4">
                <label class="k-form-field"><span class="p-strong">Promotion Order Date</span>
                  <kendo-datepicker name="LastPromotionDate" [format]="'dd/MM/yyyy'"
                    [(ngModel)]="applicant.LastPromotionDate" #LastPromotionDate="ngModel"></kendo-datepicker>
                </label>
              </div>
              <div class="col-md-4">
                <label class="k-form-field"><span class="p-strong">Promotion Order Number</span><input kendoTextBox
                    type="text" name="PromotionOrderNumber" [(ngModel)]="applicant.PromotionOrderNumber"
                    #PromotionOrderNumber="ngModel" [ngClass]="{ 'is-invalid': PromotionOrderNumber.invalid }"></label>
              </div>
              <div class="col-md-4">
                <label class="k-form-field"><span class="p-strong">Joining Date after Promotion</span>
                  <kendo-datepicker name="PromotionJoiningDate" [format]="'dd/MM/yyyy'"
                    [(ngModel)]="applicant.PromotionJoiningDate" #PromotionJoiningDate="ngModel"></kendo-datepicker>
                </label>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <label class="k-form-field">
                  <span class="p-strong">Promotion Order Copy&nbsp;<span class="text-danger">*</span><span
                      class="clearfix"></span></span>
                  <div style="width:100%;"
                    *ngIf="applicant.PromotionCopy_FilePath == null || applicant.PromotionCopy_FileName == null">
                    <input #photoRefHifz type="file" accept="image/jpg, image/jpeg, application/pdf"
                      (change)="appendFilesToList($event.target.files, 5)">
                  </div>
                  <div style="width:100%;"
                    *ngIf="applicant.PromotionCopy_FilePath != null && applicant.PromotionCopy_FileName != null">
                    <img (click)="openInNewTab(applicant.PromotionCopy_FilePath)"
                      [src]="'/' + applicant.PromotionCopy_FilePath" [alt]="applicant.PromotionCopy_FileName"
                      style="height: 30px; width: 100px; display: inline-block;">&nbsp;&nbsp;&nbsp;
                  </div>
                </label>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mt-2 control-col">
                <label class="k-form-field">
                  <span>Charge Report&nbsp;<span class="text-danger">*</span><span class="clearfix"></span></span>
                  <div style="width:100%;"
                    *ngIf="applicant.AssumptionReport_FileName == null || applicant.AssumptionReport_FilePath == null">
                    <input #photoRefHifz type="file" accept="image/jpg, image/jpeg, application/pdf"
                      (change)="appendFilesToList($event.target.files, 3)">
                  </div>
                  <div style="width:100%;"
                    *ngIf="applicant.AssumptionReport_FilePath != null && applicant.AssumptionReport_FileName != null">
                    <img (click)="openInNewTab(applicant.AssumptionReport_FilePath)"
                      [src]="'/' + applicant.AssumptionReport_FilePath" [alt]="applicant.AssumptionReport_FileName"
                      style="height: 30px; width: 100px; display: inline-block;">&nbsp;&nbsp;&nbsp;
                  </div>
                </label>
              </div>
            </div>
            <div *ngIf="applicant.ModeId == 3 && applicant.entry == 101">
              <div class="row">
                <div class="col-md-4 animated fadeIn">
                  <label class="k-form-field"><span class="p-strong animated fadeIn">Contract Order Number </span><input
                      kendoTextBox type="text" name="ContractOrderNumber" [(ngModel)]="applicant.ContractOrderNumber"
                      #ContractOrderNumber="ngModel" [ngClass]="{ 'is-invalid': ContractOrderNumber.invalid }"></label>
                </div>
                <div class="col-md-4 animated fadeIn">
                  <label class="k-form-field"><span class="p-strong animated fadeIn">Contract Order Date</span>
                    <kendo-datepicker name="ContractStartDate" [format]="'dd/MM/yyyy'"
                      [(ngModel)]="applicant.ContractStartDate" #ContractStartDate="ngModel"
                      [ngClass]="{ 'is-invalid': ContractStartDate.invalid }">
                    </kendo-datepicker>
                  </label>
                </div>
                <div class="col-md-4 animated fadeIn">
                  <label class="k-form-field"><span class="p-strong animated fadeIn">Contract Joining date</span>
                    <kendo-datepicker name="ContractOrderDate" [format]="'dd/MM/yyyy'"
                      [(ngModel)]="applicant.ContractOrderDate" #ContractOrderDate="ngModel"></kendo-datepicker>
                  </label>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 mt-2 control-col">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 mt-2 control-col">
                  <label class="k-form-field">
                    <span>Contract Order Copy&nbsp;<span class="text-danger">*</span><span
                        class="clearfix"></span></span>
                    <div style="width:100%;"
                      *ngIf="applicant.ContractOrderCopy_FileName == null || applicant.ContractOrderCopy_FilePath == null">
                      <input #photoRefHifz type="file" accept="image/jpg, image/jpeg, application/pdf"
                        (change)="appendFilesToList($event.target.files, 6)">
                    </div>
                    <div style="width:100%;"
                      *ngIf="applicant.ContractOrderCopy_FilePath != null && applicant.ContractOrderCopy_FileName != null">
                      <img (click)="openInNewTab(applicant.ContractOrderCopy_FilePath)"
                        [src]="'/' + applicant.ContractOrderCopy_FilePath" [alt]="applicant.ContractOrderCopy_FileName"
                        style="height: 30px; width: 100px; display: inline-block;">&nbsp;&nbsp;&nbsp;
                    </div>
                  </label>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 mt-2 control-col">
                  <label class="k-form-field">
                    <span>Contract Joining&nbsp;<span class="text-danger">*</span><span class="clearfix"></span></span>
                    <div style="width:100%;"
                      *ngIf="applicant.ContractJoining_FileName == null || applicant.ContractJoining_FilePath == null">
                      <input #photoRefHifz type="file" accept="image/jpg, image/jpeg, application/pdf"
                        (change)="appendFilesToList($event.target.files, 7)">
                    </div>
                    <div style="width:100%;"
                      *ngIf="applicant.ContractJoining_FilePath != null && applicant.ContractJoining_FileName != null">
                      <img (click)="openInNewTab(applicant.ContractJoining_FilePath)"
                        [src]="'/' + applicant.ContractJoining_FilePath" [alt]="applicant.ContractJoining_FileName"
                        style="height: 30px; width: 100px; display: inline-block;">&nbsp;&nbsp;&nbsp;
                    </div>
                  </label>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-4 animated fadeIn">
                  <label class="k-form-field"><span class="p-strong">{{'Posting Order Number of Regularization'}}</span>
                    <input kendoTextBox type="text" name="RegularOrderNumber" [(ngModel)]="applicant.RegularOrderNumber"
                      #RegularOrderNumber="ngModel" [ngClass]="{ 'is-invalid': RegularOrderNumber.invalid }"></label>
                </div>
                <div class="col-md-4 animated fadeIn">
                  <label class="k-form-field">
                    <span class="p-strong animated fadeIn">{{'Posting Order Date of Regularization'}}</span>&nbsp;<span
                      class="text-danger">*</span>
                    <kendo-datepicker name="DateOfRegularization" 
                      [format]="'dd/MM/yyyy'" [(ngModel)]="applicant.DateOfRegularization"
                      #DateOfRegularization="ngModel" placeholder="Select Date" required>
                    </kendo-datepicker>
                  </label>
                </div>
                <div class="col-md-4 animated fadeIn">
                  <label class="k-form-field">
                    <span class="p-strong animated fadeIn">Date of Joining after Regularization</span>&nbsp;<span
                      class="text-danger">*</span>
                    <kendo-datepicker name="FirstJoiningDate" [max]="birthDateMax" [min]="birthDateMin"
                      placeholder="Select Date" [format]="'dd/MM/yyyy'" [(ngModel)]="applicant.FirstJoiningDate"
                      #FirstJoiningDate="ngModel" required>
                    </kendo-datepicker>
                  </label>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 mt-2">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 mt-2">
                  <label class="k-form-field">
                    <span>Posting Order&nbsp;<span class="text-danger">*</span><span class="clearfix"></span></span>
                    <div style="width:100%;"
                      *ngIf="applicant.OrderCopy_FileName == null || applicant.OrderCopy_FilePath == null">
                      <input #photoRefHifz type="file" accept="image/jpg, image/jpeg, application/pdf"
                        (change)="appendFilesToList($event.target.files, 2)">
                    </div>
                    <div style="width:100%;"
                      *ngIf="applicant.OrderCopy_FilePath != null && applicant.OrderCopy_FileName != null">
                      <img (click)="openInNewTab(applicant.OrderCopy_FilePath)"
                        [src]="'/' + applicant.OrderCopy_FilePath" [alt]="applicant.OrderCopy_FileName"
                        style="height: 30px; width: 100px; display: inline-block;">&nbsp;&nbsp;&nbsp;
                    </div>
                  </label>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 mt-2">
                  <label class="k-form-field">
                    <span>Charge Report&nbsp;<span class="text-danger">*</span><span class="clearfix"></span></span>
                    <div style="width:100%;"
                      *ngIf="applicant.AssumptionReport_FileName == null || applicant.AssumptionReport_FilePath == null">
                      <input #photoRefHifz type="file" accept="image/jpg, image/jpeg, application/pdf"
                        (change)="appendFilesToList($event.target.files, 3)">
                    </div>
                    <div style="width:100%;"
                      *ngIf="applicant.AssumptionReport_FilePath != null && applicant.AssumptionReport_FileName != null">
                      <img (click)="openInNewTab(applicant.AssumptionReport_FilePath)"
                        [src]="'/' + applicant.AssumptionReport_FilePath" [alt]="applicant.AssumptionReport_FileName"
                        style="height: 30px; width: 100px; display: inline-block;">&nbsp;&nbsp;&nbsp;
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="applicant.ModeId == 5">

              <div class="col-md-4 animated fadeIn">
                <label class="k-form-field"><span class="p-strong">{{'Posting Order Number of Transfer'}}</span>
                  <input kendoTextBox type="text" name="RegularOrderNumber" [(ngModel)]="applicant.RegularOrderNumber"
                    #RegularOrderNumber="ngModel" [ngClass]="{ 'is-invalid': RegularOrderNumber.invalid }"></label>
              </div>

              <div class="col-md-4 animated fadeIn">
                <label class="k-form-field">
                  <span class="p-strong animated fadeIn">{{'Posting Order Date of Transfer'}}</span>&nbsp;<span
                    class="text-danger">*</span>
                  <kendo-datepicker name="DateOfRegularization" [disabled]="!applicant.ModeId || applicant.ModeId == 0"
                    [format]="'dd/MM/yyyy'"
                    [(ngModel)]="applicant.DateOfRegularization" #DateOfRegularization="ngModel"
                    placeholder="Select Date" required>
                  </kendo-datepicker>
                </label>
              </div>

              <div class="col-md-4">
                <label class="k-form-field"><span class="p-strong">Joining date</span>
                  <kendo-datepicker name="FirstJoiningDate" [format]="'dd/MM/yyyy'"
                    [(ngModel)]="applicant.FirstJoiningDate" #FirstJoiningDate="ngModel"></kendo-datepicker>
                </label>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mt-2 control-col">
                <label class="k-form-field">
                  <span>Posting Order&nbsp;<span class="text-danger">*</span><span class="clearfix"></span></span>
                  <div style="width:100%;"
                    *ngIf="applicant.OrderCopy_FileName == null || applicant.OrderCopy_FilePath == null">
                    <input #photoRefHifz type="file" accept="image/jpg, image/jpeg, application/pdf"
                      (change)="appendFilesToList($event.target.files, 2)">
                  </div>
                  <div style="width:100%;"
                    *ngIf="applicant.OrderCopy_FilePath != null && applicant.OrderCopy_FileName != null">
                    <img (click)="openInNewTab(applicant.OrderCopy_FilePath)" [src]="'/' + applicant.OrderCopy_FilePath"
                      [alt]="applicant.OrderCopy_FileName"
                      style="height: 30px; width: 100px; display: inline-block;">&nbsp;&nbsp;&nbsp;
                  </div>
                </label>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mt-2 control-col">
                <label class="k-form-field">
                  <span>Charge Report&nbsp;<span class="text-danger">*</span><span class="clearfix"></span></span>
                  <div style="width:100%;"
                    *ngIf="applicant.AssumptionReport_FileName == null || applicant.AssumptionReport_FilePath == null">
                    <input #photoRefHifz type="file" accept="image/jpg, image/jpeg, application/pdf"
                      (change)="appendFilesToList($event.target.files, 3)">
                  </div>
                  <div style="width:100%;"
                    *ngIf="applicant.AssumptionReport_FilePath != null && applicant.AssumptionReport_FileName != null">
                    <img (click)="openInNewTab(applicant.AssumptionReport_FilePath)"
                      [src]="'/' + applicant.AssumptionReport_FilePath" [alt]="applicant.AssumptionReport_FileName"
                      style="height: 30px; width: 100px; display: inline-block;">&nbsp;&nbsp;&nbsp;
                  </div>
                </label>
              </div>
            </div>
            <div class="row" *ngIf="applicant.ModeId == 2 && applicant.entry == 101">
              <div class="col-md-3 animated fadeIn">
                <label class="k-form-field"><span class="p-strong">{{'Posting Order Number'}}</span>
                  <input kendoTextBox type="text" name="RegularOrderNumber" [(ngModel)]="applicant.RegularOrderNumber"
                    #RegularOrderNumber="ngModel" [ngClass]="{ 'is-invalid': RegularOrderNumber.invalid }"></label>
              </div>
              <div class="col-md-3 animated fadeIn">
                <label class="k-form-field">
                  <span class="p-strong animated fadeIn">{{'Posting Order Date'}}</span>&nbsp;<span
                    class="text-danger">*</span>
                  <kendo-datepicker name="DateOfRegularization" [disabled]="!applicant.ModeId || applicant.ModeId == 0"
                     [format]="'dd/MM/yyyy'"
                    [(ngModel)]="applicant.DateOfRegularization" #DateOfRegularization="ngModel"
                    placeholder="Select Date" required>
                  </kendo-datepicker>
                </label>
              </div>
              <div class="col-md-3 animated fadeIn">
                <label class="k-form-field"><span class="p-strong">Joining date</span>
                  <kendo-datepicker name="FirstJoiningDate" [format]="'dd/MM/yyyy'"
                    [(ngModel)]="applicant.FirstJoiningDate" #FirstJoiningDate="ngModel"></kendo-datepicker>
                </label>
              </div>
              <div class="col-md-3 animated fadeIn">
                <label class="k-form-field"><span class="p-strong">PPSC Merit Number</span> <input kendoTextBox
                    type="number" name="PPSCMeritNumber" [(ngModel)]="applicant.PPSCMeritNumber"
                    #PPSCMeritNumber="ngModel" [ngClass]="{ 'is-invalid': PPSCMeritNumber.invalid }">
                </label>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 mt-2">
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 mt-2">
                <label class="k-form-field">
                  <span>Posting Order&nbsp;<span class="text-danger">*</span><span class="clearfix"></span></span>
                  <div style="width:100%;"
                    *ngIf="applicant.OrderCopy_FileName == null || applicant.OrderCopy_FilePath == null">
                    <input #photoRefHifz type="file" accept="image/jpg, image/jpeg, application/pdf"
                      (change)="appendFilesToList($event.target.files, 2)">
                  </div>
                  <div style="width:100%;"
                    *ngIf="applicant.OrderCopy_FilePath != null && applicant.OrderCopy_FileName != null">
                    <img (click)="openInNewTab(applicant.OrderCopy_FilePath)" [src]="'/' + applicant.OrderCopy_FilePath"
                      [alt]="applicant.OrderCopy_FileName"
                      style="height: 30px; width: 100px; display: inline-block;">&nbsp;&nbsp;&nbsp;
                  </div>
                </label>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 mt-2">
                <label class="k-form-field">
                  <span>Charge Report&nbsp;<span class="text-danger">*</span><span class="clearfix"></span></span>
                  <div style="width:100%;"
                    *ngIf="applicant.AssumptionReport_FileName == null || applicant.AssumptionReport_FilePath == null">
                    <input #photoRefHifz type="file" accept="image/jpg, image/jpeg, application/pdf"
                      (change)="appendFilesToList($event.target.files, 3)">
                  </div>
                  <div style="width:100%;"
                    *ngIf="applicant.AssumptionReport_FilePath != null && applicant.AssumptionReport_FileName != null">
                    <img (click)="openInNewTab(applicant.AssumptionReport_FilePath)"
                      [src]="'/' + applicant.AssumptionReport_FilePath" [alt]="applicant.AssumptionReport_FileName"
                      style="height: 30px; width: 100px; display: inline-block;">&nbsp;&nbsp;&nbsp;
                  </div>
                </label>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 mt-2">
                <label class="k-form-field">
                  <span>PPSC Merit List&nbsp;<span class="text-danger">*</span><span class="clearfix"></span></span>
                  <div style="width:100%;"
                    *ngIf="applicant.MeritList_FileName == null || applicant.MeritList_FilePath == null">
                    <input #photoRefHifz type="file" accept="image/jpg, image/jpeg, application/pdf"
                      (change)="appendFilesToList($event.target.files, 4)">
                  </div>
                  <div style="width:100%;"
                    *ngIf="applicant.MeritList_FilePath != null && applicant.MeritList_FileName != null">
                    <!-- <input #photoRefHifz type="file" accept="image/jpg, image/jpeg, application/pdf"
                        (change)="readUrl($event, 'hifz')"> -->
                    <img (click)="openInNewTab(applicant.MeritList_FilePath)" [src]="'/' + applicant.MeritList_FilePath"
                      [alt]="applicant.MeritList_FileName"
                      style="height: 30px; width: 100px; display: inline-block;">&nbsp;&nbsp;&nbsp;
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="animated fadeIn" *ngIf="step == 2">
      <div class="row">
        <div class="col-md-3 control-col-st">
          <button kendoButton primary="true" ladda data-style="zoom-in" type="button" (click)="step = 1"
            class="btn-block"><i class="fa fa-arrow-left"></i> Go Back</button>
        </div>
        <div class="col-md-3 control-col">
          <button kendoButton primary="true" [disabled]="!validations.masterFlag" [ladda]="proceeding"
            data-style="zoom-in" type="button" (click)="proceed()" class="btn-block"><i class="fa fa-save"></i>
            Save</button>
        </div>
        <div class="col-md-3 control-col">
        </div>
      </div>
    </div>
  </div>
</div>