<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6 control-col-st col-xs-12">
      <div class="top-h3">
        New Cheque
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 control-col-st">
          <label class="k-form-field">
            <span>Officer</span>
            <input type="text" [(ngModel)]="cheque.designation.name" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin X</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.designation.x" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin Y</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.designation.y" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col-end">
          <label class="k-form-field">
            <span>Font Size</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.designation.fontSize" placeholder=""
              kendoTextBox>
          </label>
        </div>
        <div class="col-md-6 control-col-st">
          <label class="k-form-field">
            <span>Program</span>
            <input type="text" [(ngModel)]="cheque.program.name" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin X</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.program.x" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin Y</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.program.y" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col-end">
          <label class="k-form-field">
            <span>Font Size</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.program.fontSize" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-6 control-col-st">
          <label class="k-form-field">
            <span>Government</span>
            <input type="text" [(ngModel)]="cheque.government.name" disabled placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin X</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.government.x" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin Y</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.government.y" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col-end">
          <label class="k-form-field">
            <span>Font Size</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.government.fontSize" placeholder=""
              kendoTextBox>
          </label>
        </div>
        <div class="col-md-6 control-col-st">
          <label class="k-form-field">
            <span>Dated</span>
            <kendo-datepicker [format]="'dd/MM/yyyy'" [(ngModel)]="cheque.dated.date" required></kendo-datepicker>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin X</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.dated.x" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin Y</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.dated.y" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col-end">
          <label class="k-form-field">
            <span>Font Size</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.dated.fontSize" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-6 control-col-st">

          <label class="k-form-field">
            <span>Pay To</span>
            <input type="text" [(ngModel)]="cheque.payTo.to" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin X</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.payTo.x" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin Y</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.payTo.y" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col-end">
          <label class="k-form-field">
            <span>Font Size</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.payTo.fontSize" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-6 control-col-st">
          <label class="k-form-field">
            <span>Salary / Amount</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.amount.amount" placeholder="Amount in Rs."
              kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin X</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.amount.x" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin Y</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.amount.y" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col-end">
          <label class="k-form-field">
            <span>Font Size</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.amount.fontSize" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-6 control-col-st">
          <label class="k-form-field">
            <span>Project Code</span>
            <input type="text" [(ngModel)]="cheque.projectCode.name" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin X</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.projectCode.x" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin Y</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.projectCode.y" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col-end">
          <label class="k-form-field">
            <span>Font Size</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.projectCode.fontSize" placeholder=""
              kendoTextBox>
          </label>
        </div>
        <div class="col-md-6 control-col-st">

          <label class="k-form-field">
            <span>Fund / DDO Code</span>
            <input type="text" [(ngModel)]="cheque.ddoCode.code" placeholder="" kendoTextBox>
          </label>

        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin X</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.ddoCode.x" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin Y</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.ddoCode.y" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col-end">
          <label class="k-form-field">
            <span>Font Size</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.ddoCode.fontSize" placeholder="" kendoTextBox>
          </label>
        </div>

        <div class="col-md-6 control-col-st">

          <label class="k-form-field">
            <span>Cost Center</span>
            <input type="text" [(ngModel)]="cheque.costcenter.name" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin X</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.costcenter.x" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin Y</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.costcenter.y" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col-end">
          <label class="k-form-field">
            <span>Font Size</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.costcenter.fontSize" placeholder=""
              kendoTextBox>
          </label>
        </div>
        <div class="col-md-6 control-col-st">
          <label class="k-form-field">
            <span>Account Title</span>
            <input type="text" [(ngModel)]="cheque.accountTitle.title" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin X</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.accountTitle.x" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col">
          <label class="k-form-field">
            <span>Margin Y</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.accountTitle.y" placeholder="" kendoTextBox>
          </label>
        </div>
        <div class="col-md-2 control-col-end">
          <label class="k-form-field">
            <span>Font Size</span>
            <input type="number" (input)="onChange()" [(ngModel)]="cheque.accountTitle.fontSize" placeholder=""
              kendoTextBox>
          </label>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-2 control-col-st">
          <label class="k-form-field">
            <button kendoButton primary="true" class="mt-3" (click)="saveAndPrint()">Save & Print</button>
          </label>
        </div>
        <div class="col-md-2 control-col--end">
          <label class="k-form-field">
            <button kendoButton primary="true" class="mt-3" (click)="onReset()">Reset Values</button>
          </label>
        </div>
      </div>
    </div>
    <hr>
    <div class="row mt-3">
      <div class="col-md-12">
        <div style="margin: 0 auto;">

          <img style="width: 600px; height: 342px;margin:0 auto;"
            src="../../../../assets/img/brand/hisducheckrotate1.jpg" alt="">
          <span [ngStyle]="{'margin' : cheque.payeesac.x + 'px ' + cheque.payeesac.y + 'px'}" class="cheque payeesac"
            *ngIf="cheque.payeesac">Payee's A/C
          </span>
          <span class="cheque"
            [ngStyle]="{'margin' : cheque.designation.x + 'px ' + cheque.designation.y + 'px', 'font-size': cheque.designation.fontSize + 'px'}">
            {{cheque.designation.name}}
          </span>
          <span class="cheque"
            [ngStyle]="{'margin' : cheque.program.x + 'px ' + cheque.program.y + 'px', 'font-size': cheque.program.fontSize + 'px'}">{{cheque.program.name}}</span>
          <span class="cheque"
            [ngStyle]="{'margin' : cheque.government.x + 'px ' + cheque.government.y + 'px', 'font-size': cheque.government.fontSize + 'px'}">{{cheque.government.name}}</span>
          <span class="cheque"
            [ngStyle]="{'margin' : cheque.payTo.x + 'px ' + cheque.payTo.y + 'px', 'font-size': cheque.payTo.fontSize + 'px'}">{{cheque.payTo.to.toUpperCase()}}</span>
          <span class="cheque"
            [ngStyle]="{'margin' : cheque.amountWords.x + 'px ' + cheque.amountWords.y + 'px', 'font-size': cheque.amountWords.fontSize + 'px'}">**{{toWords(cheque.amount.amount)}}
            Only**</span>
          <span class="cheque"
            [ngStyle]="{'margin' : cheque.amount.x + 'px ' + cheque.amount.y + 'px', 'font-size': cheque.amount.fontSize + 'px'}">={{cheque.amount.amount | number}}/-</span>
          <span class="cheque"
            [ngStyle]="{'margin' : cheque.accountTitle.x + 'px ' + cheque.accountTitle.y + 'px', 'font-size': cheque.accountTitle.fontSize + 'px'}">{{cheque.accountTitle.title}}</span>
          <span class="cheque"
            [ngStyle]="{'margin' : cheque.dated.x + 'px ' + cheque.dated.y + 'px', 'font-size': cheque.dated.fontSize + 'px'}">{{cheque.dated.date | date: 'dd.MM.yyyy'}}</span>
          <span class="cheque"
            [ngStyle]="{'margin' : cheque.projectCode.x + 'px ' + cheque.projectCode.y + 'px', 'font-size': cheque.projectCode.fontSize + 'px'}">{{cheque.projectCode.name}}</span>
          <span class="cheque"
            [ngStyle]="{'margin' : cheque.ddoCode.x + 'px ' + cheque.ddoCode.y + 'px', 'font-size': cheque.ddoCode.fontSize + 'px'}">{{cheque.ddoCode.code}}</span>
          <span class="cheque"
            [ngStyle]="{'margin' : cheque.costcenter.x + 'px ' + cheque.costcenter.y + 'px', 'font-size': cheque.costcenter.fontSize + 'px'}">{{cheque.costcenter.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>