<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <div class="top-h3">
        APMO Preferences
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="top-controls">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-12 control-col-st">
      <label class="k-form-field">
        <span>Division</span>

      </label>
    </div>
    <div class="col-md-2 col-sm-12 control-col">

    </div>
    <div class="col-md-2 col-sm-12 control-col">

    </div>
    <div class="col-md-4 col-sm-12 control-col">

    </div>
    <div class="col-md-2 col-sm-12 mt-1 control-col-end">
      <label class="k-form-field">
        <button kendoButton class="btn-block btn-align-v" (click)="getApplicationChart()"
          [primary]="true">SEARCH</button>
      </label>
    </div>
  </div>
  <div class="row row-panel">
    <div class="col-md-12">
      <div class="grid-top-header-custom animated fadeIn" *ngIf="kGrid.totalRecords">
        <div class="pager-rows-number">
          <span>
            {{(kGrid.skip + 1) + ' - ' + (kGrid.pageSize <= kGrid.totalRecords ? (kGrid.pageSize + kGrid.skip) : kGrid.totalRecords) + ' of ' +
                numberWithCommas(kGrid.totalRecords) + ' items ' }} </span>
          <!-- <button kendoButton [primary]="true" [look]="'outline'"
                class="ml-2 animated fadeIn btn-sm">DHQ</button>
                <button kendoButton [primary]="true" [look]="'outline'" class="ml-2 animated fadeIn btn-sm">THQ</button>
                <button kendoButton [primary]="true" [look]="'outline'" class="ml-2 animated fadeIn btn-sm">RHC</button>
                <button kendoButton [primary]="true" [look]="'outline'" class="ml-2 animated fadeIn btn-sm">BHU</button>
                <button kendoButton [primary]="true" [look]="'outline'" class="ml-2 animated fadeIn btn-sm">Dispensary</button>
                <button kendoButton [primary]="true" [look]="'outline'" class="ml-2 animated fadeIn btn-sm">MCH Center</button>
                <button kendoButton class="btn-secondary" class="ml-2 animated fadeIn btn-sm"><i class="fa fa-table"></i></button>
                <button kendoButton class="btn-secondary" class="ml-2 animated fadeIn btn-sm"><i class="fa fa-list"></i></button>
  
                View &nbsp; <select #selectView (change)="changeView(selectView.value)">
                  <option *ngFor="let viewType of viewTypes" [value]="viewType" [selected]="viewType === userViewType ? true : undefined">
                    {{viewType}}
                  </option>
                </select> -->
          <span class="pull-right">
            Show &nbsp; <select #select (change)="changePagesize(select.value)">
              <option *ngIf="kGrid.showInitialPageSize" [value]="kGrid.pageSize">{{kGrid.pageSize}}</option>
              <option *ngFor="let page of kGrid.pageSizes" [value]="page"
                [selected]="page === kGrid.pageSize ? true : undefined">
                {{page}}
              </option>
            </select>
            &nbsp; items per page
          </span>

        </div>
      </div>
      <div class="grid-wrapper" kendoTooltip filter="span">
        <kendo-grid [data]="kGrid.gridView" [(pageSize)]="kGrid.pageSize" [skip]="kGrid.skip" [pageable]="true"
          (pageChange)="pageChange($event)" [scrollable]="false">
          <!--    <kendo-grid-column [width]="6" field="asd" title="No." [headerClass]="'grid-header-custom'" [style]="{'background-color': '#f5f5f5 ','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{(rowIndex + 1)}}.
              </ng-template>
            </kendo-grid-column> -->
          <kendo-grid-column [width]="84" field="FullName" title="Health Facility"
            [headerClass]="'grid-top-header-none'"
            [style]="{'background-color': '#f5f5f5','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <div class="row p-1" style="height: 101px;" [routerLink]="'/health-facility/' + dataItem.HFMISCode">
                <div class="col-md-2">
                  <img style="width: 120px !important; 
                    height: 90px !important;" class="pic-shadow img-responsive"
                    [src]="'https://hrmis.pshealthpunjab.gov.pk/Uploads/Files/HFPics/' + dataItem.ImagePath"
                    onError="this.src='../../../assets/img/notfound.png'">
                </div>
                <div class="col-md-10">
                  <div class="grid-list-item">
                    <h4 class="m-0 mb-1" style="font-family: Roboto-Regular; color: darkslategray ; font-weight: 100;">
                      {{dataItem.FullName}}</h4>
                    <p class="m-0" style="font-family: Roboto-Light; color: darkslategray ; font-weight: 100;">
                      <strong style="color: #2f4f4fed !important;"> Category </strong> {{dataItem.HFCategoryName}} |
                      <strong style="color: #2f4f4fed !important;"> Type </strong>
                      {{dataItem.HFTypeName}} | <strong style="color: #2f4f4fed !important;"> Administrative Control

                      </strong> {{dataItem.HFAC == 1 ?
                        'P&SHD' :
                        dataItem.HFAC == 2 ? 'PHFMC' : dataItem.HFAC == 3 ? 'IRMNCH'
                        : dataItem.HFAC == 4 ? 'SHD' : ''}} |
                      <strong style="color: #2f4f4fed !important;"> Phone </strong> {{dataItem.PhoneNo}}

                    </p>
                  </div>
                </div>

              </div>


              <!--   <div *ngIf="userViewType == 1">{{dataItem.FullName}}</div>
                <div *ngIf="userViewType == 2">
  
                  <div class="row">
                    <div class="col-md-12">
                      {{dataItem.FullName}} </div>
                  </div>
                  <div class="row ml-2 mr-2">
                    <div class="col-md-6">
                      <p style="margin: 0px;">
                        Category <span class="text-muted">{{dataItem.HFCategoryName}}</span>
                      </p>
                      <p style="margin: 0px;">
                        Type: <span class="text-muted">{{dataItem.HFTypeName}}</span>
                      </p>
                      <p style="margin: 0px;">
                        Longitude <span class="text-muted">{{dataItem.Longitude}}</span>
                      </p>
                    </div>
                    <div class="col-md-6">
                      <p style="margin: 0px;">
                        Administrative Control <span class="text-muted">{{dataItem.HFAC == 1 ? 'P&SHD' : dataItem.HFAC ==
                          2 ? 'PHFMC' : dataItem.HFAC == 3 ? 'IRMNCH'
                          : dataItem.HFAC == 4 ? 'SHD' : ''}}</span>
                      </p>
                      <p style="margin: 0px;">
                        Phone <span class="text-muted">{{dataItem.PhoneNo}}</span>
                      </p>
                      <p style="margin: 0px;">
                        Latitude <span class="text-muted">{{dataItem.Latitude}}</span>
                      </p>
                    </div>
  
                  </div>
                </div>
                <div *ngIf="userViewType == 3">
  
                  <div class="row">
                    <div class="col-md-2">
                      <img width="100%" [src]="'https://hrmis.pshealthpunjab.gov.pk/Uploads/Files/HFPics/' + dataItem.ImagePath">
                    </div>
                    <div class="col-md-9">
                      {{dataItem.FullName}}
                      <div class="row">
                        <div class="col-md-6">
                          <p style="margin: 0px;">
                            Category <span class="text-muted">{{dataItem.HFCategoryName}}</span>
                          </p>
                          <p style="margin: 0px;">
                            Type <span class="text-muted">{{dataItem.HFTypeName}}</span>
                          </p>
                          <p style="margin: 0px;">
                            Longitude <span class="text-muted">{{dataItem.Longitude}}</span>
                          </p>
                        </div>
                        <div class="col-md-6">
                          <p style="margin: 0px;">
                            Administrative Control <span class="text-muted">{{dataItem.HFAC == 1 ? 'P&SHD' :
                              dataItem.HFAC == 2 ? 'PHFMC' : dataItem.HFAC == 3 ? 'IRMNCH'
                              : dataItem.HFAC == 4 ? 'SHD' : ''}}</span>
                          </p>
                          <p style="margin: 0px;">
                            Phone <span class="text-muted">{{dataItem.PhoneNo}}</span>
                          </p>
                          <p style="margin: 0px;">
                            Latitude <span class="text-muted">{{dataItem.Latitude}}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column [width]="10" field="asd" *ngIf="!currentUser.UserName.toLowerCase().startsWith('ceo.')"
            title="Actions" [headerClass]="'grid-top-header-none'"
            [style]="{'background-color': '#f5f5f5 ','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
            <ng-template kendoGridCellTemplate let-dataItem>
              <a *ngIf="currentUser.RoleName != 'Deputy Secretary'"
                [routerLink]="'/health-facility/' + dataItem.HFMISCode + '/edit'" target="_blank"> <img class="icon-svg"
                  src="../../../assets/img/icons/edit2.svg" alt=""></a>

              <a [routerLink]="'/health-facility/' + dataItem.HFMISCode" target="_blank"> <img class="icon-svg"
                  src="../../../assets/img/icons/eye-details.svg" alt=""></a>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column [width]="10" field="asd" *ngIf="currentUser.UserName.toLowerCase().startsWith('ceo.')"
            title="Actions" [headerClass]="'grid-top-header-none'"
            [style]="{'background-color': '#f5f5f5 ','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
            <ng-template kendoGridCellTemplate let-dataItem>
              <a *ngIf="dataItem.HFTypeCode != '011' && dataItem.HFTypeCode != '012'"
                [routerLink]="'/health-facility/' + dataItem.HFMISCode + '/edit'" target="_blank">
                <img class="icon-svg" src="../../../assets/img/icons/edit2.svg" alt=""></a>

              <a [routerLink]="'/health-facility/' + dataItem.HFMISCode" target="_blank"> <img class="icon-svg"
                  src="../../../assets/img/icons/eye-details.svg" alt=""></a>
            </ng-template>
          </kendo-grid-column>
          <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
            <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
            <kendo-pager-next-buttons></kendo-pager-next-buttons>
            <div class="pager-rows-number">
              <select #select (change)="changePagesize(select.value)">
                <option *ngIf="kGrid.showInitialPageSize" [value]="kGrid.pageSize">{{kGrid.pageSize}}</option>
                <option *ngFor="let page of kGrid.pageSizes" [value]="page"
                  [selected]="page === kGrid.pageSize ? true : undefined">
                  {{page}}
                </option>
              </select>
              &nbsp; items per page
            </div>
            <kendo-pager-info></kendo-pager-info>
          </ng-template>
        </kendo-grid>
        <div *ngIf="loading" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</div>