<!-- <div *ngIf="!profile" class="k-i-loading"></div>

<div class="animated fadeIn" *ngIf="profile">
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-2 control-col-st">
      <table class="table table-50 view-table" style="background: transparent;">
        <tbody>
          <tr>
            <td style=""><strong class="p-strong">Photo</strong></td>
            <td style="">
              <img class="pic-shadow" width="100" height="100"
                [src]="'https://hrmis.pshealthpunjab.gov.pk/Uploads/ProfilePhotos/' + profile.CNIC + '_23.jpg?v=' + radnom"
                onError="this.src='../../../assets/img/notfound.png'" alt="">
            </td>
          </tr>
          <tr>
            <td style=""><strong class="p-strong">Name</strong></td>
            <td style="">{{profile.EmployeeName}}</td>
          </tr>
          <tr>
            <td style=""><strong class="p-strong">Father Name</strong></td>
            <td style="">{{profile.FatherName}}</td>
          </tr>
          <tr>
            <td style=""><strong class="p-strong">CNIC</strong></td>
            <td style="">{{dashifyCNIC(profile.CNIC)}}</td>
          </tr>
          <tr>
            <td style=""><strong class="p-strong">D.O.B</strong></td>
            <td style="">{{profile.DateOfBirth | date:'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <td style=""><strong class="p-strong">Gender</strong></td>
            <td style="">{{profile.Gender}}</td>
          </tr>
          <tr>
            <td style=""><strong class="p-strong">Domicile</strong></td>
            <td style="">{{profile.Domicile_Name}}</td>
          </tr>
          <tr>
            <td style=""><strong class="p-strong">Marital Status</strong></td>
            <td style="">{{profile.MaritalStatus}}</td>
          </tr>
          <tr>
            <td style=""><strong class="p-strong">Bloodgroup</strong></td>
            <td style="">{{profile.BloodGroup}}</td>
          </tr>
          <tr>
            <td style=""><strong class="p-strong">Religion</strong></td>
            <td style="">{{profile.Religion_Name}}</td>
          </tr>
          <tr>
            <td style=""><strong class="p-strong">Mother Tongue</strong></td>
            <td style="">{{profile.Language_Name}}</td>
          </tr>
          <tr>
            <td style=""><strong class="p-strong">Mobile Number</strong></td>
            <td style="">{{profile.MobileNo}}</td>
          </tr>
          <tr>
            <td style=""><strong class="p-strong">E-mail</strong></td>
            <td style="">{{profile.EMaiL}}</td>
          </tr>
          <tr>
            <td style=""><strong class="p-strong">Landline Number</strong></td>
            <td style="">{{profile.LandlineNo}}</td>
          </tr>
          <tr>
            <td style=""><strong class="p-strong">Fax Number</strong></td>
            <td style="">{{profile.Faxno}}</td>
          </tr>
          <tr>
            <td style=""><strong class="p-strong">Permanent Address</strong></td>
            <td style="">{{profile.PermanentAddress}}</td>
          </tr>
          <tr>
            <td style=""><strong class="p-strong">Correspondence
                Address</strong></td>
            <td style="">{{profile.CorrespondenceAddress}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
<div class="animated fadeIn">
  <div class="animated fadeIn" *ngIf="applicant.Status_Id && applicant.Status_Id > 1">
    <div class="row mb-2">
      <div class="col-md-4">
        <button kendoButton primary="true" look="outline" class="btn-block" routerLink="/job/profile"><i
            class="fa fa-user"></i>
          Profile</button>
      </div>
      <div class="col-md-4">
        <button kendoButton *ngIf="applicant.Status_Id > 2" primary="true" look="outline" class="btn-block"
          routerLink="/job/document"><i class="fa fa-file"></i>
          Documents</button>
      </div>
      <div class="col-md-4">
        <button kendoButton *ngIf="applicant.Status_Id > 3" primary="true" look="outline" class="btn-block"
          routerLink="/job/experience"><i class="fa fa-file"></i>
          Experience</button>
      </div>
      <!--   <div class="col-md-3">
        <button kendoButton *ngIf="applicant.Status_Id && applicant.Status_Id > 4" primary="true" look="outline"
          class="btn-block" routerLink="/job/applications"><i class="fa fa-newspaper-o"></i>
          Applications</button>
      </div> -->
    </div>
    <hr>
  </div>
  <!--  <div class="row" *ngIf="applicant.Designation_Id == 903">
    <div class="col-md-10">
      <h4><strong>End Date: </strong> {{meritActiveDesignation.DateEnd | date: 'dd/MM/yyyy'}}</h4>
    </div>
  </div> -->
  <div class="p-4" style="background: #e9e9e9;color: black;border: 5px;">
    <form name="profileform" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
      <div class="row print-not" id="applicantInfo">
        <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col-st">
          <label class="k-form-field">
            <span>Passport Size Photo <span class="text-danger">*</span></span>
            <div style="width:100%;">
              <img *ngIf="photoSrc" class="animated fadeIn" style="width:100px;height:100px;border:1px solid;"
                [src]="photoSrc" onError="this.src='../../../assets/img/notfound.png'" alt="">
              <input #photoRef type="file" accept="image/jpg, image/jpeg, image/png" (change)="readUrl($event, 'pic')"
                hidden>
              <button kendoButton type="button" [primary]="true" [look]="'outline'" (click)="uploadBtn('pic')"
                class="btn-sm btn-block" [ngClass]="photoFile.length == 0 ? 'mt-0' : 'mt-2'" style="cursor:pointer;"
                [ladda]="isUploading" data-style="expand-right">
                <i class="fa fa-upload"></i> {{photoFile.length == 0 ? 'Choose Photo' : 'Choose other'}}</button>
            </div>
          </label>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col">
          <label class="k-form-field">
            <span>CNIC</span>&nbsp;<span class="text-danger">*</span>
            <kendo-maskedtextbox [mask]="cnicMask" disabled (input)="inputChange.next(CNIC.value)" name="CNIC"
              [(ngModel)]="applicant.CNIC" #CNIC="ngModel" required>
            </kendo-maskedtextbox>
          </label>
        </div>
        <!--  <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col">
          <label class="k-form-field">
            <span>Merit Number</span>&nbsp;<span class="text-danger">*</span>
            <input kendoTextBox type="text" disabled name="MeritNumber" [(ngModel)]="applicant.MeritNumber"
              #MeritNumber="ngModel" required />
          </label>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col-end">
          <label class="k-form-field">
            <span>Application Number</span>&nbsp;<span class="text-danger">*</span>
            <input kendoTextBox type="text" disabled name="ApplicationNumber" [(ngModel)]="applicant.ApplicationNumber"
              #ApplicationNumber="ngModel" required />
          </label>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col-st">
          <label class="k-form-field">
            <span>{{applicant.Designation_Id == 903 ? 'PPC Number' : 'PMDC Number'}}</span>&nbsp;<span
              class="text-danger">*</span>
            <input kendoTextBox type="text" disabled name="PMDCNumber" [(ngModel)]="applicant.PMDCNumber"
              #PMDCNumber="ngModel" required />
          </label>
        </div> -->
        <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col">
          <label class="k-form-field">
            <span>Name <span class="text-danger">*</span></span>
            <input kendoTextBox type="text" name="Name" [(ngModel)]="applicant.Name" #Name="ngModel" required />
          </label>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col-end">
          <label class="k-form-field">
            <span>S/D/W of</span>&nbsp;<span class="text-danger">*</span>
            <input kendoTextBox type="text" name="FatherName" [(ngModel)]="applicant.FatherName" #FatherName="ngModel"
              required />
          </label>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col-st">
          <label class="k-form-field">
            <span>Date of Birth</span>&nbsp;<span class="text-danger">*</span>
            <kendo-datepicker name="DOB" [max]="birthDateMax" [format]="'dd/MM/yyyy'"
              (valueChange)="calculate_age($event)" [(ngModel)]="applicant.DOB" #DOB="ngModel" required>
            </kendo-datepicker>
          </label>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col">
          <label class="k-form-field">
            <span>Domicile</span>&nbsp;<span class="text-danger">*</span>
            <kendo-dropdownlist [data]="dropDowns.domicile" [textField]="'DistrictName'" [valueField]="'Id'"
              (valueChange)="dropdownValueChanged($event, 'domicile')" [value]="dropDowns.selectedFiltersModel.domicile"
              [defaultItem]="dropDowns.defultFiltersModel.domicile" required>
            </kendo-dropdownlist>
          </label>
        </div>
        <!--  <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col">
          <label class="k-form-field">
            <span>Designation</span>&nbsp;<span class="text-danger">*</span>
            <kendo-dropdownlist [data]="dropDowns.designationsData" [textField]="'Name'" [valueField]="'Id'"
              (valueChange)="dropdownValueChanged($event, 'designation')"
              [value]="dropDowns.selectedFiltersModel.designation"
              [defaultItem]="dropDowns.defultFiltersModel.designation">
            </kendo-dropdownlist>
          </label>
        </div> -->
        <!--    <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col">
          <label class="k-form-field">
            <span>Religion</span>&nbsp;<span class="text-danger">*</span>
            <kendo-dropdownlist [data]="dropDowns.religions" [textField]="'Name'" [valueField]="'Id'"
              (valueChange)="dropdownValueChanged($event, 'religion')" [value]="dropDowns.selectedFiltersModel.religion"
              [defaultItem]="dropDowns.defultFiltersModel.religion">
            </kendo-dropdownlist>
          </label>
        </div> -->
        <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col">
          <label class="k-form-field">
            <span>Marital Status</span>&nbsp;<span class="text-danger">*</span>
            <kendo-dropdownlist name="MaritalStatus" [data]="dropDowns.maritalStatusItems"
              [(ngModel)]="applicant.MaritalStatus" #MaritalStatus="ngModel"
              [defaultItem]="dropDowns.defultFiltersModel.maritalStatus" [textField]="'text'" [valueField]="'value'"
              [valuePrimitive]="true" required>
            </kendo-dropdownlist>
          </label>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col-end">
          <label class="k-form-field">
            <span>Mobile</span>&nbsp;<span class="text-danger">*</span>
            <kendo-maskedtextbox name="MobileNumber" [mask]="mobileMask" [(ngModel)]="applicant.MobileNumber"
              #MobileNumber="ngModel" required>
            </kendo-maskedtextbox>
          </label>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col-st">
          <label class="k-form-field">
            <span>Secondary Mobile/Landline</span>&nbsp;
            <input kendoTextBox type="text" name="MobileSec" [(ngModel)]="applicant.MobileSec" #MobileSec="ngModel">
          </label>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col">
          <label class="k-form-field">
            <span>Email</span>&nbsp;<span class="text-danger">*</span>
            <input kendoTextBox type="email" name="Email" [(ngModel)]="applicant.Email" #Email="ngModel"
              pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
              [ngClass]="{ 'is-invalid': Email.invalid }">
          </label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 mt-2 control-col-end">
          <label class="k-form-field">
            <span>Address</span>&nbsp;<span class="text-danger">*</span>
            <input kendoTextBox type="text" name="Address" [(ngModel)]="applicant.Address" #Address="ngModel">
          </label>
        </div>

        <div class="col-md-12">
          <label class="k-form-field">
            <input type="checkbox" id="exp" name="Experience" [(ngModel)]="applicant.Experience" class="k-checkbox"
              #Experience="ngModel" required />
            <label class="k-checkbox-label" for="exp">My Experience is more than {{job.Experience}} years</label>
          </label>
          <label class="k-form-field" *ngIf="job.RelevantExperience && job.RelevantExperience > 0">
            <input type="checkbox" id="revexp" name="RelevantExperience" [(ngModel)]="applicant.RelevantExperience"
              class="k-checkbox" required #RelevantExperience="ngModel" />
            <label class="k-checkbox-label" for="revexp">My Relevant Experience is more than {{job.RelevantExperience}}
              years</label>
          </label>
        </div>


      </div>
      <hr>
      <div class="row">
        <div class="col-md-3 control-col-st">
          <button
            [disabled]="!f.valid || (photoFile.length == 0 && !applicant.Id) || !applicant.DOB || applicant.Domicile_Id < 1 || ageError"
            [ladda]="savingProfile" data-style="zoom-in" kendoButton primary="true" type="submit"
            class="btn-block btn-lg">Save &
            Proceed</button>
        </div>

        <div class="col-md-6 control-col">
          <p class="m-0 text-danger animated fadeIn" *ngIf="ageError">Age cannot be more than {{job.AgeLimit}}
          </p>
          <!--   <p class="m-0 text-danger" *ngIf="applicant.ExpYears < 10">Experience should be more than 10 years</p>
         <p class="m-0 text-danger" *ngIf="applicant.ExpYearsr < 5">Relevant Experience should be more than 5 years</p> -->
        </div>
        <div class="col-md-3  control-col-end">
          <button type="button" class="btn btn-secondary btn-block" routerLink="/job/account">Logout</button>
        </div>
      </div>
    </form>
    <!--  <hr>
    <div class="row" *ngIf="profile.Id">
      <div class="col-md-12">
        <h4>Service History as Regular Consultant</h4>
      </div>
      <div class="col-md-12">
        <div class="order-thumb mb-3">
          <div class="order-thumb-wrap">
            <div class="p-3">
              <h4>Note:</h4>
              <p class="m-0">
                Please enter your service history as Regular Consultant
              </p>
              <p class="m-0">
                If you have only worked at one place, the after entering start date please select continued
              </p>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 mt-2 control-col-st">
        <label class="k-form-field">
          <span>Health Facility Name</span>&nbsp;
          <input kendoTextBox type="text" [(ngModel)]="service.HFName">
        </label>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12 mt-2 control-col">
        <label class="k-form-field">
          <span>From Date</span>
          <kendo-datepicker [format]="'dd/MM/yyyy'" [(ngModel)]="service.FromDate">
          </kendo-datepicker>
        </label>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12 mt-2 control-col-end">
        <label class="k-form-field">
          <span>To Date</span>
          <kendo-datepicker [format]="'dd/MM/yyyy'" [(ngModel)]="service.ToDate">
          </kendo-datepicker>
        </label>
      </div>
      <div class="col-md-2 control-col">
        <div class="k-form-field">
          <input type="checkbox" id="continued" class="k-checkbox" [(ngModel)]="service.Continued" />
          <label class="k-checkbox-label" for="continued">Continued</label>
        </div>
      </div>
      <div class="col-md-2 control-col-end">
        <label class="k-form-field
              mt-2">
          <span>&nbsp;</span>
          <button class=" btn btn-so-primary btn-sm btn-block" type="button" (click)="addService()">Add</button>
        </label>
      </div>
    </div>
    <hr>
    <div class="row mx-2" *ngFor="let ser of services">
      <div class="col-md-6 col-sm-6 col-xs-12 mt-2 control-col-st">
        <p class="m-0">{{ser.HFName}}</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col">
        <p class="m-0">{{ser.FromDate | date:'dd/MM/yyyy'}}</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 mt-2 control-col-end">
        <p class="m-0" *ngIf="ser.ToDate">{{ser.ToDate | date:'dd/MM/yyyy'}}
        </p>
        <p class="m-0" *ngIf="ser.Continued">Continued
        </p>
      </div>
    </div> -->
  </div>
</div>