<div *ngIf="loading" class="k-i-loading"></div>
<tabset class="tab-container">
    <ul class="nav nav-tabs">
        <li  class="nav-item active"><a  class="nav-link active"  [routerLink]="'/wagesmap/'"><span>Wager Map</span></a></li>
        <li  class="nav-item "><a  class="nav-link " [routerLink]="'/dailywagerlist/'"><span>Daily Wager List</span></a></li>
        <li  class="nav-item"><a  class="nav-link"  [routerLink]="'/daily-wages-count/'"><span>Wager Count</span></a></li>
        
    </ul>
</tabset>
            <div class="row row-panel">
                <div class="col-md-12">
                    
                    
                    <div class="grid-wrapper">
                        <kendo-grid  [data]="gridView" [(pageSize)]="pageSize"
                            [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)" [scrollable]="true">
                            <kendo-grid-column [width]="15" [filterable]="false" field="Id" title="No." [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    {{(rowIndex + 1)}}.
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column [width]="28" field="Name"  title="Name" [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid-list-item">
                                                <p class="m-0 mb-1"
                                                    style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                    <span>{{dataItem.Name}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column [width]="30" field="CNIC" title="CNIC" [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid-list-item">
                                                <p class="m-0 mb-1"
                                                    style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                    <span>{{dataItem.CNIC}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column [width]="28" field="Category" title="Category" [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid-list-item">
                                                <p class="m-0 mb-1"
                                                    style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                    <span>{{dataItem.Category}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column [width]="28" field="Designation" title="Designation" [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid-list-item">
                                                <p class="m-0 mb-1"
                                                    style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                    <span>{{dataItem.Designation}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            
                            <kendo-grid-column [width]="28" field="EmployementMode" title="EMP Mode" [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid-list-item">
                                                <p class="m-0 mb-1"
                                                    style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                    <span>{{dataItem.EmployementMode}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column [width]="28" field="Division" title="Division" [headerClass]="'grid-header-custom'"
                            [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="grid-list-item">
                                            <p class="m-0 mb-1"
                                                style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                <span>{{dataItem.Division}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [width]="28" field="District" title="District" [headerClass]="'grid-header-custom'"
                            [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="grid-list-item">
                                            <p class="m-0 mb-1"
                                                style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                <span>{{dataItem.District}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [width]="28" field="Tehsil" title="Tehsil" [headerClass]="'grid-header-custom'"
                            [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="grid-list-item">
                                            <p class="m-0 mb-1"
                                                style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                <span>{{dataItem.Tehsil}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        

                        

                            <kendo-grid-column [width]="28" field="ContractStartDate" filter="date"
                            format="{0:d}" title="ContractFrom" [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid-list-item">
                                                <p class="m-0 mb-1"
                                                    style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                    <span>{{dataItem.ContractStartDate | date
                                                        }}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            
                            <kendo-grid-column [width]="28" field="ContractEndDate" filter="date"
                            format="{0:d}" title="ContractTo" [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid-list-item">
                                                <p class="m-0 mb-1"
                                                    style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                    <span>{{dataItem.ContractEndDate |
                                                        date}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            
            
                            <!--   <ng-template kendoGridDetailTemplate let-dataItem>
                            <section>
                              <p><strong>On Order:</strong> {{dataItem.FullName}}</p>
                              <p><strong>Reorder Level:</strong> xItem.Reorderl}} units</p>
                              <p><strong>Discontinued:</strong>aItem.Discontinued}}</p>
                              <p><strong>Category:</strong> tem.Category?.CategoryName}} - {{dataItem.CDescription}}</p>
                            </section>
                          </ng-template> -->
                          
                        </kendo-grid>
            
                    </div>
                </div>
            </div>