.content-wrap {
  border-bottom: none !important;
}

.info-wrapper {
  width: 100% !important;
}

.employee-pic {
  width: 100px !important;
  height: 100px !important;
}

.employee-pic img {
  width: 100px !important;
  height: 100px !important;
  border-radius: 0px !important;
  box-shadow: 0px 0px 1px grey !important;
}

.info-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.another-info-wrapper {
  margin-bottom: 10px !important;
}

.field-title,
.info {
  font-size: 1rem !important;
  font-weight: 0 !important;
}

.info-wrapper .field-title {
  width: 35%;
}

.info-wrapper .info {
  width: 65%;
}

.another-info-wrapper .field-title {
  width: 35%;
}

.another-info-wrapper .info {
  width: 65%;
}


.image--cover {
  width: 100px;
  height: 100px;
  margin: 0 auto !important;
}

.zoom {
  transition: transform .2s;
  border: 1px solid black;
  /* Animation */
}

.zoom:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 5px black !important;
  /* (150% zoom)*/
}