<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <div class="top-h3">
        Repoting
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="top-controls">
        <button kendoButton [primary]="true" [look]="'outline'" routerLink="/health-facility/new">Request For Report</button>
      </div>
    </div>
  </div>
  <div class="row row-panel">
    <div class="col-md-3 control-col-st">
      <div class="brand-card">
        <div class="brand-card-header bg-google-plus"><i class="fa fa-building-o"></i></div>
        <h5 class="text-center reporting-tile">Health Facility</h5>
        <div class="brand-card-body">
          <div>
            <div class="text-value">9</div>
            <div class="text-uppercase text-muted small">reports</div>
          </div>
          <div>
            <div class="text-value">12</div>
            <div class="text-uppercase text-muted small">downloads</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 control-col">
      <div class="brand-card">
        <div class="brand-card-header bg-twitter"><i class="fa fa-user-circle"></i></div>
        <h5 class="text-center reporting-tile">Employee</h5>
        <div class="brand-card-body">
          <div>
            <div class="text-value">2</div>
            <div class="text-uppercase text-muted small">reports</div>
          </div>
          <div>
            <div class="text-value">4</div>
            <div class="text-uppercase text-muted small">downloads</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 control-col-end">
      <div class="brand-card">
        <div class="brand-card-header bg-success"><i class="fa fa-street-view"></i></div>
        <h5 class="text-center reporting-tile">Vacancy Position</h5>
        <div class="brand-card-body">
          <div>
            <div class="text-value">4</div>
            <div class="text-uppercase text-muted small">reports</div>
          </div>
          <div>
            <div class="text-value">7</div>
            <div class="text-uppercase text-muted small">downloads</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 control-col-end">
      <div class="brand-card">
        <div class="brand-card-header bg-linkedin"><i class="fa fa-file-text"></i></div>
        <h5 class="text-center reporting-tile">Application</h5>
        <div class="brand-card-body">
          <div>
            <div class="text-value">2</div>
            <div class="text-uppercase text-muted small">reports</div>
          </div>
          <div>
            <div class="text-value">4</div>
            <div class="text-uppercase text-muted small">downloads</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 control-col-st">
      <div class="brand-card">
        <div class="brand-card-header bg-gray"><i class="fa fa-file-text-o"></i></div>
        <h5 class="text-center reporting-tile">Order</h5>
        <div class="brand-card-body">
          <div>
            <div class="text-value">2</div>
            <div class="text-uppercase text-muted small">reports</div>
          </div>
          <div>
            <div class="text-value">4</div>
            <div class="text-uppercase text-muted small">downloads</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 control-col">
      <div class="brand-card">
        <div class="brand-card-header bg-cyan"><i class="fa fa-file"></i></div>
        <h5 class="text-center reporting-tile">File</h5>
        <div class="brand-card-body">
          <div>
            <div class="text-value">2</div>
            <div class="text-uppercase text-muted small">reports</div>
          </div>
          <div>
            <div class="text-value">4</div>
            <div class="text-uppercase text-muted small">downloads</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
