<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-4 animated fadeIn"
            style="background-color: transparent;border: none !important; margin-top: 0px !important;padding: 0px !important;">
            <div class="card-body" style="padding: 0px !important;">
              <div class="authentication-form-header">
                <h3 class="mobile-brand-custom" style="font-family: 'Roboto-Light'">
                  Sign in to HRMIS
                </h3>
              </div>
              <div class="d-flex login-head">
                <div class="dept-name text-center">
                  <div class="dept-second">
                    Preferences Portal
                  </div>
                  <div class="dept-first">
                    Primary & Secondary Healthcare Department
                  </div>
                </div>
              </div>
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
</div>
