<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card mx-4 animated fadeIn" style="border-bottom: 6px solid #fe6d2e;margin-top: 1.5rem !important;">
            <div class="card-body p-4">
              <form name="registerform" (ngSubmit)="f.form.valid && onSubmit(f.value)" #f="ngForm" novalidate>
                <h2 class="text-center signup-text">CHANGE PASSWORD</h2>
                <hr class="register-hr">
                <hr>
                <div class="clearfix mt-4"></div>
                <fieldset>
                  <label class="k-form-field mt-2">
                    <span>Current Password</span>
                    <input style="width: 100%;" type="password" min="2" max="20" kendoTextBox name="oldPassword" [(ngModel)]="model.oldPassword" #oldPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && oldPassword.invalid }" required />
                  </label>
                  <label class="k-form-field mt-2">
                    <span>New Password</span>
                    <input kendoTextBox type="password" min="2" max="20" name="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && newPassword.invalid }" required />
                  </label>
                  <app-form-validation [show]="newPassword.value?.length < 8 && (newPassword.dirty || newPassword.touched)" [danger]="false" [message]="'Password must contain atleast 8 characters'"></app-form-validation>
                  <label class="k-form-field mt-2">
                    <span>Confirm Password</span>
                    <input kendoTextBox type="password" min="2" max="20" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required>
                  </label>
                  <app-form-validation [show]="newPassword.value != confirmPassword.value && confirmPassword.value?.length > 7" [message]="'Password does not match with confirm password'"></app-form-validation>
                  <div class="register-wrapper">
                    <button kendoButton [disabled]="newPassword.value?.length < 8 || newPassword.value != confirmPassword.value || oldPassword.invalid" class="register-btn btn-lg mt-4 mb-4" [look]="'outline'" [primary]="true" type="submit">CONFIRM</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<app-footer>
  <span style="width: 100%;">
    <h6 class="footer-text">Government of The Punjab<br>
      &copy; 2018 <u>HISDU</u>. All rights reserved.
    </h6>
  </span>
</app-footer>