<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="ForIdentity" connectionString="Initial Catalog=HR_System;integrated security=True;Data Source=." providerName="System.Data.SqlClient" />
    <add name="HR_System" connectionString="metadata=res://*/Models.DbModel.HrDb.csdl|res://*/Models.DbModel.HrDb.ssdl|res://*/Models.DbModel.HrDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR_System;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ForIdentity" connectionString="Initial Catalog=HR_System;integrated security=True;Data Source=DESKTOP-SHBE88O\SQLEXPRESS" providerName="System.Data.SqlClient" />
    <add name="HR_System" connectionString="metadata=res://*/Models.DbModel.HrDb.csdl|res://*/Models.DbModel.HrDb.ssdl|res://*/Models.DbModel.HrDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SHBE88O\SQLEXPRESS;initial catalog=HR_System;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="foridentity" connectionstring="initial catalog=hr_system;integrated security=true;data source=desktop-lv260mi\sqlexpress01" providername="system.data.sqlclient" />
    <add name="hr_system" connectionstring="metadata=res://*/models.dbmodel.hrdb.csdl|res://*/models.dbmodel.hrdb.ssdl|res://*/models.dbmodel.hrdb.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=desktop-lv260mi\sqlexpress01;initial catalog=hr_system;integrated security=true;multipleactiveresultsets=true;app=entityframework&quot;" providername="system.data.entityclient" />-->
    <!--<add name="ForIdentity" connectionString="Initial Catalog=HR_System;integrated security=True;Data Source=DESKTOP-LV260MI\SQLEXPRESS02" providerName="System.Data.SqlClient" />
    <add name="HR_System" connectionString="metadata=res://*/Models.DbModel.HrDb.csdl|res://*/Models.DbModel.HrDb.ssdl|res://*/Models.DbModel.HrDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LV260MI\SQLEXPRESS02;initial catalog=HR_System;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ForIdentity" connectionString="Initial Catalog=HR_System;data source=172.16.2.123;persist security info=True;user id=sa;password=sa@123;" providerName="System.Data.SqlClient" />
    <add name="HR_System" connectionString="metadata=res://*/Models.DbModel.HrDb.csdl|res://*/Models.DbModel.HrDb.ssdl|res://*/Models.DbModel.HrDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.2.123;initial catalog=HR_System;persist security info=True;user id=sa;password=sa@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="foridentity" connectionstring="initial catalog=hr_system;data source=172.16.0.06;persist security info=true;user id=zubair;password=abc@121;" providername="system.data.sqlclient" />
    <add name="hr_system" connectionstring="metadata=res://*/models.dbmodel.hrdb.csdl|res://*/models.dbmodel.hrdb.ssdl|res://*/models.dbmodel.hrdb.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=172.16.0.06;initial catalog=hr_system;persist security info=true;user id=zubair;password=abc@121;multipleactiveresultsets=true;application name=entityframework&quot;" providername="system.data.entityclient" />-->
    <!--<add name="ForIdentity" connectionString="Initial Catalog=HR_System;data source=172.16.0.06;persist security info=True;user id=zubair;password=abc@121;" providerName="System.Data.SqlClient" />
    <add name="HR_System" connectionString="metadata=res://*/Models.DbModel.HrDb.csdl|res://*/Models.DbModel.HrDb.ssdl|res://*/Models.DbModel.HrDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.06;initial catalog=HR_System;user id=zubair;password=abc@121;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HR_System" connectionString="metadata=res://*/Models.DbModel.HrDb.csdl|res://*/Models.DbModel.HrDb.ssdl|res://*/Models.DbModel.HrDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-132BSMA\SQLEXPRESS;initial catalog=HR_System;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <add name="ForIdentity" connectionString="Initial Catalog=HR_System;data source=172.16.0.06;persist security info=True;user id=zubair;password=abc@121;" providerName="System.Data.SqlClient" />
    <add name="HR_System" connectionString="metadata=res://*/Models.DbModel.HrDb.csdl|res://*/Models.DbModel.HrDb.ssdl|res://*/Models.DbModel.HrDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.6;initial catalog=HR_System;user id=zubair;password=abc@121;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
     <!--<add name="ForIdentity" connectionString="Initial Catalog=HR_System;data source=DESKTOP-CMVVRB4;persist security info=True;" providerName="System.Data.SqlClient" />
    <add name="HR_System" connectionString="metadata=res://*/Models.DbModel.HrDb.csdl|res://*/Models.DbModel.HrDb.ssdl|res://*/Models.DbModel.HrDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CMVVRB4;initial catalog=HR_System;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    
    
  </connectionStrings>
  <appSettings>
    <add key="apiBase" value="http://localhost:23294/" />
    <!--<add key="hrBase" value="http://localhost:4200" />-->
    <add key="hrBase" value="*" />
    <add key="hrApp" value="http://localhost:4200/#/account/" />
    <add key="hrImageQualityLevel" value="50" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2">
      <buildProviders>
        <add extension=".htm" type="System.Web.Compilation.PageBuildProvider" />
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2000000" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <machineKey validation="SHA1" decryption="AES" validationKey="A59B43A7BDF8E7BB5BC3FC1B519602704537CC80" decryptionKey="2A1BF824F2A5FB80896C5E9C8EAFFA7D62815FABE8B5D1E8D0C795E363B5D08A" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Authorization, Accept" />
        <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="StaticFile" />
      <add name="Owin" verb="" path="*" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler, Microsoft.Owin.Host.SystemWeb" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0-11.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>-->
  <log4net>
    <appender name="InfoRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Logs/Audit/auditlog" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="_yyyy-MM-dd.lo\g" />
      <param name="StaticLogFileName" value="false" />
      <maximumFileSize value="100KB" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline ---------------START---------------------- %newline %date - %message %newline ----------------END--------------------- %newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <filter class="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Logs/Errors/errorlog" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="_yyyy-MM-dd.lo\g" />
      <param name="StaticLogFileName" value="false" />
      <maximumFileSize value="100KB" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline ---------------START---------------------- %newline %date - %message % %newline ----------------END--------------------- %newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="InfoRollingLogFileAppender" />
      <appender-ref ref="ErrorRollingLogFileAppender" />
    </root>
  </log4net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.6.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.6.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>