<div class="animated fadeIn mt-5">
  <!-- <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="top-h3">
        Dashboard
      </div>
    </div>
  </div> -->

  <tabset>
    <tab heading="Facilitation Centre" (selectTab)="onTabSelect(null)">

    </tab>

    <!--  <tab heading="Parliamentarian Lounge" (selectTab)="onTabSelect('pl')">

    </tab> -->
    <tab heading="FDO 1" (selectTab)="onTabSelect('5c9b1681-7368-46f7-ae65-8ed2bb71e2f4')">

    </tab>
    <tab heading="FDO 2" (selectTab)="onTabSelect('205e8a43-ebdc-4e6e-baee-2b1321a8b17d')">

    </tab>
    <tab heading="FDO 3" (selectTab)="onTabSelect('f75ff4e2-8833-4776-bfe7-7f62b065c427')">

    </tab>
    <tab heading="FDO 4" (selectTab)="onTabSelect('4718dfc2-a0f9-41c7-9c0e-f8424b181dd7')">

    </tab>
    <tab heading="FDO 5" (selectTab)="onTabSelect('9b2c8923-adf8-4866-bca2-4ec5f25367ae')">

    </tab>
    <tab heading="Department Report" (selectTab)="onTabSelect($event)">
      <app-department-report></app-department-report>

    </tab>

  </tabset>
  <div class="k-i-loading" *ngIf="loading"></div>
  <div class="animated fadeIn" *ngIf="fdoReport.length > 0 && totalSums && !loading">
    <kendo-grid [data]="fdoReport">
      <kendo-grid-column field="ApplicationType" [title]="'Sr.'" width="30" [headerClass]="'grid-header-text'"
        [style]="{'background-color': '#fff','color': '#000', 'padding': '0px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
        <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
          <p class="hoverable-table" (click)="cellCLicked(dataItem, column.field)">{{(rowIndex + 1)}}
          </p>
        </ng-template>
        <ng-template kendoGridFooterTemplate let-column="column">
          <p class="hoverable-table p-strong">
          </p>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="ApplicationType" [title]="'Application Type'" width="200"
        [headerClass]="'grid-header-text'"
        [style]="{'background-color': '#fff','color': '#000', 'padding': '0px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
        <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
          <p class="hoverable-table" (click)="cellCLicked(dataItem, column.field)">
            {{dataItem.ApplicationType}}
          </p>
        </ng-template>
        <ng-template kendoGridFooterTemplate let-column="column">
          <p class="hoverable-table p-strong" (click)="colCLicked(column.field)">Total
          </p>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="Total" title="Total" width="80" [headerClass]="'grid-header-text-center'"
        [style]="{'background-color': '#fff','color': '#000', 'padding': '0px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
        <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
          <p class="hoverable-table" style="text-align: center;" (click)="cellCLicked(dataItem, column.field)">{{dataItem.Total ?
          (dataItem.Total | number) : 0}}
          </p>
        </ng-template>
        <ng-template kendoGridFooterTemplate let-column="column">
          <p class="hoverable-table p-strong" style="text-align: center;" (click)="colCLicked(column.field)">
            {{totalSums["Total"].sum | number}}
          </p>
        </ng-template>

      </kendo-grid-column>
      <kendo-grid-column field="Today" width="128" title="Today" [headerClass]="'grid-header-text-center'"
        [style]="{'background-color': '#fff','color': '#000', 'padding': '0px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
        <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
          <p class="hoverable-table" style="text-align: center;" (click)="cellCLicked(dataItem, column.field)">{{dataItem.Today ?
          (dataItem.Today | number) : 0}}
          </p>
        </ng-template>
        <ng-template kendoGridFooterTemplate let-column="column">
          <p class="hoverable-table p-strong" style="text-align: center;" (click)="colCLicked(column.field)">
            {{totalSums["Today"].sum | number}}
          </p>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="InProcess" width="100" title="In Process" [headerClass]="'grid-header-text-center'"
        [style]="{'background-color': '#fff','color': '#000', 'padding': '0px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
        <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
          <p class="hoverable-table" style="text-align: center;" (click)="cellCLicked(dataItem, column.field)">{{dataItem.InProcess ?
          (dataItem.InProcess | number) : 0}}
          </p>
        </ng-template>
        <ng-template kendoGridFooterTemplate let-column="column">
          <p class="hoverable-table p-strong" style="text-align: center;" (click)="colCLicked(column.field)">
            {{totalSums["InProcess"].sum | number}}
          </p>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="Disposed" width="120" title="Disposed" [headerClass]="'grid-header-text-center'"
        [style]="{'background-color': '#fff','color': '#000', 'padding': '0px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
        <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
          <p class="hoverable-table" style="text-align: center;" (click)="cellCLicked(dataItem, column.field)">{{dataItem.Disposed ?
          (dataItem.Disposed | number) : 0}}
          </p>
        </ng-template>
        <ng-template kendoGridFooterTemplate let-column="column">
          <p class="hoverable-table p-strong" style="text-align: center;" (click)="colCLicked(column.field)">
            {{totalSums["Disposed"].sum | number}}
          </p>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>
