.content-heading {
  font-family: "Roboto-MediumItalic";
  font-size: 1.5rem;
  color: #46a23f;
  text-shadow: 0px 0px 1px #e6e3e3;
  font-weight: 500;
}

.content-heading-bold {
  font-family: "Roboto-Medium";
  font-size: 1.5rem;
  color: #46a23f;
  text-shadow: 0px 0px 1px #e6e3e3;
  font-weight: 500;
}

.content-heading span {
  font-family: "Roboto-LightItalic";
  color: #111111c2 !important;
  font-size: 1.1rem;
  font-weight: 400;
}

.content-heading button {
  font-family: "Roboto-Regular";
}

.field-title {
  font-family: "Roboto-Medium";
  color: #111111cf;
  font-size: 1.1rem;
  font-weight: 400;
}
