<div class="animated fadeIn" *ngIf="loaded">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="top-h3">
        R & I Branch Applications
      </div>
    </div>
    <div class="col-md-8 col-xs-12">
      <div class="top-controls">
        <button kendoButton [primary]="true" class="ml-2" [look]="'outline'" routerLink="/ri/new">New
          Application</button>
        <kendo-daterange>
          <label hidden>
            <span class="label">Start</span>
            <kendo-dateinput kendoDateRangeStartInput [(value)]="range.start"></kendo-dateinput>
          </label>
          <label hidden>
            <span class="label">End</span>
            <kendo-dateinput kendoDateRangeEndInput [(value)]="range.end"></kendo-dateinput>
          </label>
          <button #anchor [look]="'outline'" (click)="popup.toggle()" kendoButton [primary]="true" class="ml-2">
            <i class="fa fa-calendar"></i>&nbsp;Calendar&nbsp;<span *ngIf="range.start">Start Date:&nbsp;{{range.start
                  |
                  date:'d, MMMM - yyyy'}}&nbsp;</span>
            <span *ngIf="range.end">&nbsp;End Date:&nbsp;{{range.end | date:'d, MMMM - yyyy'}}</span>
          </button>
          <kendo-daterange-popup id="popupcal" #popup [anchor]="anchor">
            <ng-template kendoDateRangePopupTemplate>
              <div class="pt-2 pb-2 pl-4 pr-4">
                <span *ngIf="range.start"><strong>Start
                    Date:</strong>&nbsp;<u>{{range.start | date:'d, MMMM - yyyy'}}</u>&nbsp;</span>
                <span *ngIf="range.end">&nbsp;<strong>End
                    Date:</strong>&nbsp;<u>{{range.end | date:'d, MMMM - yyyy'}}</u></span>

                &nbsp; <button kendoButton class="animated fadeIn" *ngIf="range.start" [ladda]="kGrid.loading"
                  data-style="zoom-in" (click)="getApplications()" [primary]="true">APPLY
                  RANGE</button>
              </div>
              <kendo-multiviewcalendar kendoDateRangeSelection>
              </kendo-multiviewcalendar>
            </ng-template>
          </kendo-daterange-popup>
        </kendo-daterange>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-sm-12 control-col-st">
      <label class="k-form-field">
        <span>Tracking Number / Name / CNIC / Diary Number</span>
        <input type="text" #searchRef (input)="inputChange.next(searchRef.value)"
          placeholder="Tracking Number, Name, CNIC" kendoTextBox>
      </label>
    </div>
    <div class="col-md-5 col-sm-12 control-col">
      <label class="k-form-field">
        <span>Officer</span>
        <kendo-dropdownlist [data]="pandSOfficers" [textField]="'DesignationName'" [valueField]="'Id'"
          (valueChange)="dropdownValueChanged($event, 'office')" [value]="dropDowns.selectedFiltersModel.officer"
          [defaultItem]="dropDowns.selectedFiltersModel.officer">
        </kendo-dropdownlist>
      </label>
    </div>
    <!--  <div class="col-md-3 col-sm-12 control-col">
      <label class="k-form-field">
        <span>Application Status</span>
        <kendo-dropdownlist [data]="dropDowns.applicationStatusData" [textField]="'Name'" [valueField]="'Id'"
          (valueChange)="dropdownValueChanged($event, 'status')"
          [value]="dropDowns.selectedFiltersModel.applicationStatus"
          [defaultItem]="dropDowns.defultFiltersModel.applicationStatus">
        </kendo-dropdownlist>
      </label>
    </div> -->

    <div class="col-md-2 col-sm-12 mt-1 control-col-end">
      <label class="k-form-field">

        <button kendoButton class="btn-block btn-align-v" [ladda]="kGrid.loading" data-style="zoom-in"
          (click)="getApplications()" [primary]="true">SEARCH</button>
      </label>
    </div>
  </div>
  <div class="row row-panel">
    <div class="col-md-12">
      <div class="grid-top-header-custom animated fadeIn" *ngIf="kGrid.totalRecords > 0">
        <div class="pager-rows-number">
          <span>
            {{(kGrid.skip + 1) + ' - ' + (kGrid.pageSize <= kGrid.totalRecords ? (kGrid.pageSize + kGrid.skip) :
                    kGrid.totalRecords) + ' of ' + kGrid.numberWithCommas(kGrid.totalRecords) + ' items ' }} </span>
          <span class="pull-right">
            <select #select (change)="changePagesize(select.value)">
              <option *ngIf="kGrid.showInitialPageSize" [value]="kGrid.pageSize">{{kGrid.pageSize}}</option>
              <option *ngFor="let page of kGrid.pageSizes" [value]="page"
                [selected]="page === kGrid.pageSize ? true : undefined">
                {{page}}
              </option>
            </select>
            &nbsp; items per page
          </span>

        </div>
      </div>
      <div class="grid-wrapper animated fadeIn" *ngIf="!kGrid.loading">
        <kendo-grid [data]="kGrid.gridView" [sortable]="{
                      allowUnsort: kGrid.allowUnsort,
                      mode: kGrid.multiple ? 'multiple' : 'single'
                      }" [(pageSize)]="kGrid.pageSize" [skip]="kGrid.skip" [pageable]="true"
          (pageChange)="pageChange($event)" [scrollable]="true">
          <kendo-grid-column [width]="5" field="asd" title="Sr." [headerClass]="'grid-header-custom'"
            [style]="{'color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              {{(rowIndex + 1)}}.
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column [width]="35" field="EmployeeName" title="Application From / Address"
            [headerClass]="'grid-header-custom'" [style]="{'color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <div class="employee-info">
                <p class="m-0"><strong class="p-strong">From:
                  </strong>{{dataItem.DispatchFrom}}</p>
                <p class="m-0"><strong class="p-strong">Subject:
                  </strong>{{dataItem.DispatchSubject}}</p>
                <p class="m-0" *ngIf="dataItem.CNIC"><strong class="p-strong">CNIC:
                  </strong>{{dashifyCNIC(dataItem.CNIC)}}</p>
                <p class="m-0"><strong class="p-strong">Dated:
                  </strong>{{dataItem.DispatchDated | date:'dd/MM/yyyy'}}</p>
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column [width]="25" field="TrackingNumber" title="Marked To" [headerClass]="'grid-header-custom'"
            [style]="{'color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <div class="application-info">

                <p class="m-0">{{dataItem.ToOfficerName ? dataItem.ToOfficerName : dataItem.ForwardingOfficerName }}</p>
                <p class="m-0"><strong> Diary # </strong> {{dataItem.DispatchNumber}}
                  <p class="m-0"><strong> Tracking # </strong> {{dataItem.TrackingNumber}}
                  </p>
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column [width]="15" field="TrackingNumber" title="Recieve Date"
            [headerClass]="'grid-header-custom'" [style]="{'color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <div class="application-info">
                <!--   <div *ngIf="dataItem.IsPending">
                  <hr>
                  <p *ngIf="dataItem.ToOfficerName" class="m-0">Sent To:
                    <u>{{dataItem.ToOfficerName}}</u>
                  </p>
                  <p class="m-0"><strong class="p-strong">Forward Time:</strong> {{dataItem.ForwardTime |
                        date:'d/M/yy, h:mm a'}}</p>
                  <p class="m-0">Status: <u>{{dataItem.IsPending ? 'Not Recieved Yet' : ''}}</u> </p>
                </div> -->
                <p class="m-0">{{dataItem.Created_Date | date:'dd/MM/yyyy'}}</p>
                <p class="m-0">{{dataItem.Created_Date | date:'hh:mm a'}}</p>
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column [width]="20" field="asd" title="Action" [headerClass]="'grid-header-custom'"
            [style]="{'color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
            <ng-template kendoGridCellTemplate let-dataItem>
              <button (click)="openInNewTab('fts/application/' + dataItem.Id + '/' + dataItem.TrackingNumber)"
                kendoButton [primary]="true" class="ml-2 animated fadeIn">View</button>
              <button style="height: 30px !important;padding: 0px 8px !important;"
                (click)="generateBars(dataItem.TrackingNumber)" class="ml-2 animated fadeIn btn btn-success"><i
                  class="fa fa-print"></i></button>
              <button style="height: 30px !important;padding: 0px 8px !important;" (click)="removeApplication(dataItem)"
                class="ml-2 animated fadeIn btn btn-danger"><i class="fa fa-times"></i></button>
            </ng-template>
          </kendo-grid-column>
          <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
            <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
            <kendo-pager-next-buttons></kendo-pager-next-buttons>
            <div class="pager-rows-number">
              <select #select (change)="changePagesize(select.value)">
                <option *ngIf="kGrid.showInitialPageSize" [value]="kGrid.pageSize">{{kGrid.pageSize}}</option>
                <option *ngFor="let page of kGrid.pageSizes" [value]="page"
                  [selected]="page === kGrid.pageSize ? true : undefined">
                  {{page}}
                </option>
              </select>
              &nbsp; items per page
            </div>
            <kendo-pager-info></kendo-pager-info>
          </ng-template>
        </kendo-grid>
      </div>
      <div class="grid-wrapper">
        <kendo-grid [data]="[{},{},{},{},{},{},{},{},{},{},{},{}]" *ngIf="kGrid.loading">
          <kendo-grid-column [width]="5" field="asd" title="Sr." [headerClass]="'grid-header-custom'"
            [style]="{'color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              {{(rowIndex + 1)}}.
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column [width]="40" field="EmployeeName" title="Application From / Address"
            [headerClass]="'grid-header-custom'" [style]="{'color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <div class="employee-info">
                <div class="shine shim-controls p-2"></div>
                <div class="shine shim-controls p-2"></div>
                <div class="shine shim-controls p-2"></div>
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column [width]="25" field="TrackingNumber" title="Marked To" [headerClass]="'grid-header-custom'"
            [style]="{'color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <div class="application-info">
                <div class="shine shim-controls p-2"></div>
                <div class="shine shim-controls p-2"></div>
                <div class="shine shim-controls p-2"></div>
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column [width]="15" field="TrackingNumber" title="Recieve Date"
            [headerClass]="'grid-header-custom'" [style]="{'color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <div class="application-info">
                <div class="shine shim-controls p-2"></div>
                <div class="shine shim-controls p-2"></div>
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column [width]="15" field="asd" title="Action" [headerClass]="'grid-header-custom'"
            [style]="{'color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="shine shim-controls p-2"></div>
              <div class="shine shim-controls p-2"></div>
            </ng-template>
          </kendo-grid-column>
          <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
            <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
            <kendo-pager-next-buttons></kendo-pager-next-buttons>
            <div class="pager-rows-number">
              <select #select (change)="changePagesize(select.value)">
                <option *ngIf="kGrid.showInitialPageSize" [value]="kGrid.pageSize">{{kGrid.pageSize}}</option>
                <option *ngFor="let page of kGrid.pageSizes" [value]="page"
                  [selected]="page === kGrid.pageSize ? true : undefined">
                  {{page}}
                </option>
              </select>
              &nbsp; items per page
            </div>
            <kendo-pager-info></kendo-pager-info>
          </ng-template>
        </kendo-grid>
      </div>
    </div>
  </div>
  <div id="barcodeFileBars" hidden>
    <img [src]="barcodeSrc()" *ngIf="barcode" alt="">
    <label style="display: block;margin-top:4px;width:77px;text-align: center;">{{trackingNumber}}</label>
  </div>
</div>