<div class="animated fadeIn">
    <tabset class="tab-container">
        <ul class="nav nav-tabs">
            <li  class="nav-item "><a  class="nav-link "  [routerLink]="'/wagesmap/'"><span>Wager Map</span></a></li>
            <li  class="nav-item active "><a  class="nav-link active " [routerLink]="'/dailywagerlist/'"><span>Daily Wager List</span></a></li>
            <li  class="nav-item"><a  class="nav-link"  [routerLink]="'/daily-wages-count/'"><span>Wager Count</span></a></li>
            
            
        </ul>
    </tabset>
    <div class="card card-accent-success animated fadeIn">
        
        <div class="card-header animated fadeIn">
            <div class="row" style="float: right;">
                <a type="button" class="btn btn-primary" [routerLink]="['/dailywagerprofile', 0]">Add Profile</a>
            </div>
        </div>
        <div class="card-body animated fadeIn">

            <!-- <agm-map [styles]="mapStyles" [latitude]='lat' [longitude]='lng' [zoom]="zoom">
                <agm-marker *ngFor='let marker of vpMaps' [latitude]='marker.Latitude' [iconUrl]="marker.color"
                    [longitude]='marker.Longitude' [opacity]='1'
                    (markerClick)='selectMarker(marker, marker.Code)'>
                    <agm-info-window (infoWindowClose)="infoWindowClosed()"
                        [isOpen]="isInfoWindowOpen(marker.Code)" [latitude]="marker.Latitude"
                        [longitude]="marker.Longitude" InfoWindow #{{marker.Code}}>
                        <div id="content">
                            <div class="d-flex">
                                <img style="height: 100px;width:25%;"
                                    [src]="'https://hrmis.pshealthpunjab.gov.pk/Uploads/Files/HFPics/' + marker.ImagePath"
                                    alt="">
                                <p class="ml-2 mt-3 h4 p-strong text-center"
                                    [routerLink]="'/health-facility/' + marker.Code">
                                    {{marker.Name}}</p>
                            </div>
                            <div class="mx-0 my-2"
                                *ngIf="(!marker.showProfileViewId || marker.showProfileViewId < 0) && marker.showProfileViewId != 0 && !marker.loadingP">
                                <table class="table-stats h5"
                                    *ngIf="(!marker.showProfileViewId || marker.showProfileViewId < 0) && marker.showProfileViewId != 0 && !marker.loadingP">
                                    <tr>
                                        <th style="background: #e7e7e7;">Designation</th>
                                        <th style="background: #e7e7e7;">Sanctioned</th>
                                        <th style="background: #e7e7e7;">Filled</th>
                                        <th style="background: #e7e7e7;">Vacant</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="m-0">
                                                {{marker.DsgName}}
                                            </p>
                                        </td>
                                        <td>
                                            <p class="m-0 text-center">
                                                {{marker.TotalSanctioned}}
                                             </p>
                                        </td>
                                        <td [ngClass]="(marker.TotalWorking / marker.TotalSanctioned) * 100 <= 33 ? 'bg-danger' : 
                                        ((marker.TotalWorking / marker.TotalSanctioned) * 100 >= 34 && (marker.TotalWorking / marker.TotalSanctioned) * 100 <= 66) ? 'bg-warning' : (marker.TotalWorking / marker.TotalSanctioned) * 100 > 66 ? 'bg-success' : 
                                        'bg-danger'" (click)="marker.showProfileViewId = 0">
                                            <p class="m-0 text-center">
                                                {{marker.TotalWorking}}
                                            </p>
                                        </td>
                                        <td>
                                            <p class="m-0 text-center">
                                                {{marker.Vacant}}
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                <hr>





                            </div>
                            <div class="k-i-loading" *ngIf="marker.loadingP"></div>
                            <div class="animated fadeIn"
                                *ngIf="marker.showProfileViewId >= 0 && !marker.loadingP">
                                <div class="text-success" (click)="marker.showProfileViewId = -1">
                                    <i class="fa fa-arrow-left ml-2 text-success cursor-p pull-left"> </i>
                                    <i class="fa fa-times ml-2 text-success cursor-p pull-right"> </i>
                                </div>
                                <div class="animated fadeIn"
                                    *ngIf="marker.showProfileViewId == 0">
                                    <table class="table-stats">
                                        <tr>
                                            <th class="h5 p-strong text-center" colSpan="3">{{marker.DsgName}}
                                            </th>

                                        </tr>
                                        <tr *ngFor="let profile of personProfiles;let i = index;">
                                            <th>
                                                <p class="m-0">{{(i + 1)}}
                                                </p>
                                            </th>
                                            <th>
                                                <img class="pic-shadow" width="50" height="50"
                                                    [src]="'https://hrmis.pshealthpunjab.gov.pk/Uploads/ProfilePhotos/' + profile.CNIC + '_23.jpg'"
                                                    onError="this.src='../../../../assets/img/notfound.png'"
                                                    alt="">
                                            </th>
                                            <th>
                                                <div class="row">
                                                    <div class="col-md-12 cursor-p"
                                                        (click)="openInNewTab('profile/' + profile.CNIC)">
                                                        <h5 class="m-0 mb-1"
                                                            style="font-family: Roboto-Medium; font-weight: 100;">
                                                            {{profile.EmployeeName}}
                                                        </h5>
                                                        <p class="m-0"
                                                            style="font-family: Roboto-Regular; font-weight: 100;">
                                                            {{profile.StatusName}} -
                                                            {{profile.EmpMode_Name}}</p>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </agm-info-window>
                </agm-marker>
                <agm-data-layer [geoJson]="geoJsonObject" (layerClick)="clicked($event)" [style]="styleFunc">
                </agm-data-layer>
            </agm-map> -->

            <div class="row animated fadeIn">
                <div class="col-md-4 col-sm-12 control-col-st">
                    <label class="k-form-field">
                        <span>Search by Name / CNIC / Designation</span>
                        <input type="text" (keyup)="inputChange.next(true)" [(ngModel)]="searchTerm"
                            placeholder="Type Name or CNIC" kendoTextBox>
                    </label>
                </div>
                <!-- <div class="col-md-3 col-sm-12 control-col" [hidden]="retirementInOneYear && retirementAlerted">
                    <label class="k-form-field">
                        <span>Designation&nbsp;<span class="text-danger">*</span></span>
                        <select id="designation" class="form-control custom-select" [(ngModel)]="designationCode"
                            (change)="onChangedDesignation($event)">
                            <option [ngValue]="null">Choose Designation</option>
                            <option *ngFor="let Designation of DesignationList" [ngValue]="Designation">
                                {{ Designation }}
                            </option>
                        </select>
                    </label>
                </div> -->
            </div>
            <div class="row animated fadeIn">
                <div class="col-md-3" *ngIf="divisionsData.length > 0">
                    <span>Division &nbsp;<span class="text-danger">*</span></span>
                    <kendo-dropdownlist [data]="divisionsData" [valuePrimitive]="false"
                        [defaultItem]="selectedFiltersModel.division" [textField]="'Name'" [valueField]="'Code'"
                        (filterChange)="handleFilter($event, 'division')"
                        (valueChange)="dropdownValueChanged($event, 'division')" 
                        [value]="selectedFiltersModel.division"
                        [disabled]="divisionsData.length == 1"
                        required>
                    </kendo-dropdownlist>
                </div>
                <div class="col-md-3">
                    <span>District &nbsp;<span class="text-danger">*</span></span>
                    <kendo-dropdownlist [data]="districtsData"
                        [defaultItem]="{Name: 'Select District', Code: currentUser?.HfmisCode}" [textField]="'Name'"
                        [valueField]="'Code'" [valuePrimitive]="false" (filterChange)="handleFilter($event, 'district')"
                        (valueChange)="dropdownValueChanged($event, 'district')" 
                        [value]="selectedFiltersModel.district"
                        [disabled]="districtsData.length == 1"
                        required>
                    </kendo-dropdownlist>
                </div>
                <div class="col-md-3">
                    <span>Tehsil &nbsp;<span class="text-danger">*</span></span>
                    <kendo-dropdownlist [data]="tehsilsData"
                        [defaultItem]="{Name: 'Select Tehsil', Code: currentUser?.HfmisCode}" [textField]="'Name'"
                        [valueField]="'Code'" [valuePrimitive]="false" (filterChange)="handleFilter($event, 'tehsil')"
                        (valueChange)="dropdownValueChanged($event, 'tehsil')" [value]="selectedFiltersModel.tehsil"
                       >
                    </kendo-dropdownlist>
                </div>
                <div class="col-md-3">
                    <span>Category&nbsp;<span class="text-danger">*</span></span>
                    <select id="designationStr" class="form-control custom-select" [(ngModel)]="designationStr" >
                        <option [ngValue]="null" [selected]="selected">Choose Category</option>
                        <option *ngFor="let bank of CategoryList" [value]="bank">
                            {{ bank }}
                        </option>
                    </select>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-12 control-col-end">
                    <label class="k-form-field mt-1">
                        <button kendoButton class="btn-block btn-align-v" [ladda]="searching" data-style="zoom-in"
                            (click)="onSearch()" [primary]="true">SEARCH</button>
                    </label>
                </div>
                <div class="col-md-3" *ngIf="isShowHF">
                    <span>Health Facility&nbsp;<span class="text-danger">*</span></span>
                    <select id="hfCode" class="form-control custom-select">
                        <option [ngValue]="null">Choose Health Facility</option>
                        <option *ngFor="let bank of hfData" [ngValue]="bank.Id">
                            {{ bank.Name }}
                        </option>
                    </select>
                </div>
            </div>
               
            </div>
            <div class="row animated fadeIn">
                <div class="col-md-3" *ngIf="isShowUC">
                    <span>UC&nbsp;<span class="text-danger">*</span></span>

                    <select class="form-control custom-select" (change)="selectedUC($event)"
                        id="Id">
                        <option value="0">-- Select UC --</option>
                        <option *ngFor="let pet of ucData; let i=index" [value]="ucData[i].Id">
                            {{ucData[i].Name}}
                        </option>
                    </select>
                </div>
               
            </div>
            <div *ngIf="loading" class="k-i-loading"></div>
            <div class="row row-panel">
                <div class="col-md-12">
                    <div class="grid-top-header-custom animated fadeIn" *ngIf="totalRecords">
                        <div class="pager-rows-number">
                            <span>
                                {{(skip + 1) + ' - ' + (pageSize <= totalRecords ? (pageSize + skip) : totalRecords) + ' of ' +
                                    numberWithCommas(totalRecords) + ' items ' }} </span> <span class="pull-right">
                                        <!-- View &nbsp; <select #selectView (change)="changeView(selectView.value)">
                              <option *ngFor="let viewType of viewTypes" [value]="viewType" [selected]="viewType === userViewType ? true : undefined">
                                {{viewType}}
                              </option>
                            </select>
                            &nbsp; -->
                                        Show &nbsp; <select #select (change)="changePagesize(select.value)">
                                            <option *ngIf="showInitialPageSize" [value]="pageSize">{{pageSize}}</option>
                                            <option *ngFor="let page of pageSizes" [value]="page"
                                                [selected]="page === pageSize ? true : undefined">
                                                {{page}}
                                            </option>
                                        </select>
                                        &nbsp; items per page
                                    </span>
            
                        </div>
                    </div>
            
                    <div class="grid-wrapper">
                        <kendo-grid  [data]="gridView" [sortable]="{
                          allowUnsort: allowUnsort,
                          mode: multiple ? 'multiple' : 'single'
                          }" [selectable]="true" [sort]="sort" (sortChange)="sortChange($event)" [(pageSize)]="pageSize"
                            [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)" [scrollable]="false">
                            <kendo-grid-column [width]="15" field="Id" title="No." [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    {{(rowIndex + 1)}}.
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column [width]="28" field="Name" title="Name" [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid-list-item">
                                                <p class="m-0 mb-1"
                                                    style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                    <span>{{dataItem.Name}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column [width]="30" field="Name" title="CNIC" [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid-list-item">
                                                <p class="m-0 mb-1"
                                                    style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                    <span>{{dataItem.CNIC}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column [width]="28" field="Name" title="Category" [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid-list-item">
                                                <p class="m-0 mb-1"
                                                    style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                    <span>{{dataItem.Category}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column [width]="28" field="Name" title="Designation" [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid-list-item">
                                                <p class="m-0 mb-1"
                                                    style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                    <span>{{dataItem.Designation}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            
                            <kendo-grid-column [width]="28" field="Name" title="EMP Mode" [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid-list-item">
                                                <p class="m-0 mb-1"
                                                    style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                    <span>{{dataItem.EmployementMode}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column [width]="28" field="Division" title="Division" [headerClass]="'grid-header-custom'"
                            [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="grid-list-item">
                                            <p class="m-0 mb-1"
                                                style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                <span>{{dataItem.Division}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [width]="28" field="Division" title="District" [headerClass]="'grid-header-custom'"
                            [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="grid-list-item">
                                            <p class="m-0 mb-1"
                                                style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                <span>{{dataItem.District}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [width]="28" field="Division" title="Tehsil" [headerClass]="'grid-header-custom'"
                            [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="grid-list-item">
                                            <p class="m-0 mb-1"
                                                style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                <span>{{dataItem.Tehsil}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                            <kendo-grid-column [width]="28" field="Name" title="ContractFrom" [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid-list-item">
                                                <p class="m-0 mb-1"
                                                    style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                    <span>{{dataItem.ContractStartDate | date
                                                        }}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column [width]="28" field="Name" title="ContractTo" [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid-list-item">
                                                <p class="m-0 mb-1"
                                                    style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                    <span>{{dataItem.ContractEndDate |
                                                        date}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <!-- <kendo-grid-column [width]="28" field="Name" title="ContractFile" [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid-list-item">
                                                <p class="m-0 mb-1"
                                                    style="font-family: 'Roboto-Regular'; color: darkslategray ; font-weight: 100;">
                                                    <img *ngIf="dataItem.ContractImagePath != null" 
                                                    [src]="dataItem.ContractImagePath" />
                                                    <span *ngIf="dataItem.ContractImagePath == null">
                                                        <div class="upload-btn-wrapper">
                                                            <input type="file" #file type="file" accept='image/*' id="actual-btn"
                                                                (change)="CustomerImagePreview(file.files,dataItem.ContractId)"
                                                                hidden />
            
                                                            
                                                            <label for="actual-btn" class="filelabel">Upload
                                                                File</label>
                                                        </div>
                                                    </span>
                                                </p>
            
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-column> -->
                            <kendo-grid-column [width]="32" field="Name" title="Action" [headerClass]="'grid-header-custom'"
                                [style]="{'background-color': '#fff','color': '#000', 'border-bottom' : '1px solid #c8ced3'}">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    
                                            <div class="grid-list-item">
                                                <a type="butoon" class="btn btn-secondary " style="display: inline" 
                                                [routerLink]="['/dailywagerprofile', dataItem.Id]">Edit</a>
                                                <a type="butoon" class="btn btn-secondary" style="display: inline; margin-left: 5px;"
                                                    [routerLink]="['/wagerprofileview', dataItem.Id]">Detail</a>
                                            </div>

                                </ng-template>
                            </kendo-grid-column>
            
                            <!--   <ng-template kendoGridDetailTemplate let-dataItem>
                            <section>
                              <p><strong>On Order:</strong> {{dataItem.FullName}}</p>
                              <p><strong>Reorder Level:</strong> xItem.Reorderl}} units</p>
                              <p><strong>Discontinued:</strong>aItem.Discontinued}}</p>
                              <p><strong>Category:</strong> tem.Category?.CategoryName}} - {{dataItem.CDescription}}</p>
                            </section>
                          </ng-template> -->
                          <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                            <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
                            <kendo-pager-next-buttons></kendo-pager-next-buttons>
                            <div class="pager-rows-number">
                              <select #select (change)="changePagesize(select.value)">
                                <option *ngIf="showInitialPageSize" [value]="pageSize">{{pageSize}}</option>
                                <option *ngFor="let page of pageSizes" [value]="page" [selected]="page === pageSize ? true : undefined">
                                  {{page}}
                                </option>
                              </select>
                              &nbsp; items per page
                            </div>
                            <kendo-pager-info></kendo-pager-info>
                          </ng-template>
                        </kendo-grid>
            
                    </div>
                </div>
            </div>
        </div>
    
</div>