<p *ngIf="!exist" class="animated fadeIn">No Application Found.</p>
<div class="animated fadeIn" *ngIf="application">
  <div class="animated fadeIn bg-gray-100 p-3" *ngIf="myPUC">
    <div class="row">
      <div class="col-md-12">
        <h4>{{currentOfficer.DesignationName}}
          <!-- &nbsp;<small
            class="text-success font-italic">({{pucStep == 1 ? 'Inbox' : pucStep == 2 ? 'My PUCs' : pucStep == 3 ? 'Sent' : ''}})</small> -->
        </h4>
        <!-- <h4>{{currentOfficer.DesignationName}} {{pucStep == 3 ? ' sent to ' + application.ToOfficerName : ''}}</h4> -->
      </div>

    </div>
    <div class="row animated fadeIn" *ngIf="pucStep == 1">
      <div class="col-md-4">
        <button kendoButton primary="true" [ladda]="savingFileMovement" data-style="zoom-in"
          (click)="saveFileMovement()">Acknowledge</button>
      </div>
      <div class="col-md-4 animated fadeIn" *ngIf="pucStep == 2">
        <button kendoButton primary="true">Approve</button>
      </div>
    </div>
    <div class="row animated fadeIn" *ngIf="pucStep == 2 || pucStep == 3">
      <div class="col-md-2 control-col-st">
        <label class="k-form-field">
          <span class="p-strong">Update Status</span>
          <kendo-dropdownlist [data]="dropDowns.applicationStatusData" [textField]="'Name'" [valueField]="'Id'"
            (valueChange)="dropdownValueChanged($event, 'status')"
            [value]="dropDowns.selectedFiltersModel.applicationStatus"
            [defaultItem]="dropDowns.defultFiltersModel.applicationStatus">
          </kendo-dropdownlist>
        </label>
        <!-- <label class="k-form-field"
          *ngIf="application.ApplicationSource_Id == 10 && currentUser.UserName == application.Created_By">
          <span class="p-strong">Update Status</span>
          <kendo-dropdownlist [data]="dropDowns.applicationStatusData" [textField]="'Name'" [valueField]="'Id'"
            (valueChange)="dropdownValueChanged($event, 'status')"
            [value]="dropDowns.selectedFiltersModel.applicationStatus"
            [defaultItem]="dropDowns.defultFiltersModel.applicationStatus">
          </kendo-dropdownlist>
        </label> -->
      </div>
      <div class="col-md-5 control-col">
        <label class="k-form-field">
          <span class="p-strong">Forward <span class="text-danger">*</span></span>
          <kendo-dropdownlist [data]="dropDowns.officersData" [defaultItem]="dropDowns.defultFiltersModel.officer"
            [textField]="'DesignationName'" [valueField]="'Id'" [value]="dropDowns.selectedFiltersModel.officer"
            (filterChange)="handleFilter($event, 'officer')" [filterable]="true"
            (valueChange)="dropdownValueChanged($event, 'officer')">
          </kendo-dropdownlist>
        </label>
      </div>
      <div class="col-md-3 control-col">
        <label class="k-form-field">
          <span class="p-strong">Remarks <span class="text-danger">*</span></span>
          <input type="text" [(ngModel)]="applicationLog.Remarks" placeholder="Type remarks here..." kendoTextBox>
        </label>
      </div>
      <div class="col-md-2 control-col-end">
        <label class="k-form-field">
          <span class="p-strong">&nbsp;</span>
          <button kendoButton [disabled]="!applicationLog.Remarks || applicationLog?.Remarks?.length > 750"
            [ladda]="forwardingApplication" data-style="zoom-in" [primary]="true" class="btn-block"
            (click)="updateLog()">
            Update
          </button>
        </label>
      </div>
    </div>
  </div>
  <hr *ngIf="myPUC">

  <div class="row">
    <div class="col-md-4 col-xs-12 control-col-st">
      <h6><strong class="p-strong">Tracking ID</strong> {{application.TrackingNumber}} <button
          (click)="printApplication()" kendoButton primary="true" class="animated fadeIn"><i class="fa fa-print"></i>
        </button></h6>
      <h6><strong class="p-strong">Date and
          Time</strong>&nbsp;{{application.Created_Date | date:'dd/MM/yyyy, h:mm a'}}
      </h6>
      <h6><strong class="p-strong">Type</strong> {{application.ApplicationTypeName}}</h6>
      <h6><strong class="p-strong">Created By</strong>&nbsp;<u>{{application.Created_By}}</u></h6>
    </div>
    <div class="col-md-4 col-xs-12 control-col">
      <div *ngIf="application.ApplicationSource_Id == 5 || application.ApplicationSource_Id == 8">
        <h6><strong class="p-strong">From</strong> {{application.DispatchFrom}}</h6>
        <h6><strong class="p-strong">Subject</strong> {{application.DispatchSubject}}</h6>
        <h6><strong class="p-strong">Dated</strong> {{application.DispatchDated | date:'dd/MM/yyyy'}}</h6>
        <h6><strong class="p-strong">Diary No.</strong> {{application.DispatchNumber}}</h6>
        <h6 *ngIf="application.CNIC"><strong class="p-strong">CNIC</strong> {{dashifyCNIC(application.CNIC)}}</h6>
        <h6 *ngIf="application.MobileNo"><strong class="p-strong">Contact No.</strong> {{application.MobileNo}}</h6>
        <h6 *ngIf="application.StatusName"><strong class="p-strong">Current Status</strong> {{application.StatusName}}
        </h6>
        <h6 *ngIf="application.PandSOfficerName"><strong class="p-strong">Current Office</strong>
          {{application.PandSOfficerName}}</h6>
      </div>
      <div
        *ngIf="application.ApplicationType_Id != 11 && application.ApplicationSource_Id != 5 && application.ApplicationSource_Id != 8">
        <h6 *ngIf="application.ApplicationSource_Id != 10"><strong class="p-strong">Name</strong>
          {{application.EmployeeName}}</h6>
        <h6 *ngIf="application.ApplicationSource_Id != 10"><strong class="p-strong">CNIC</strong>
          {{dashifyCNIC(application.CNIC)}}</h6>
        <h6 *ngIf="application.ApplicationSource_Id != 10"><strong class="p-strong">Contact No.</strong>
          {{application.MobileNo}}</h6>
        <h6 *ngIf="application.ApplicationSource_Id == 10"><strong class="p-strong">File Number</strong>
          {{application.DispatchNumber}}</h6>
        <h6 *ngIf="application.ApplicationSource_Id == 10"><strong class="p-strong">Subject / Title</strong>
          {{application.DispatchSubject}}</h6>
        <h6 *ngIf="application.StatusName"><strong class="p-strong">Current
            Status</strong> {{application.StatusName}}
        </h6>
        <h6 *ngIf="application.PandSOfficerName"><strong class="p-strong">Current Office</strong>
          {{application.PandSOfficerName}}</h6>
      </div>
      <div *ngIf="application.ApplicationType_Id == 11 && application.ApplicationSource_Id != 5">
        <h6><strong class="p-strong">Name</strong> {{application.EmployeeName}}</h6>
        <h6><strong class="p-strong">CNIC</strong> {{dashifyCNIC(application.CNIC)}}</h6>
        <h6><strong class="p-strong">Contact No.</strong> {{application.MobileNo}}</h6>
        <h6 *ngIf="application.StatusName"><strong class="p-strong">Current Status</strong> {{application.StatusName}}
        </h6>
        <h6 *ngIf="application.PandSOfficerName"><strong class="p-strong">Current Office</strong>
          {{application.PandSOfficerName}}</h6>
      </div>

    </div>
    <div class="col-md-4 control-col-end">
      <img *ngIf="barcodeImgSrc" alt="IMAGE AREA" class="mb-2 mt-2" [src]="barcodeSrc()" />
      <button (click)="printBarcode()" kendoButton primary="true" class="ml-2 animated fadeIn"><i class="fa fa-barcode"></i>
      </button>
    </div>
  </div>

  <!--  <div class="row">
    <div class="col-md-4 col-xs-12 control-col-st">
      <h6><strong class="p-strong">Tracking ID</strong> {{applicationM.TrackingNumber}}</h6>
      <h6><strong class="p-strong">Date and Time</strong>&nbsp;<span [innerHTML]="getAwesomeDate(applicationM.Created_Date)"></span></h6>
      <h6><strong class="p-strong">Application Type</strong> {{applicationM.ApplicationType ? applicationM.ApplicationType : ''}}</h6>
      <h6><strong class="p-strong">Source</strong>
        {{applicationM.Created_By.startsWith('fdo') ? 'Facilitation Center' : applicationM.Created_By.startsWith('pl') ? 'Parliamentartian Lounge' : ''}}
      </h6>
    </div>
    <div class="col-md-4 col-xs-12 control-col">
      <h6><strong class="p-strong">Name</strong> {{applicationM.EmployeeName ? applicationM.EmployeeName : ''}}</h6>
      <h6><strong class="p-strong">CNIC</strong> {{dashifyCNIC(applicationM.CNIC)}}</h6>
    </div>
    <div class="col-md-4 control-col-end">
      <img *ngIf="barcodeImgSrc" alt="IMAGE AREA" class="mb-2 mt-2" [src]="barcodeSrc()" />
    </div>
  </div> -->


  <kendo-grid [data]="applicationLogs" [resizable]="true" *ngIf="!loading && trackingNo > 49572">
    <kendo-grid-column field="DateTime" [title]="'Date'" width="10" [headerClass]="'grid-header-text-center'"
      [style]="{'padding': '8px 12px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
      <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
        <p class="m-0 text-center">{{ dataItem.DateTime | date:'dd/MM/yyyy' }}</p>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="DateTime" [title]="'Time'" width="10" [headerClass]="'grid-header-text-center'"
      [style]="{'padding': '8px 12px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
      <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
        <p class="m-0 text-center">{{ dataItem.DateTime | date:'h:mm a' }}</p>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="ActionName" [title]="'Tracking Information'" width="60" [headerClass]="'grid-header-text'"
      [style]="{'padding': '8px 12px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
      <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
        <div class="d-flex flex-column width-full" *ngIf="application.ApplicationSource_Id != 8"
          style="font-weight: 100 !important;">
          <!-- Marked -->
          <div *ngIf="dataItem.Action_Id == 2">
            {{dataItem.StatusByDesignation}}
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ActionName}}</strong>
            application to
            {{dataItem.ToOfficerDesignation}}
          </div>
          <!-- Recieved -->
          <div *ngIf="dataItem.Action_Id == 14">
            {{dataItem.ToOfficerDesignation}}
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ActionName}}</strong>
            files
            from
            {{dataItem.FromOfficerDesignation}}
          </div>
          <!-- Process Initiated -->
          <div *ngIf="dataItem.Action_Id == 15">
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ActionName}}</strong> by
            {{dataItem.StatusByDesignation}}
          </div>
          <!-- File Requested -->
          <div *ngIf="dataItem.Action_Id == 5">
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ActionName}}</strong> by
            {{dataItem.FileRequestByDesignation}}
          </div>
          <!-- File Available -->
          <div *ngIf="dataItem.Action_Id == 8">
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ActionName}}</strong> for
            {{dataItem.FileRequestByDesignation}} at
            Central Record Room
          </div>
          <!-- File Issued -->
          <div *ngIf="dataItem.Action_Id == 6">
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ActionName}}</strong> to
            {{dataItem.afrLogByDesignation}} by
            Central Record Room
          </div>
          <!-- File Returned -->
          <div *ngIf="dataItem.Action_Id == 7">
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ActionName}}</strong> to
            Central Record Room by
            {{dataItem.afrLogByDesignation}}
          </div>
          <!-- Forwarded -->
          <div *ngIf="dataItem.Action_Id == 3">
            {{dataItem.FromOfficerDesignation}}
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ActionName}}</strong>
            files to
            {{dataItem.ToOfficerDesignation}}
            <small class="pull-right" *ngIf="dataItem.DueDate"><i><span class="p-strong">reply expected before</span>
                &nbsp;<u>{{dataItem.DueDate | date: 'dd/MM/yyyy'}}</u></i></small>
          </div>
          <!-- Status Updated -->
          <div *ngIf="dataItem.Action_Id == 4">
            <span *ngIf="dataItem.FromOfficerDesignation == 'Facilitation Centre (HISDU)'">
              <strong style="font-family: Roboto-Bold !important;"
                class="no-underline text-bold wb-break-all d-inline-block" href="">Facilitation Centre (HISDU)</strong>
              Marked Application to
              <strong style="font-family: Roboto-Bold !important;"
                class="no-underline text-bold wb-break-all d-inline-block"
                href="">{{dataItem.ToOfficerDesignation}}</strong>
            </span>
            <span *ngIf="dataItem.FromOfficerDesignation != 'Facilitation Centre (HISDU)'">
              {{dataItem.StatusByDesignation}}
              <strong style="font-family: Roboto-Bold !important;"
                class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ToStatusName}}</strong>
              application
            </span>

          </div>
          <!-- Order Issued -->
          <div *ngIf="dataItem.Action_Id == 10">
            {{dataItem.StatusByDesignation}}
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">Issued Order</strong>
          </div>
          <!-- Order Uploaded -->
          <div *ngIf="dataItem.Action_Id == 12">
            {{dataItem.StatusByDesignation}}
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">Uploaded Order</strong>
          </div>
          <div *ngIf="dataItem.Action_Id == 9">
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.RemarksByOfficer}}</strong>
          </div>
          <small class="text-muted"><i class="fa fa-user"></i> {{dataItem.CreatedBy}}</small>
          <div class="Box p-3 mt-2" *ngIf="dataItem.Remarks">
            <span *ngIf="dataItem.Purpose">Purpose: {{dataItem.Purpose}}.</span>
            <span>{{dataItem.Remarks}}</span>
          </div>
        </div>
        <div class="d-flex flex-column width-full" *ngIf="application.ApplicationSource_Id == 8"
          style="font-weight: 100 !important;">
          <!-- Marked -->
          <div *ngIf="dataItem.Action_Id == 2">
            {{dataItem.StatusByDesignation}}
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ActionName}}</strong>
            application to
            {{dataItem.ToOfficerDesignation}}
          </div>
          <!-- Recieved -->
          <div *ngIf="dataItem.Action_Id == 14">
            {{dataItem.ToOfficerDesignation}}
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ActionName}}</strong>
            files
            from
            {{dataItem.FromOfficerDesignation}}
          </div>
          <!-- Process Initiated -->
          <div *ngIf="dataItem.Action_Id == 15">
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ActionName}}</strong> by
            {{dataItem.StatusByDesignation}}
          </div>
          <!-- File Requested -->
          <div *ngIf="dataItem.Action_Id == 5">
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ActionName}}</strong> by
            {{dataItem.FileRequestByDesignation}}
          </div>
          <!-- File Available -->
          <div *ngIf="dataItem.Action_Id == 8">
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ActionName}}</strong> for
            {{dataItem.FileRequestByDesignation}} at
            Central Record Room
          </div>
          <!-- File Issued -->
          <div *ngIf="dataItem.Action_Id == 6">
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ActionName}}</strong> to
            {{dataItem.afrLogByDesignation}} by
            Central Record Room
          </div>
          <!-- File Returned -->
          <div *ngIf="dataItem.Action_Id == 7">
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ActionName}}</strong> to
            Central Record Room by
            {{dataItem.afrLogByDesignation}}
          </div>
          <!-- Forwarded -->
          <div *ngIf="dataItem.Action_Id == 3">
            {{dataItem.FromOfficerDesignation}}
            updated office to
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block"
              href="">{{dataItem.ToOfficerDesignation}}</strong>
          </div>
          <!-- Status Updated -->
          <div *ngIf="dataItem.Action_Id == 4">
            <span *ngIf="dataItem.FromOfficer_Id == 1 && rowIndex == 0">
              <strong style="font-family: Roboto-Bold !important;"
                class="no-underline text-bold wb-break-all d-inline-block" href="">Secretary Office</strong>
              Marked Summary to
              <strong style="font-family: Roboto-Bold !important;"
                class="no-underline text-bold wb-break-all d-inline-block"
                href="">{{dataItem.ToOfficerDesignation}}</strong>
            </span>
            <span *ngIf="rowIndex > 0">
              {{dataItem.StatusByDesignation}}
              <strong style="font-family: Roboto-Bold !important;"
                class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.ToStatusName}}</strong>
              application
            </span>

          </div>
          <!-- Order Issued -->
          <div *ngIf="dataItem.Action_Id == 10">
            {{dataItem.StatusByDesignation}}
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">Issued Order</strong>
          </div>
          <!-- Order Uploaded -->
          <div *ngIf="dataItem.Action_Id == 12">
            {{dataItem.StatusByDesignation}}
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">Uploaded Order</strong>
          </div>
          <div *ngIf="dataItem.Action_Id == 9">
            <strong style="font-family: Roboto-Bold !important;"
              class="no-underline text-bold wb-break-all d-inline-block" href="">{{dataItem.RemarksByOfficer}}</strong>
          </div>
          <small class="text-muted"><i class="fa fa-user"></i> {{dataItem.CreatedBy}}</small>
          <div class="Box p-3 mt-2" *ngIf="dataItem.Remarks">
            <span *ngIf="dataItem.Purpose">Purpose: {{dataItem.Purpose}}.</span>
            <span>{{dataItem.Remarks}}</span>
          </div>
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="ToStatus" *ngIf="application.ApplicationSource_Id != 10" width="20" title="Status"
      [headerClass]="'grid-header-text'"
      [style]="{'padding': '8px 12px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
      <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
        <p class="m-0">{{dataItem.ToStatusName == 'No Process Initiated' ? 'Under Process' : dataItem.ToStatusName}}
        </p>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
  <div class="k-i-loading" *ngIf="loading"></div>
</div>
<!-- && trackingNo <= 48572 -->
<kendo-grid [data]="applicationLogs" [resizable]="true" *ngIf="!loading && trackingNo <= 49572">
  <kendo-grid-column field="DateTime" [title]="'Date'" width="10" [headerClass]="'grid-header-text-center'"
    [style]="{'padding': '8px 12px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
    <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
      <p class="m-0 text-center">{{ dataItem.DateTime | date:'dd/MM/yyyy' }}</p>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="DateTime" [title]="'Time'" width="10" [headerClass]="'grid-header-text-center'"
    [style]="{'padding': '8px 12px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
    <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
      <p class="m-0 text-center">{{ dataItem.DateTime | date:'h:mm a' }}</p>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="ActionName" [title]="'Tracking Information'" width="60" [headerClass]="'grid-header-text'"
    [style]="{'padding': '8px 12px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
    <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
      <div class="d-flex flex-column width-full" style="font-weight: 100 !important;">
        <!-- Forwarded -->
        <div *ngIf="dataItem.FromOfficerDesignation && dataItem.ToOfficerDesignation">
          {{dataItem.FromOfficerDesignation}}
          <strong style="font-family: Roboto-Bold !important;"
            class="no-underline text-bold wb-break-all d-inline-block" href="">Forwarded</strong>
          files to
          {{dataItem.ToOfficerDesignation}}
        </div>
        <!-- Status Updated -->
        <div *ngIf="dataItem.StatusByDesignation">
          <strong style="font-family: Roboto-Bold !important;"
            class="no-underline text-bold wb-break-all d-inline-block" href="">Status</strong> updated by
          {{dataItem.StatusByDesignation}}
        </div>
        <div class="Box p-3 mt-2" *ngIf="dataItem.Remarks?.trim()">
          <span>{{dataItem.Remarks?.trim()}}</span>
        </div>
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="ToStatus" width="20" title="Status" [headerClass]="'grid-header-text'"
    [style]="{'padding': '8px 12px', 'border-bottom' : '1px solid rgba(0, 0, 0, 0.08)'}">
    <ng-template kendoGridCellTemplate let-column="column" let-dataItem let-rowIndex="rowIndex">
      <p class="m-0">{{dataItem.ToStatusName == 'No Process Initiated' ? 'Recieved' : dataItem.ToStatusName}}
      </p>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
<div class="k-i-loading" *ngIf="loading"></div>

<div class="animated fadeIn ml-1" *ngIf="applicationM">
  <div class="row">
    <div class="col-md-4 p-1 control-col-st" *ngIf="applicationM.ApplicationType_Id != 12">
      <div class="row mb-1">
        <div class="col-md-12">
          <p class="m-0">
            <strong class="p-strong">Name</strong>
          </p>
          <p class="m-0">
            {{applicationM.EmployeeName ? applicationM.EmployeeName : ''}}
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-12">
          <p class="m-0">
            <strong class="p-strong">CNIC</strong>
          </p>
          <p class="m-0">
            {{applicationM.CNIC ? dashifyCNIC(applicationM.CNIC) : ''}}
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-12">
          <p class="m-0">
            <strong class="p-strong">Contact</strong>
          </p>
          <p class="m-0">
            {{applicationM.EmpMobileNo ? applicationM.EmpMobileNo : ''}}
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-12">
          <p class="m-0">
            <strong class="p-strong">Designation</strong>
          </p>
          <p class="m-0">
            {{applicationM.WDesignation_Name ? applicationM.WDesignation_Name : ''}}
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-12">
          <p class="m-0">
            <strong class="p-strong">Place of Posting</strong>
          </p>
          <p class="m-0">
            {{applicationM.EmpHealthFacility ? applicationM.EmpHealthFacility : ''}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-1 control-col-st" *ngIf="applicationM.ApplicationType_Id == 12">
      <div class="row mb-1">
        <div class="col-md-12">
          <p class="m-0">
            <strong class="p-strong">Name</strong>
          </p>
          <p class="m-0">
            {{applicationM.ProcurementName ? applicationM.ProcurementName : ''}}
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-12">
          <p class="m-0">
            <strong class="p-strong">CNIC</strong>
          </p>
          <p class="m-0">
            {{applicationM.ProcurementCNIC ? dashifyCNIC(applicationM.ProcurementCNIC) : ''}}
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-12">
          <p class="m-0">
            <strong class="p-strong">Company Address</strong>
          </p>
          <p class="m-0">
            {{applicationM.ProcurementCompanyAddress ? applicationM.ProcurementCompanyAddress : ''}}
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-12">
          <p class="m-0">
            <strong class="p-strong">Contact No</strong>
          </p>
          <p class="m-0">
            {{applicationM.ProcurementContactNo ? applicationM.ProcurementContactNo : ''}}
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-12">
          <p class="m-0">
            <strong class="p-strong">Submitted Documents</strong>
          </p>
          <p class="m-0">
            {{applicationM.ProcurementDocsSubmitted ? applicationM.ProcurementDocsSubmitted : ''}}
          </p>
        </div>
      </div>
    </div>


    <div class="col-md-4 p-1 control-col">
      <div class="row mb-1">
        <div class="col-md-12">
          <p class="m-0">
            <strong class="p-strong">Intitiated at</strong>
          </p>
          <p class="m-0">
            {{applicationM.Created_By.startsWith('fdo') ? 'Facilitation Center' :
            applicationM.Created_By.startsWith('pl') ? 'Parliamentartian Lounge' : ''}}
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-12">
          <p class="m-0">
            <strong class="p-strong">Current Office</strong>
          </p>
          <p class="m-0">
            {{applicationM.OfficerDesignation ? applicationM.OfficerDesignation : 'Not forwarded to any office.'}}
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-12">
          <p class="m-0">
            <strong class="p-strong">Current Status</strong>
          </p>
          <p class="m-0">
            {{applicationM.Status ? applicationM.Status == 'Pending Approval' ? 'Under Process' : applicationM.Status :
            ''}}
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-12">
          <p class="m-0">
            <strong class="p-strong">Application Type</strong>
          </p>
          <p class="m-0">
            {{applicationM.ApplicationType ? applicationM.ApplicationType : '' | date}}
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-12">
          <p class="m-0">
            <strong class="p-strong">Date & Time</strong>
          </p>
          <p class="m-0">
            {{applicationM.Created_Date | date: 'dd/MM/yyyy'}} {{applicationM.Created_Date | date: 'shortTime'}}
          </p>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="row" hidden *ngIf="application">
  <div class="col-md-8">
    <div class="page preview p-0" id="applicationPrint" *ngIf="application.TrackingNumber <= 49572"
      [innerHTML]="transform(application.RawText)">
    </div>
    <div class="page preview" id="applicationPrint" *ngIf="application.TrackingNumber > 49572">
      <div class="application-page">

        <table border="0" class="header-pshealth" cellspacing="0">
          <tbody>
            <tr>
              <td class="gop-logo-a4-header"><img alt="Punjab Government Log"
                  src="http://hrmis.pshealthpunjab.gov.pk/assets/img/brand/govlogoUpdated.png" />
              </td>
              <td class="pshealth-right-a4-td-header">
                <div class="pshealth-right-a4-text-header"><strong class="p-strong">GOVERNMENT OF THE PUNJAB<br />
                    PRIMARY &amp; SECONDARY HEALTHCARE<br />
                    DEPARTMENT </strong><br />
                  Dated Lahore, {{application.Created_Date | date:'dd-MM-yyyy'}}</div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                &nbsp;</td>
            </tr>
            <tr>
              <td class="app-type-preview" colspan="2">
                <p *ngIf="application.ApplicationSource_Id != 5"> <strong class="p-strong"><strong
                      class="p-strong">{{capitalize(application.ApplicationTypeName)}}
                      #
                      {{application.TrackingNumber
                    ?
                    application.TrackingNumber : '00000'}}</strong> </strong></p>
                <p *ngIf="application.ApplicationSource_Id == 5"> <strong class="p-strong"><strong
                      class="p-strong">Tracking
                      #
                      {{application.TrackingNumber
                      ?
                      application.TrackingNumber : '00000'}}</strong> </strong></p>
              </td>
            </tr>
          </tbody>
        </table>
        <table border="0" *ngIf="application.ApplicationType_Id != 11 && application.ApplicationSource_Id != 5"
          cellspacing="0" class="applicant-information">
          <tbody>
            <tr>
              <td colspan="4" class="applicant-info-heading">
                <strong class="p-strong">Applicant Information</strong></td>
            </tr>
            <tr>
              <td class="applicant-info-detail-1">
                <p class="mb-0 mt-2"> <strong class="p-strong">Name </strong></p>
                <p class="mb-0"> <strong class="p-strong">Father Name </strong></p>
                <p class="mb-0" *ngIf="application.Department_Id && application.Department_Id != 25">
                  <strong class="p-strong">Department
                  </strong></p>
              </td>
              <td class="applicant-info-detail-2">
                <p class="mb-0 mt-2">{{application.EmployeeName ? application.EmployeeName : '-'}}</p>
                <p class="mb-0">{{application.FatherName ? application.FatherName : '-'}}</p>
                <p class="mb-0" *ngIf="application.Department_Id && application.Department_Id != 25">{{application.DepartmentName
                ?
                application.DepartmentName : '-'}}</p>
              </td>
              <td class="applicant-info-detail-3">
                <p class="mb-0 mt-2"> <strong class="p-strong">CNIC </strong></p>

                <p class="mb-0" *ngIf="application.MobileNo"> <strong class="p-strong">Contact </strong></p>
              </td>
              <td class="applicant-info-detail-4">
                <p class="mb-0 mt-2">{{application.CNIC ? dashifyCNIC(application.CNIC) : '-'}} </p>
                <p class="mb-0" *ngIf="application.MobileNo">{{application.MobileNo ? application.MobileNo : ''}}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="1">
                <p class="mb-0"><strong class="p-strong">Designation </strong></p>
              </td>
              <td colspan="3">
                <p class="mb-0">{{application.designationName ? application.designationName : '-'}}</p>
              </td>
            </tr>
            <tr>
              <td colspan="1">
                <p><strong class="p-strong">Health Facility </strong></p>
              </td>
              <td colspan="3">
                <p>{{application.HealthFacilityName ? application.HealthFacilityName : '-'}}</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table border="0" *ngIf="application.ApplicationSource_Id == 5" cellspacing="0" class="applicant-information">
          <tbody>
            <tr>
              <td colspan="4" class="applicant-info-heading">
                <strong class="p-strong">R & I Branch Applicant Information</strong></td>
            </tr>
            <tr>
              <td class="applicant-info-detail-1">
                <p class="mb-0 mt-2"> <strong class="p-strong">Dispatch # </strong></p>
                <p class="mb-0"> <strong class="p-strong">Dated </strong></p>
                <p class="mb-0"> <strong class="p-strong">CNIC </strong></p>
                <p class="mb-0"> <strong class="p-strong">Subject </strong></p>
                <p class="mb-0"> <strong class="p-strong">Address </strong></p>
              </td>
              <td class="applicant-info-detail-2">
                <p class="mb-0 mt-2">{{application.DispatchNumber ? application.DispatchNumber : '-'}} </p>
                <p class="mb-0">
                  {{application.DispatchDated ? (application.DispatchDated | date:'dd/MM/yyyy') : '-'}} </p>
                <p class="mb-0">{{application.CNIC ? dashifyCNIC(application.CNIC) : '-'}}</p>
                <p class="mb-0">{{application.DispatchSubject ? application.DispatchSubject : '-'}}</p>
                <p class="mb-0">{{application.DispatchFrom ? application.DispatchFrom : '-'}}</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table border="0" *ngIf="application.ApplicationSource_Id == 2 && !application.IsPersonAppeared" cellspacing="0"
          class="applicant-information">
          <tbody>
            <tr>
              <td colspan="4" class="applicant-info-heading">
                <strong class="p-strong">Paliamentarian Information</strong></td>
            </tr>
            <tr>
              <td class="applicant-info-detail-5">
                <p class="mb-0 mt-2"> <strong class="p-strong">Name </strong></p>
                <p> <strong class="p-strong">Reference </strong></p>
              </td>
              <td class="applicant-info-detail-6">
                <p class="mb-0 mt-2">{{personAppeared.Name ?
                personAppeared.Name : '-'}}</p>
                <p>{{personAppeared.Reference ?
                personAppeared.Reference : '-'}}</p>
              </td>
              <td class="applicant-info-detail-7">
                <p class="mb-0 mt-2"> <strong class="p-strong">District</strong></p>
                <p> <strong class="p-strong">Constituency </strong></p>
                <!--  <p class="mb-0"> <strong  class="p-strong">File # </strong></p> -->
              </td>
              <td class="applicant-info-detail-8">
                <p class="mb-0 mt-2">{{personAppeared.DistrictName
                ?
                personAppeared.DistrictName : '-'}}</p>
                <p>{{personAppeared.Constituency ?
                personAppeared.Constituency : '-'}}</p>

              </td>
            </tr>
          </tbody>
        </table>
        <table border="0" *ngIf="application.ApplicationType_Id == 1 || application.ApplicationType_Id == 2 || 
          application.ApplicationType_Id == 3 || application.ApplicationType_Id == 4 || 
          application.ApplicationType_Id == 9 || application.ApplicationType_Id == 10" cellspacing="0"
          class="application-type-detail-preview">
          <tbody>
            <tr>
              <td colspan="2" class="application-type-detail-preview-heading">
                <strong class="p-strong">{{application.ApplicationTypeName}} Detail</strong> </td>
            </tr>
            <tr *ngIf="application.ApplicationType_Id == 1">
              <td>
                <p class="mb-0 mt-2"> <strong class="p-strong">Leave Type</strong>
                  &nbsp;<u>{{application.leaveType}}</u></p>
                <p> <strong class="p-strong">From Date</strong>
                  &nbsp;<u>{{application.FromDate | date:'dd/MM/yyyy'}}</u></p>
              </td>
              <td>
                <p class="mb-0 mt-2"> <strong class="p-strong">Period </strong> &nbsp;{{application.TotalDays}}
                  day{{application.TotalDays
                <= 1 ? '' : 's' }} </p>
                <p> <strong class="p-strong">To Date</strong>
                  &nbsp;<u>{{application.ToDate | date:'dd/MM/yyyy'}}</u></p>
              </td>
            </tr>
            <tr *ngIf="application.ApplicationType_Id == 2">
              <td class="w-20">
                <p class="mb-0 mt-2"> <strong class="p-strong">Type</strong></p>
                <p class="mb-0"> <strong class="p-strong">From</strong></p>
                <p> <strong class="p-strong">To</strong></p>
              </td>
              <td class="w-80">
                <p class="mb-0 mt-2"><u>General Transfer</u></p>
                <p class="mb-0">{{application.fromHealthFacility ? application.fromHealthFacility : '-'}}</p>
                <p>{{application.toHealthFacility ? application.toHealthFacility : '-'}}</p>
              </td>
            </tr>
            <tr *ngIf="application.ApplicationType_Id == 3">
              <td class="w-20">
                <p class="mb-0 mt-2"> <strong class="p-strong">Seniority #</strong></p>
                <p> <strong class="p-strong">Current Scale</strong></p>
              </td>
              <td class="w-80">
                <p class="mb-0 mt-2">{{application.SeniorityNumber ? application.SeniorityNumber : '-'}}</p>
                <p>{{application.CurrentScale ? application.CurrentScale : '-'}}</p>
              </td>
            </tr>
            <tr *ngIf="application.ApplicationType_Id == 4">
              <td class="w-20">
                <p class="mt-2"> <strong class="p-strong">Type</strong></p>
              </td>
              <td class="w-80">
                <p class="mt-2">{{application.RetirementType_Id ? application.RetirementType_Id : '-'}}</p>
              </td>
            </tr>
            <tr *ngIf="application.ApplicationType_Id == 8">
              <td class="w-20">
                <p class="mb-0 mt-2"> <strong class="p-strong">Designation</strong></p>
                <p> <strong class="p-strong">Health Facility</strong></p>
              </td>
              <td class="w-80">
                <p class="mb-0 mt-2">{{application.toDesignationName ? application.toDesignationName : '-'}}</p>
                <p>{{application.toHealthFacility ? application.toHealthFacility : '-'}}</p>
              </td>
            </tr>
            <tr *ngIf="application.ApplicationType_Id == 10">
              <td class="w-30">
                <p class="mt-2"> <strong class="p-strong">Contract Expire Date</strong></p>
              </td>
              <td class="w-70">
                <p class="mt-2">{{application.AdhocExpireDate | date:'dd/MM/yyyy'}}</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table *ngIf="applicationAttachments?.length > 0" border="0" cellspacing="0" class="attached-document">
          <tbody>
            <tr>
              <td colspan="2" class="attached-document-heading">
                <strong class="p-strong">Scanned Documents</strong></td>
            </tr>
            <tr>
              <td colspan="2">
                <p class="mt-2">
                  <span *ngFor="let attachment of applicationAttachments;let i = index;">
                    <strong class="p-strong">{{(i + 1) + ' - '}}</strong>
                    <span style="cursor:pointer;">{{attachment.DocName}}</span>
                    <br *ngIf="i == 4"> &nbsp;
                  </span>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <table *ngIf="application.Remarks" border="0" cellspacing="0" class="remarks-preview">
          <tbody>
            <tr>
              <td colspan="2" class="remarks-heading">
                <strong class="p-strong">Remarks</strong> </td>
            </tr>
            <tr>
              <td colspan="2">
                <p class="mt-2">{{application.Remarks}}</p>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <table border="0" cellspacing="0" class="info-application-preview">
          <tbody>
            <tr>
              <td colspan="3" class="info-application-preview-heading">
                <strong class="p-strong">Tracking ID :
                  {{application.TrackingNumber ? application.TrackingNumber : '0000'}}</strong>
              </td>
            </tr>
            <tr>
              <td class="info-application-preview-left">
                <p class="ml-1 mb-0 mt-2"><small><i>Track this application through Department's official Website
                      or
                      Mobile App</i></small></p>
                <p class="ml-1 mb-0"><small><i>Website link: <strong
                        class="p-strong">pshealthpunjab.gov.pk</strong></i></small></p>
                <p class="ml-1 mb-0"><small><i>Mobile App: <strong class="p-strong">FTS</strong> -
                      hisduapps.pshealthpunjab.gov.pk</i></small></p>
                <p class="ml-1"><small><i>Helpline: <strong>1033</strong></i></small></p>
              </td>
              <td class="info-application-preview-right">
                <img *ngIf="barcodeImgSrc" alt="IMAGE AREA" class="mb-2 mt-2" [src]="barcodeSrc()" />
              </td>
            </tr>
          </tbody>
        </table>
        <table border="0" cellspacing="0" class="application-route-detail">
          <tbody>
            <tr>
              <td class="application-route-detail-header">
                <strong class="p-strong">Marked To</strong> </td>
              <td class="application-route-detail-header">
                <strong class="p-strong">Date Time</strong>
              </td>
            </tr>
            <tr>
              <td class="w-50">
                <p class="mt-10">{{application.ForwardingOfficerName ? application.ForwardingOfficerName
                : '____________________________'}}</p>
              </td>
              <td class="w-50">
                <p class="mt-10">{{application.Created_Date | date:'dd/MM/yyyy, h:mm a'}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="barcodeFileBars" style="margin: 0 !important" hidden>
    <img [src]="barcodeSrc()" alt="">
    <label style="display: block;margin-top:4px;width:77px;text-align: center;">{{application.TrackingNumber}}</label>
  </div>
</div>