<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Hello, world!</title>
    
    <style>
        input{
            border-bottom: 0px white;
            border-right: 0px white;
            border-top: 0px white;
            border-left: 0px white;
        }
        input:focus{
    outline: none;
}
    </style>

  </head>
  <body>

   
    
    <div class="container mt-5">

        <div class="col-lg-12">
            <table class="table table-bordered">
                <tr>
                    <td colspan="2">
                        <p style="line-height: 0.7rem;">Sr. No./Sty No.</p>
                        <p style="line-height: 0.7rem;">{{file.DiaryNo}}</p>
                    </td>
                    <td colspan="2">
                        <p style="line-height: 0.7rem;">{{file.F_Name}}</p>
                        <p style="line-height: 0.7rem;">Consultant BS-{{file.F_BPS}} ENT-Specialist</p>  
                        <p style="line-height: 0.7rem;">DHQ Hospital, Bhakkar</p>
                    </td>
                </tr>
                <tr></tr>
               
                <tr>
                    <td colspan="2">DATE OF BIRTH</td>
                    <td colspan="2">{{file.F_DateOfBirth | date}}</td>
                </tr>
                <tr>
                    <td colspan="2">DATE OF SUPERANNUATION</td>
                    <td colspan="2">01-01-2022</td>
                </tr>
                <tr>
                    <td colspan="2">EDUCATIONAL QUALIFICATION</td>
                    <td colspan="2">"MBBS, "</td>
                </tr>
                <tr>
                    <td>DATE OF INITIAL APPOINTMENT IN THE CADRE</td>
                    <td>PRESENT SCALE</td>
                    <td>DATE OF PROMOTION TO PRESENT SCALE</td>
                    <td>DATE OF PROMOTION TO LOWER SCALE</td>
                </tr>
                <tr style="height: 30px; text-align: center;">
                    <td style="padding: 0px; margin: 0;"></td>
                    <td style="padding: 0px; margin: 0;"></td>
                    <td style="padding: 0px; margin: 0;">(BS-18)</td>
                    <td style="padding: 0px; margin: 0;">BS-17</td>
                </tr>
                <tr>
                    <td>03.08.2009</td>
                    <td>BS-18</td>
                    <td>03.08.2009</td>
                    <td>Nil</td>
                </tr>
            </table>
            
            
        </div>
        
            <div class="col-lg-12 text-center">
                <p><b>DATE OF GRANT OF MOVE OVER/PROMOTION/ANTE-DATED PROMOTION/SELECTION</b></p>
                <p><b>GRADE:- Nil</b></p>
            </div>
    
        
          <div class="col-lg-12">
            <table class="table table-bordered">
                <tr>
                    <td colspan="2">LENGTH OF SERVICE</td>
                    <td colspan="1">REQUIRED LENGTH OF SERVICE FOR PROMOTION</td>
                    <td colspan="1">COMPLETION OF MANDATORY/IN-SERVICE TRAINING</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>TOTAL</td>
                    <td>IN THE PRESENT GRADE</td>
                    <td rowspan="2">7</td>
                    <td rowspan="2">-</td>
                </tr>
                <tr>
                    <td>More than</td>
                    <td>10 years more than</td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td colspan="2">PREVIOUS DEFERMENT / SUPERSESSION BY THE PSB (if any)</td>
                    <td colspan="2">Case is being presented for the first time (Annex-C)</td>
                </tr>
                <tr>
                    <td colspan="2">COURT DECISION (if any)</td>
                    <td colspan="2">Nil</td>
                </tr>
                <tr>
                    <td colspan="2">INQUIRY STATUS</td>
                    <td colspan="2">Nil (Annex-G & H)</td>
                </tr>
                <tr>
                    <td colspan="2">PENALTIES AWARDED (if any)</td>
                    <td colspan="2">Nil</td>
                </tr>
                <tr>
                    <td colspan="2">MISSING ACR(s)</td>
                    <td colspan="2">Nil</td>
                </tr>
                <tr>
                    <td colspan="2">ADVERSE ACR(s)</td>
                    <td colspan="2">Nil</td>
                </tr>
                <tr>
                    <td colspan="2">DATE OF COMMUNICATION OF ADVERSE REMARKS / OUTCOME</td>
                    <td colspan="2">Nil</td>
                </tr>
            </table>
          </div>

          <div class="col-lg-12">
            <p><b>OVERALL ACR GRADING:</b></p>
          </div>
        

          <div class="col-lg-12 ">
            <table class="table table-bordered">
                <tr>
                    <td>BPS</td>
                    <td>Outstanding</td>
                    <td>VERY GOOD</td>
                    <td>Good</td>
                    <td>Satisfactory</td>
                    <td>AVERAGE</td>
                    <td>ADVERSE REMARKS / REPORTS</td>
                </tr>
                <tr>
                    <td>BS-18</td>
                    <td></td>
                    <td>12</td>
                    <td></td>
                    <td>1</td>
                    <td></td>
                    <td>-</td>
                </tr>
            </table>
          </div>
        
          <div class="col-lg-12 text-center">
            <p><b><u>QUANTIFICATION OF SCORE</u></b></p>
          </div>
          
          <div class="col-lg-12">
            <table class="table table-bordered">
                <tr>
                    <td>Required Threshold</td>
                    <td>Score of PERs (70)</td>
                    <td>Marks awarded by PSB (30)</td>
                    <td>Total</td>
                </tr>
                <tr>
                    <td>60</td>
                    <td>55.3</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>LEAVE STATUS</td>
                    <td colspan="3">Nil</td>
                </tr>
                <tr>
                    <td>ADDITIONAL INFORMATION</td>
                    <td colspan="3">Nil</td>
                </tr>
                <tr>
                    <td>ELIGIBILITY FOR PROMOTION</td>
                    <td colspan="3">RECOMMENDED FOR PROMOTION TO THE RANK OF SENIOR CONSULTANT (BS-19) ON REGULAR BASIS IN HIS CADRE</td>
                </tr>
            </table>
          </div>
        
          <div class="col-lg-12 text-center mt-5">
            <p style="line-height: 00.7rem;"><b>SCHEDULE-II</b></p>
            <p style="line-height: 00.7rem;"><b>PER GRADING & QUANTIFICATION FORM</b></p>
            <p style="line-height: 00.7rem;"><b>(FOR PROMOTION FROM BS-18 TO BS-19)</b></p>
          </div>
          
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <tr>
                        <td>Date of Birth</td>
                        <td>Department</td>
                        <td>Seniority No.</td>
                    </tr>
                    <tr>
                        <td>20.10.1965</td>
                        <td>Health</td>
                        <td>24-A</td>
                    </tr>
                </table>
            </div>
     
        
   
                      
                        <div class="col-lg-12 text-center">
                            <table class="table table-bordered">
                                <tr>
                                    <td rowspan="2">Year</td>
                                    <td rowspan="2">Post held</td>
                                    <td colspan="2">Period of PER</td>
                                    <td colspan="2">PER’s Assessment</td>
                                    <td>Fitness</td>
                                    <td rowspan="2">Score</td>
                                </tr>
                                <tr>
                                    <td>From</td>
                                    <td>To</td>
                                    <td>By RO</td>
                                    <td>By CO</td>
                                    <td>for promotion</td>
                                </tr>
                                <tr>
                                    <td colspan="8">Present Scale BS-18.</td>
                                </tr>
                                <tr *ngFor="let acr of DDSDeatils; let i = index" >
                                    <td></td>
                                    <td></td>
                                    <td>{{acr.FromPeriod | date:'dd.MM.yyyy'}}</td>
                                    <td>{{acr.ToPeriod | date:'dd.MM.yyyy'}}</td>
                                    <td>{{acr.RORemarks}}</td>
                                    <td>{{acr.CORemarks}}</td>
                                    <td>{{acr.Fitness}}</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>2000 to 2019</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>MISSING</td>
                                    <td></td>
                                    <td></td>
                                    
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="6" class="text-center">Aggregate Score =42/6*10</td>
                                    <td>70</td>
                                </tr>
                            </table>

                            <p><b><u>CALCULATION OF SCORE</u></b></p>

                            <table class="table table-bordered">
                                <tr>
                                    <td>PERS Quantified Score</td>
                                    <td>Basic Scale</td>
                                    <td>Aggregate Score</td>
                                    <td>Weightage Fector</td>
                                    <td>Points Obtained</td>
                                </tr>
                              
                                <tr>
                                    <td rowspan="2"></td>
                                    <td>Present Scale:</td>
                                    <td>70</td>
                                    <td>0.7</td>
                                    <td>49</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">
                                        (i) Additions
                                        <br/>
                                        (ii) Deletions
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td colspan="4" class="text-center">Total :</td>
                                    <td>49</td>
                                </tr>
                            </table>
                        </div>
                        
                   

            
        





        
               

    </div>
        
       
           
        
   
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
  </body>
</html>