a.comment-indicator:hover+div.comment {
	background: #ffd;
	position: absolute;
	display: block;
	border: 1px solid black;
	padding: 0.5em
}

.zoom-text {
	font-size: 14px !important;
	-webkit-transition: font-size .2s linear;
	-moz-transition: font-size .2s linear;
	-o-transition: font-size .2s linear;
	transition: font-size .2s linear;
	/* Animation */
}

.zoom-text:hover {
	/* transform: scale(1.08); */
	font-size: 22px !important;
	padding: 20px;
	/* box-shadow: 0px 0px 5px black !important; */
	/* (150% zoom)*/
}

a.comment-indicator {
	background: red;
	display: inline-block;
	border: 1px solid black;
	width: 0.5em;
	height: 0.5em
}

div.comment {
	display: none
}

table {
	border-collapse: collapse;
	page-break-after: always
}

.gridlines td {
	border: 1px dotted black
}

.gridlines th {
	border: 1px dotted black
}

.b {
	text-align: center
}

.e {
	text-align: center
}

.f {
	text-align: right
}

.inlineStr {
	text-align: left
}

.n {
	text-align: right
}

.s {
	text-align: left
}

td.style0 {
	vertical-align: bottom;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style0 {
	vertical-align: bottom;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style1 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style1 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style2 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style2 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style3 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style3 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style4 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 16pt;
	background-color: white
}

th.style4 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 16pt;
	background-color: white
}

td.style5 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style5 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style6 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style6 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style7 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 16pt;
	background-color: white
}

th.style7 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 16pt;
	background-color: white
}

td.style8 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style8 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style9 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 9pt;
	background-color: white
}

th.style9 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 9pt;
	background-color: white
}

td.style10 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style10 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style11 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style11 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style12 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 16pt;
	background-color: white
}

th.style12 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 16pt;
	background-color: white
}

td.style13 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style13 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style14 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

th.style14 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

td.style15 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

th.style15 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

td.style16 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style16 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style17 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style17 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style18 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style18 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style19 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style19 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style20 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style20 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style21 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style21 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style22 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

th.style22 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

td.style23 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 14pt;
	background-color: white
}

th.style23 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 14pt;
	background-color: white
}

td.style24 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style24 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style25 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style25 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style26 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style26 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style27 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

th.style27 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

td {
	padding: 7px !important;
}

td.style28 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

th.style28 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 11pt;
	background-color: white
}

td.style29 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

th.style29 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

td.style30 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

th.style30 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

td.style31 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

th.style31 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

td.style32 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

th.style32 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

td.style33 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

th.style33 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: black !important;
	font-family: 'Calibri';
	font-size: 12pt;
	background-color: white
}

table.sheet0 col.col0 {
	width: 23.72222195pt
}

table.sheet0 col.col1 {
	width: 29.82222188pt
}

table.sheet0 col.col2 {
	width: 713.69999181pt
}

table.sheet0 col.col3 {
	width: 29.82222188pt
}

table.sheet0 col.col4 {
	width: 29.82222188pt
}

table.sheet0 col.col5 {
	width: 29.82222188pt
}

table.sheet0 col.col6 {
	width: 50.15555498pt
}

table.sheet0 col.col7 {
	width: 82.01111017pt
}

table.sheet0 col.col8 {
	width: 29.82222188pt
}

table.sheet0 col.col9 {
	width: 29.82222188pt
}

table.sheet0 col.col10 {
	width: 29.82222188pt
}

table.sheet0 col.col11 {
	width: 60.32222153pt
}

table.sheet0 col.col12 {
	width: 29.82222188pt
}

table.sheet0 col.col13 {
	width: 29.82222188pt
}

table.sheet0 col.col14 {
	width: 29.82222188pt
}

table.sheet0 col.col15 {
	width: 61.67777707pt
}

table.sheet0 col.col16 {
	width: 29.82222188pt
}

table.sheet0 col.col17 {
	width: 29.82222188pt
}

table.sheet0 col.col18 {
	width: 29.82222188pt
}

table.sheet0 col.col19 {
	width: 60.9999993pt
}

table.sheet0 col.col20 {
	width: 397.85555099pt
}

table.sheet0 col.col21 {
	width: 29.82222188pt
}

table.sheet0 col.col22 {
	width: 86.75555456pt
}

table.sheet0 col.col23 {
	width: 151.82222048pt
}

table.sheet0 col.col24 {
	width: 29.82222188pt
}

table.sheet0 col.col25 {
	width: 29.82222188pt
}

table.sheet0 col.col26 {
	width: 29.82222188pt
}

table.sheet0 col.col27 {
	width: 29.82222188pt
}

table.sheet0 col.col28 {
	width: 29.82222188pt
}

table.sheet0 col.col29 {
	width: 29.82222188pt
}

table.sheet0 col.col30 {
	width: 647.27777035pt
}

table.sheet0 tr {
	height: 15pt
}

table.sheet0 tr.row0 {
	height: 18pt
}

table.sheet0 tr.row3 {
	height: 139.8pt
}


.verticalText {
	writing-mode: vertical-rl;
	text-orientation: sideways-right;
}