<div class="animated fadeIn">
  <div class="row animated fadeIn">
    <div class="col-md-4 control-col-st">
      <div class="card card-accent-danger">
        <div class="card-body">
          <div class="cursor-p">
            <h4 class="p-strong">Director Health Services</h4>
            <hr>
            <ul style="height: 200px;">
              <li>Any SMO/SWMO (BS-18) or APMO/APWMO (BS-19) or PMO/PWMO (BS-20) is eligible for the post</li>
              <li>Candidate holding Master Degree in Public Health (MPH) / Four weeks IPH training or equivalent
                Diploma
                shall be preferred</li>
              <li>Candidate must have minimum five years experience of administrative position in P&SHD</li>
              <li>No PEEDA Inquiry should be pending against the candidate</li>
            </ul>
          </div>
          <button kendoButton (click)="setDesignationId(1)" class="pull-right btn-block btn-lg" primary="true"
            look="outline">Apply for DHS</button>
        </div>

      </div>
    </div>
    <div class="col-md-4 control-col">
      <div class="card card-accent-primary">
        <div class="card-body">
          <div class="cursor-p">
            <h4 class="p-strong">Chief Executive Officer (CEO)</h4>
            <hr>
            <ul style="height: 200px;">
              <li>Any SMO/SWMO (BS-18) or APMO/APWMO (BS-19) or PMO/PWMO (BS-20) is eligible for the post</li>
              <li>Candidate holding Master Degree in Public Health (MPH) / Four weeks IPH training or equivalent
                Diploma
                shall be preferred</li>
              <li>Candidate must have minimum five years experience of administrative position in P&SHD</li>
              <li>No PEEDA Inquiry should be pending against the candidate</li>
            </ul>
          </div>
          <button kendoButton (click)="setDesignationId(1)" class="pull-right btn-block btn-lg" primary="true"
            look="outline">Apply for CEO</button>
        </div>

      </div>
    </div>
    <div class="col-md-4 control-col">
      <div class="card card-accent-success">
        <div class="card-body">
          <div class="cursor-p">
            <h4 class="p-strong">Medical Superintendent (DHQ Hospital)</h4>
            <hr>
            <ul style="height: 200px;">
              <li>Any SMO/SWMO (BS-18) or APMO/APWMO (BS-19) or PMO/PWMO (BS-20) is eligible for the post</li>
              <li>Candidate holding Master Degree in Public Health (MPH) / Four weeks IPH training or equivalent
                Diploma
                shall be preferred</li>
              <li>Candidate must have minimum two years experience of administrative position in P&SHD</li>
              <li>No PEEDA Inquiry should be pending against the candidate</li>
            </ul>
          </div>
          <button kendoButton (click)="setDesignationId(2)" class="pull-right btn-block btn-lg" primary="true"
            look="outline">Apply for MS
            DHQ</button>
        </div>

      </div>
    </div>
    <div class="col-md-4 control-col-end">
      <div class="card card-accent-success">
        <div class="card-body">
          <div class="cursor-p">
            <h4 class="p-strong">Medical Superintendent (THQ Hospital)</h4>
            <hr>
            <ul style="height: 200px;">
              <li>Any SMO/SWMO (BS-18) or APMO/APWMO (BS-19) is eligible for the post</li>
              <li>Candidate holding Master Degree in Public Health (MPH) / Four weeks IPH training or equivalent
                Diploma
                shall be preferred</li>
              <li>Candidate having experience of administrative position in P&SHD shall be preferred</li>
              <li>No PEEDA Inquiry should be pending against the candidate</li>
            </ul>
          </div>
          <button kendoButton (click)="setDesignationId(3)" class="pull-right btn-block btn-lg" primary="true"
            look="outline">Apply for MS
            THQ</button>
        </div>

      </div>
    </div>
    <div class="col-md-4 control-col-st">
      <div class="card card-accent-danger">
        <div class="card-body">
          <div class="cursor-p">
            <h4 class="p-strong">District Officer Health  (PS)</h4>
            <hr>
            <ul style="height: 200px;">
              <li>Any SMO/SWMO (BS-18) or APMO/APWMO (BS-19) is eligible for the post</li>
              <li>Candidate holding Master Degree in Public Health (MPH) / Four weeks IPH training or equivalent
                Diploma
                shall be preferred</li>
              <li>Candidate must have minimum two years experience of administrative position in P&SHD</li>
              <li>No PEEDA Inquiry should be pending against the candidate</li>
            </ul>
          </div>
          <div class="row">
            <div class="col-md-12"><button kendoButton (click)="setDesignationId(4)" class="pull-right btn-block btn-lg"
                primary="true" look="outline">Apply for DHO (PS)</button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 control-col">
      <div class="card card-accent-danger">
        <div class="card-body">
          <div class="cursor-p">
            <h4 class="p-strong">District Officer Health  (MS)</h4>
            <hr>
            <ul style="height: 200px;">
              <li>Any SMO/SWMO (BS-18) or APMO/APWMO (BS-19) is eligible for the post</li>
              <li>Candidate holding Master Degree in Public Health (MPH) / Four weeks IPH training or equivalent
                Diploma
                shall be preferred</li>
              <li>Candidate must have minimum two years experience of administrative position in P&SHD</li>
              <li>No PEEDA Inquiry should be pending against the candidate</li>
            </ul>
          </div>
          <div class="row">
            <div class="col-md-12"><button kendoButton (click)="setDesignationId(5)" class="pull-right btn-block btn-lg"
                primary="true" look="outline">Apply for DHO (MS)</button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 control-col-end">
      <div class="card card-accent-danger">
        <div class="card-body">
          <div class="cursor-p">
            <h4 class="p-strong">District Officer Health  (HRM&MIS)</h4>
            <hr>
            <ul style="height: 200px;">
              <li>Any SMO/SWMO (BS-18) or APMO/APWMO (BS-19) is eligible for the post</li>
              <li>Candidate holding Master Degree in Public Health (MPH) / Four weeks IPH training or equivalent
                Diploma
                shall be preferred</li>
              <li>Candidate must have minimum two years experience of administrative position in P&SHD</li>
              <li>No PEEDA Inquiry should be pending against the candidate</li>
            </ul>
          </div>
          <div class="row">
            <div class="col-md-12"><button kendoButton (click)="setDesignationId(6)" class="pull-right btn-block btn-lg"
                primary="true" look="outline">Apply for DHO (HRM&MIS)</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 control-col-st">
      <div class="card card-accent-danger">
        <div class="card-body">
          <div class="cursor-p">
            <h4 class="p-strong">Deputy District Health Officer</h4>
            <hr>
            <ul style="height: 200px;">
              <li>Any MO/WMO (BS-17) with at least (02) Years of regular service/experience or SMO/SWMO (BS-18) is
                eligible for the post</li>
              <li>Candidate holding Master Degree in Public Health (MPH) / Four weeks IPH training or equivalent
                Diploma
                shall be preferred</li>
              <li>Candidate must have minimum two years experience of administrative position in P&SHD</li>
              <li>No PEEDA Inquiry should be pending against the candidate</li>
            </ul>
          </div>
          <div class="row">
            <div class="col-md-12"><button kendoButton (click)="setDesignationId(4)" class="pull-right btn-block btn-lg"
                primary="true" look="outline">Apply for DDHO</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animated fadeIn">
   
  </div>
</div>

<!-- <div class="login-div">
  <div class="animated fadeIn"
    *ngIf="profile.Status && (profile.Status == 'Accepted' || profile.Status == 'Completed')">
    <div class="row mb-2">
      <div class="col-md-4">
        <button kendoButton primary="true" look="outline" class="btn-block" routerLink="/smo/profile">1-
          Profile</button>
      </div>
      <div class="col-md-4">
        <button kendoButton primary="true" look="outline" class="btn-block" routerLink="/smo/letter">2- Offer Letter &
          Acceptance</button>
      </div>
      <div class="col-md-4">
        <button kendoButton primary="true" look="outline" class="btn-block" routerLink="/smo/preferences">3-
          Preferences</button>
      </div>
    </div>
    <hr>
  </div>
  <div class="animated fadeIn">
    <div class="row" *ngIf="!submitted">
      <div class="col-md-12">
        <label class="k-form-field
                mt-2">
          <span>Select Administrative Post for which you want to apply</span>
          <kendo-dropdownlist [data]="dropDowns.designations" [defaultItem]="dropDowns.defultFiltersModel.designation"
            [textField]="'Name'" [valueField]="'Id'" [value]="dropDowns.selectedFiltersModel.designation"
            (valueChange)="dropdownValueChanged($event, 'designation')">
          </kendo-dropdownlist>
        </label>
      </div>
    </div>
    <div *ngIf="submitted" class="animated fadeIn">
      <hr>
      <div class="row">
        <div class="col-md-12 col-sm-12 control-col-st">
          <table class="table view-table" style="background: transparent;">
            <tbody>
              <tr class="animated fadeIn">
                <td style="border:none !important;">Thankyou for Submitting promotion application.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-3 control-col-st">
      <button class=" btn btn-so-primary btn-block" *ngIf="!submitted" [disabled]="!promotionApply.ToDesignation_Id || promotionApply?.ToDesignation_Id <= 0" (click)="submitApplication()" [ladda]="addingPrefs"
        data-style="zoom-in">Accept and Submit</button>
    </div>
    <div class="col-md-3 offset-md-6 control-col-end">
      <button type="button" class="btn btn-secondary btn-block" routerLink="/smo">Logout</button>
    </div>
  </div>
</div> -->