<div class="animated fadeIn" *ngIf="loading">
  <div class="row print-not">
    <div class="col-md-8 col-xs-12">
      <div class="top-h3">
        New Application
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="top-controls">
        <button kendoButton [primary]="true" [look]="'outline'" routerLink="../">Back To List</button>
      </div>
    </div>
  </div>
  <div class="p-4" style="background: #e9e9e9;color: black;border-radius: 9px;">
    <div class="row print-not" id="applicantInfo">
      <div class="col-md-6 col-sm-6 col-xs-12 control-col-st">
        <label class="k-form-field">
          <span>Subject</span>&nbsp;<span class="text-danger">*</span>
          <input kendoTextBox type="text" [(ngModel)]="application.DispatchSubject">
        </label>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12 control-col">
        <label class="k-form-field">
          <span>Dispatch Number</span>&nbsp;<span class="text-danger">*</span>
          <input kendoTextBox type="text" [(ngModel)]="application.DispatchNumber">
        </label>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 control-col-end">
        <label class="k-form-field">
          <span>Dated</span>&nbsp;<span class="text-danger">*</span>
          <kendo-datepicker placeholder="Dispatch Date" [format]="'dd/MM/yyyy'" [(ngModel)]="application.DispatchDated">
          </kendo-datepicker>
        </label>
      </div>
      <div class="col-md-5 col-sm-6 col-xs-12 control-col-st">
        <label class="k-form-field">
          <span>From</span>&nbsp;<span class="text-muted">(address)</span>&nbsp;<span class="text-danger">*</span>
          <input kendoTextBox type="text" [(ngModel)]="application.DispatchFrom">
        </label>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 control-col">
        <label class="k-form-field">
          <span>Type</span>&nbsp;
          <span class="text-danger">*</span>
          <kendo-dropdownlist [data]="applicationTypes" [textField]="'Name'" [valueField]="'Id'"
            (valueChange)="dropdownValueChanged($event, 'applicationType')"
            [value]="dropDowns.selectedFiltersModel.applicationType">
          </kendo-dropdownlist>
        </label>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12 control-col">
        <label class="k-form-field">
          <span>CNIC</span>&nbsp;
          <kendo-maskedtextbox [mask]="cnicMask" name="CNIC" [(ngModel)]="application.CNIC">
          </kendo-maskedtextbox>
        </label>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12 control-col-end">
        <label class="k-form-field">
          <span>Contact No.</span>&nbsp;
          <kendo-maskedtextbox [mask]="mobileMask" name="MobileNo" [(ngModel)]="application.MobileNo">
          </kendo-maskedtextbox>
        </label>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 control-col-st">
        <label class="k-form-field">
          <span>Scanned Copy</span>&nbsp;<span class="text-danger">*</span>
          <input #photoRef type="file" accept="image/jpg, image/jpeg, application/pdf" multiple="multiple"
            (change)="readUrl($event)">
        </label>
      </div>
    </div>
    <hr *ngIf="currentUser.UserName && currentUser.UserName.startsWith('ri.') && applicationDocuments.length > 0">
    <div *ngIf="currentUser.UserName && currentUser.UserName.startsWith('ri.') && applicationDocuments.length > 0"
      id="documents">
      <div class="content-heading mb-2">
        Documents <small class="pull-right" (click)="getApplicationDocuments(application.ApplicationType_Id)"><i
            class="fa fa-refresh"></i></small>
      </div>
      <div class="row">
        <div class="col-md-3" *ngFor="let doc of applicationDocuments; let i = index;">
          <input type="checkbox" [(ngModel)]="doc.checked" [id]="doc.Id.toString()" class="k-checkbox" />
          <label class="k-checkbox-label" [for]="doc.Id.toString()">{{doc.Name}}
          </label>
        </div>
      </div>
    </div>
    <hr class="print-not">
    <div class="content-heading mb-2 print-not">
      Mark to
    </div>
    <div class="row print-not">
      <div class="col-md-6 col-sm-6 col-xs-12 control-col-st">
        <kendo-dropdownlist [data]="officersData" [textField]="'DesignationName'" [valueField]="'Id'"
          (valueChange)="dropdownValueChanged($event, 'office')" [value]="dropDowns.selectedFiltersModel.officer"
          (filterChange)="handleFilter($event, 'markingOfficer')" [filterable]="true"
          [defaultItem]="dropDowns.selectedFiltersModel.officer">
        </kendo-dropdownlist>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 control-col">
        <button kendoButton [ladda]="savingApplication" data-style="zoom-in" (click)="onSubmit()" [primary]="true"
          [disabled]="photoFile.length == 0 || !application.DispatchFrom || !application.DispatchSubject || !application.DispatchNumber || !application.DispatchDated || !application.ForwardingOfficer_Id || application.barcode"
          class="btn-block btn-lg">Submit
        </button>
      </div>
      <div *ngIf="application.Id" class="col-md-3 col-sm-6 col-xs-12 control-col">
        <button kendoButton (click)="clear()" [primary]="true" look="outline"><i class="fa fa-refresh"></i>&nbsp;Clear
        </button>
      </div>
    </div>
    <hr class="print-not">
    <div *ngIf="application.barcode">
      <div class="content-heading mb-2 print-not">
        Tracking #
      </div>
      <div class="row animated fadeIn print-not">
        <div class="col-md-2">
          <div style="width:100%;">
            <img [src]="barcodeSrc()" class="animated fadeIn" *ngIf="application.barcode" alt="">
            <label
              style="display: block;margin-top:4px;width:77px;text-align: center;">{{application.TrackingNumber}}</label>
          </div>
          <div id="barcodeFileBars" style="margin: 0 !important" hidden>
            <img [src]="barcodeSrc()" alt="">
            <label
              style="display: block;margin-top:4px;width:77px;text-align: center;">{{application.TrackingNumber}}</label>
          </div>
          <button kendoButton type="button" [primary]="true" [look]="'outline'" (click)="printBarcode()">
            <i class="fa fa-print"></i>&nbsp;Print</button>
        </div>
      </div>
    </div>
  </div>
</div>