.app-bg-black {
  background: #202124 !important;
  color: white !important;
}

.nation-table-1 {
  width: 100%;
}

.nation-table-stats-1 {
  margin-top: -5px;
}

.c-flag-1 {
  margin-top: -10px;
}

.c-flag-2 {
  width: 45px;
  height: 45px;
  margin-top: -5px;
}

.c-item {
  border-radius: 5px;
  margin-bottom: 3px;
  border: 1px solid #5f6368;
  cursor: pointer;
}

.c-name-1 small {
  font-size: 10px !important;
  font-weight: 100 !important;
  font-family: 'Roboto-Light' !important;
  color: black;
  line-height: 2.4;
}

.c-name-1 {
  font-size: 16px !important;
  font-weight: 100 !important;
  font-family: 'Roboto-Bold' !important;
}

.c-numbers-1 {
  font-size: 14px !important;
  font-weight: 100 !important;
  font-family: 'Roboto-Bold' !important;
}

.c-title-1 {
  font-size: 12px !important;
  font-family: 'Roboto-Light' !important;
  font-weight: 100 !important;
  color: #b7b7b7;
}

.c-name-2 {
  font-size: 14px !important;
  font-weight: 100 !important;
  font-family: 'Roboto-Bold' !important;
}

.c-numbers-2 {
  font-size: 12px !important;
  font-weight: 100 !important;
  font-family: 'Roboto-Bold' !important;
}

.c-title-2 {
  font-family: 'Roboto-Light' !important;
  font-weight: 100 !important;
  color: #e4e4e4;
}

.k-grid td {
  border-color: transparent !important;
}

.w-33 {
  width: 33% !important;
  margin: 0px 3px !important;
}

.w-60 {
  width: 60% !important;
}

.dashboard-table-heading-custom {
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  background: white;
  font-size: 1.2rem;
  margin: 0px !important;
}

p.hoverable-table {
  margin: 0px !important;
  width: 100% !important;
  /* font-size: 12px !important; */
  padding: 0.25em 0.5em 0.25em 0.8em !important;
  font-size: 14px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

p.hoverable-table:hover {
  background: rgba(0, 0, 0, 0.08);
}