<div *ngIf="!profile" class="k-i-loading"></div>
<div class="animated fadeIn" *ngIf="profile">

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="top-h3">
        {{profile.EmployeeName ? profile.EmployeeName : 'Employee Profile'}}
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="top-controls">
        <button kendoButton [primary]="true" class="ml-2" routerLink="/attandance/empList">Back To List</button>

        <button type="button" *ngIf="currentUser.RoleName != 'Deputy Secretary' && currentUser.RoleName != 'HRView'"
          kendoButton [primary]="true" [look]="'outline'" class="ml-2"
          [routerLink]="'/attandance/' + profile.CNIC + '/edit'">Edit</button>
        <button
          *ngIf="currentUser.RoleName == 'Deputy Secretary' && currentUser.UserName == 'ordercell' && currentUser.RoleName != 'HRView'"
          type="button" kendoButton [primary]="true" [look]="'outline'" class="ml-2"
          [routerLink]="'/attandance/' + profile.CNIC + '/edit'">Edit</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 control-col-st">
      <table class="table table-50 view-table" style="background: transparent;">
        <tbody>
          <tr>
            <td><strong class="p-strong">Photo</strong></td>
            <td>
              <img class="pic-shadow" width="100" height="100"
                [src]="'https://hrmis.pshealthpunjab.gov.pk/Uploads/ProfilePhotos/' + profile.CNIC + '_23.jpg?v=' + radnom"
                onError="this.src='../../../assets/img/notfound.png'" alt="">
            </td>
          </tr>
          <tr>
            <td><strong class="p-strong">Name</strong></td>
            <td>{{profile.EmployeeName}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Father Name</strong></td>
            <td>{{profile.FatherName}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">CNIC</strong></td>
            <td>{{dashifyCNIC(profile.CNIC)}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">D.O.B</strong></td>
            <td>{{profile.DateOfBirth | date:'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Gender</strong></td>
            <td>{{profile.Gender}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Domicile</strong></td>
            <td>{{profile.Domicile_Name}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Marital Status</strong></td>
            <td>{{profile.MaritalStatus}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Bloodgroup</strong></td>
            <td>{{profile.BloodGroup}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Religion</strong></td>
            <td>{{profile.Religion_Name}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Mother Tongue</strong></td>
            <td>{{profile.Language_Name}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Mobile Number</strong></td>
            <td>{{profile.MobileNo}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">E-mail</strong></td>
            <td>{{profile.EMaiL}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Landline Number</strong></td>
            <td>{{profile.LandlineNo}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Fax Number</strong></td>
            <td>{{profile.Faxno}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Permanent Address</strong></td>
            <td>{{profile.PermanentAddress}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Correspondence
                Address</strong></td>
            <td>{{profile.CorrespondenceAddress}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Biometric Device ID
              </strong></td>
            <td>{{profile.IndRegID}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Department
              </strong></td>
            <td>{{profile.SubDept_Name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 col-sm-12 control-col-end">
      <table class="table table-50 view-table" style="background: #f7f8fa;">
        <tbody>
          <tr [routerLink]="'/health-facility/' + profile.HfmisCode">
            <td><strong class="p-strong">Health Facility</strong></td>
            <td>{{profile.HealthFacility ? profile.HealthFacility
        + ', ' + (profile.Tehsil == profile.District ? profile.Tehsil : profile.Tehsil + ', ' +
        profile.District) : ''}}</td>
          </tr>
          <tr *ngIf="profile.WorkingHealthFacility" [routerLink]="'/health-facility/' + profile.WorkingHFMISCode">
            <td><strong class="p-strong">Working Health Facility</strong></td>
            <td>{{profile.WorkingHealthFacility
        + ', ' + (profile.WorkingTehsil == profile.WorkingDistrict ? profile.WorkingTehsil : profile.WorkingTehsil + ', ' +
        profile.WorkingDistrict)}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Actual Designation</strong></td>
            <td>{{profile.Designation_Name}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Working Designation</strong></td>
            <td>{{profile.WDesignation_Name}}</td>
          </tr>
          <tr *ngIf="profile.AdditionalCharge">
            <td><strong class="p-strong">Additional Charge</strong></td>
            <td>{{profile.AdditionalCharge}}</td>
          </tr>
          <tr *ngIf="profile.HoD == '1'">
            <td><strong class="p-strong">Head of Department</strong></td>
            <td>Yes</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Current Grade BPS</strong></td>
            <td>{{profile.CurrentGradeBPS}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Joining Grade BPS</strong></td>
            <td>{{profile.JoiningGradeBPS}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Post Sanctioned with Scale</strong></td>
            <td>{{profile.Postaanctionedwithscale}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Private Practice</strong></td>
            <td>{{profile.PrivatePractice}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Status</strong></td>
            <td>{{profile.StatusName}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Seniority Number</strong></td>
            <td>{{profile.SeniorityNo}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Personnel Number</strong></td>
            <td>{{profile.PersonnelNo}}</td>
          </tr>

          <tr>
            <td><strong class="p-strong">Present Posting Order No</strong></td>
            <td>{{profile.PresentPostingOrderNo}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Present Posting Order Date</strong></td>
            <td>{{profile.PresentPostingDate | date:'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Present Joining Date</strong></td>
            <td>{{profile.PresentStationLengthOfService | date:'dd-MM-yyyy'}}</td>
          </tr>


        </tbody>
      </table>
      <table class="table table-50 view-table mt-4" style="background: #f7f8fa;">
        <tbody>
          <tr>
            <td><strong class="p-strong">Department</strong></td>
            <td>{{profile.Department_Name}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Post Type</strong></td>
            <td>{{profile.PostType_Name}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Cadre</strong></td>
            <td>{{profile.Cadre_Name}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Employment Mode</strong></td>
            <td>{{profile.EmpMode_Name}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Length of Service</strong></td>
            <td>{{profile.LengthOfService}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Qualification</strong></td>
            <td>{{profile.QualificationName}}</td>
          </tr>
          <tr *ngIf="profile.AdditionalQualification">
            <td><strong class="p-strong">Additional Qualification</strong></td>
            <td>{{profile.AdditionalQualification}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-50 view-table mt-4" style="background: #f7f8fa;">
        <tbody>
          <tr>
            <td><strong class="p-strong">Date of First Appointment</strong></td>
            <td>{{profile.DateOfFirstAppointment | date:'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Date of Regularization</strong></td>
            <td>{{profile.DateOfRegularization | date:'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Superannuation Date</strong></td>
            <td>{{profile.SuperAnnuationDate | date:'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Contract Start Date</strong></td>
            <td>{{profile.ContractStartDate | date:'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Contract End Date</strong></td>
            <td>{{profile.ContractEndDate | date:'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <td><strong class="p-strong">Last Promotion Date</strong></td>
            <td>{{profile.LastPromotionDate | date:'dd-MM-yyyy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>