<div class="animated fadeIn">
  <div class="text-center p-2" style="background: #46a23f;color:white;height: 64px;">
    <img src="../../../assets/img/brand/logo-punjab.png" alt="" style="float:left;">
    <h2 class="p-strong animated fadeIn text-center" style="line-height: 1.6;background: transparent !important;">
      Application Request For Retirement Notification
    </h2>
  </div>
  <div class="container">
    <div class="card mx-4 animated fadeIn"
      style="background-color: transparent;border: none !important; margin-top: 30px !important;padding: 0px !important;">
      <div class="card-body" style="padding: 0px !important;">
        <!-- <div class="d-flex text-center">
                <div class="dept-name" style="width: 100%;padding: 40px 0px 0px 0px;">
                  <div class="dept-second">
                    Retirement Application
                  </div>
                </div>
              </div>
              <hr> -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>